<div class="lc-block lc-block--composition">
    <div class="lc-block__header">
        <span class="lc-block__icon">Cp</span>
        <span class="lc-block__type">Composicion</span>
        <span class="lc-block__header-spacer"></span>
        <span ng-if="block.data.items" class="lc-block__badge">{{block.data.items | sgPreviewCount:'elemento':'elementos'}}</span>
        <span ng-if="!block.data.items && block.label" class="lc-block__badge lc-block__badge--variant">{{block.label}}</span>
    </div>

    <div class="lc-block__body" ng-if="block.data.headingText || block.data.title || block.data.subtitle || block.data.collectionTitle || block.data.items">
        <span class="lc-block__eyebrow">{{block.label || 'Componente compuesto'}}</span>
        <span class="lc-block__preview-title">{{(block.data.headingText || block.data.title || block.data.collectionTitle || block.label) | sgPreviewText:'Componente':72}}</span>
        <span class="lc-block__preview-sub" ng-if="block.data.subtitle">{{block.data.subtitle | sgPreviewText:null:140}}</span>
        <div class="lc-chip-row" ng-if="block.data.items || block.data.collectionTitle">
            <span ng-if="block.data.items" class="lc-chip">{{block.data.items | sgPreviewCount:'elemento':'elementos'}}</span>
            <span ng-if="block.data.collectionTitle" class="lc-chip lc-chip--muted">{{block.data.collectionTitle | sgPreviewText:null:32}}</span>
        </div>
    </div>

    <div class="lc-block__body" ng-if="!block.data.headingText && !block.data.title && !block.data.subtitle && !block.data.collectionTitle && !block.data.items">
        <span class="lc-block__eyebrow">{{block.label || 'Componente compuesto'}}</span>
        <span class="lc-block__hint">Usa un titulo, una coleccion o una lista de items para que el preview explique el modulo.</span>
        <div class="lc-block__preview-empty">
            <div class="lc-skel lc-skel--lg"></div>
            <div class="lc-skel lc-skel--md"></div>
        </div>
    </div>
</div>
