<div class="lc-block lc-block--macro-host">
    <div class="lc-block__header">
        <span class="lc-block__icon">&#9644;</span>
        <span class="lc-block__type">Macro Host</span>
        <span class="lc-block__header-spacer"></span>
        <span ng-if="block.data.macroAlias && block.data.macroAlias.length" class="lc-block__badge lc-block__badge--accent">CDN</span>
    </div>

    <div class="lc-block__body" ng-if="block.data.macroAlias && block.data.macroAlias.length">
        <span class="lc-block__eyebrow">{{block.label || 'CDN Macro'}}</span>
        <span class="lc-block__preview-title">{{block.data.macroAlias[0] | sgPreviewText:'Macro':72}}</span>
        <span class="lc-block__preview-sub" ng-if="block.data.macroTitle">{{block.data.macroTitle | sgPreviewText:null:100}}</span>
        <div class="lc-chip-row">
            <span class="lc-chip lc-chip--accent">{{block.data.macroAlias[0] | sgPreviewText:null:32}}</span>
            <span ng-if="block.data.macroVariant" class="lc-chip lc-chip--muted">{{block.data.macroVariant}}</span>
            <span ng-if="block.data.macroTheme" class="lc-chip lc-chip--muted">{{block.data.macroTheme}}</span>
        </div>
    </div>

    <div class="lc-block__body" ng-if="!block.data.macroAlias || !block.data.macroAlias.length">
        <span class="lc-block__eyebrow">CDN Macro Host</span>
        <span class="lc-block__hint">Selecciona el macro CDN a inyectar desde el desplegable.</span>
        <div class="lc-block__preview-empty">
            <div class="lc-skel lc-skel--lg"></div>
            <div class="lc-skel lc-skel--sm"></div>
        </div>
    </div>
</div>
