<div class="lc-block lc-block--accordion-group">
    <div class="lc-block__header">
        <span class="lc-block__icon">Ac</span>
        <span class="lc-block__type">Accordion Group</span>
        <span class="lc-block__header-spacer"></span>
        <span ng-if="block.data.variant[0]" class="lc-block__badge lc-block__badge--variant">{{block.data.variant[0]}}</span>
    </div>

    <div class="lc-block__body">
        <span class="lc-block__eyebrow">{{block.data.title || 'Acordeón de FAQs'}}</span>
        <span class="lc-block__preview-sub" ng-if="block.data.subtitle">{{block.data.subtitle | sgPreviewText:null:140}}</span>
        <span class="lc-block__hint" ng-if="!block.data.faqItems || !block.data.faqItems.length">Preguntas frecuentes colapsables. Un solo web component gestiona el toggle. Agrega FAQ Items en la pestaña Container.</span>
        <div class="lc-chip-row" ng-if="block.data.faqItems && block.data.faqItems.length">
            <span class="lc-chip lc-chip--muted">{{block.data.faqItems.length}} items</span>
        </div>
    </div>
</div>
