<div class="lc-block lc-block--layout"
     ng-attr-data-container-type="{{block.data.containerType[0]}}"
     ng-attr-data-padding="{{block.data.padding[0]}}"
     ng-attr-data-margin="{{block.data.margin[0]}}"
     ng-attr-data-gap="{{block.data.gap[0]}}"
     ng-attr-data-alignment="{{block.data.alignment[0]}}"
     ng-attr-data-direction="{{block.data.direction[0]}}"
     ng-attr-data-theme="{{block.data.theme[0]}}"
     ng-attr-data-variant="{{block.data.variant[0]}}"
     ng-class="{
         'lc-block--no-padding-top': block.data.noPaddingTop,
         'lc-block--no-padding-bottom': block.data.noPaddingBottom,
         'lc-block--no-margin-top': block.data.noMarginTop,
         'lc-block--no-margin-bottom': block.data.noMarginBottom
     }">
    <div class="lc-block__header lc-block__header--layout-4col">
        <div class="lc-col-vis">
            <div class="lc-col-vis__col lc-col-vis__col--3"></div>
            <div class="lc-col-vis__col lc-col-vis__col--3"></div>
            <div class="lc-col-vis__col lc-col-vis__col--3"></div>
            <div class="lc-col-vis__col lc-col-vis__col--3"></div>
        </div>
        <span class="lc-block__type">4 Columnas</span>
        <span class="lc-block__header-spacer"></span>
        <span ng-if="block.data.noPaddingTop"    class="lc-chip lc-chip--toggle">↑ sin pad</span>
        <span ng-if="block.data.noPaddingBottom" class="lc-chip lc-chip--toggle">↓ sin pad</span>
        <span ng-if="block.data.noMarginTop"     class="lc-chip lc-chip--toggle">↑ sin mar</span>
        <span ng-if="block.data.noMarginBottom"  class="lc-chip lc-chip--toggle">↓ sin mar</span>
        <span ng-if="block.data.padding[0]"      class="lc-chip lc-chip--muted">pad: {{block.data.padding[0]}}</span>
        <span ng-if="block.data.margin[0]"       class="lc-chip lc-chip--muted">mar: {{block.data.margin[0]}}</span>
        <span ng-if="block.data.gap[0]"          class="lc-chip lc-chip--muted">gap: {{block.data.gap[0]}}</span>
        <span ng-if="block.data.containerType[0]" class="lc-chip lc-chip--muted">{{block.data.containerType[0]}}</span>
        <span ng-if="block.data.alignment[0]"    class="lc-chip lc-chip--muted">{{block.data.alignment[0]}}</span>
        <span ng-if="block.data.direction[0]"    class="lc-chip lc-chip--muted">{{block.data.direction[0]}}</span>
        <span ng-if="block.data.theme[0]"        class="lc-chip lc-chip--muted">{{block.data.theme[0]}}</span>
        <span ng-if="block.data.variant[0]"      class="lc-block__badge lc-block__badge--variant">{{block.data.variant[0]}}</span>
        <span class="lc-block__badge">3 + 3 + 3 + 3</span>
    </div>
    <div class="lc-layout__intro">
        <span class="lc-block__eyebrow">Preset</span>
        <span class="lc-block__hint">Pensado para mosaicos densos, iconografia, KPIs o listados cortos en paralelo.</span>
    </div>
    <div class="lc-area-labels lc-layout--4col"><span>Col 1</span><span>Col 2</span><span>Col 3</span><span>Col 4</span></div>
    <div class="lc-block__areas lc-layout lc-layout--4col">
        <umb-block-grid-render-area-slots></umb-block-grid-render-area-slots>
    </div>
</div>
