<div class="lc-block lc-block--integration">
    <div class="lc-block__header">
        <span class="lc-block__icon">&lt;/&gt;</span>
        <span class="lc-block__type">Integracion</span>
        <span class="lc-block__header-spacer"></span>
        <span ng-if="block.data.embedType[0]" class="lc-block__badge">{{block.data.embedType[0] | sgPreviewText}}</span>
        <span ng-if="!block.data.embedType[0] && block.data.scriptType[0]" class="lc-block__badge">{{block.data.scriptType[0] | sgPreviewText}}</span>
    </div>

    <div class="lc-block__body" ng-if="block.data.embedTitle || block.data.embedUrl || block.data.scriptContent">
        <span class="lc-block__eyebrow">{{block.label || 'Integracion externa'}}</span>
        <span class="lc-block__preview-title">{{(block.data.embedTitle || block.data.embedUrl || block.label) | sgPreviewText:'Integracion':72}}</span>
        <span class="lc-block__preview-sub" ng-if="block.data.embedUrl">{{block.data.embedUrl | sgPreviewText:null:140}}</span>
        <div class="lc-chip-row">
            <span ng-if="block.data.embedType[0] === 'iframe'" class="lc-chip">iFrame</span>
            <span ng-if="block.data.embedType[0] === 'widget'" class="lc-chip">Widget</span>
            <span ng-if="block.data.scriptContent" class="lc-chip">Script</span>
            <span ng-if="block.data.embedUrl" class="lc-chip lc-chip--muted">{{block.data.embedUrl | sgPreviewHost:'Origen externo'}}</span>
        </div>
    </div>

    <div class="lc-block__body" ng-if="!block.data.embedTitle && !block.data.embedUrl && !block.data.scriptContent">
        <span class="lc-block__eyebrow">{{block.label || 'Integracion externa'}}</span>
        <span class="lc-block__hint">Configura la URL de origen o el contenido del script para identificar esta integracion.</span>
        <div class="lc-block__preview-empty">
            <div class="lc-skel lc-skel--lg"></div>
            <div class="lc-skel lc-skel--sm"></div>
        </div>
    </div>
</div>
