<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6fb812d4-d776-47e2-9ada-3fa2d51fe4d6" Alias="DT.BlockList.PricingPlans" Level="1">
  <Info>
    <Name>DT.BlockList.PricingPlans</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d04b96f6-5554-4114-9bb9-f4af8df6f434",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Plan — {{ planName }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": { "max": null, "min": 1 }
}]]></Config>
</DataType>
