<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9e3c2c9-29fe-43ee-98c2-6d1c826da096" Alias="DT.BlockList.CourseLessons" Level="1">
  <Info>
    <Name>DT.BlockList.CourseLessons</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d20c7245-d417-4ed7-97ca-df61236d1473",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ lessonTitle }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": { "max": null, "min": 0 }
}]]></Config>
</DataType>
