<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bdef3027-193b-4334-b3ee-738eded72215" Alias="DTBlockGridSections" Level="1">
  <Info>
    <Name>DT.BlockGrid.Sections</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    { "key": "69af9e1d-3d06-4102-91b5-122ab19a749a", "name": "Layout" }
  ],
  "Blocks": [
    {
      "allowAtRoot": true, "allowInAreas": false, "areaGridColumns": 12,
      "areas": [
        { "alias": "sectionContent", "columnSpan": 12, "createLabel": null, "key": "3525d41c-ae84-47ac-9297-2148f6a4aae8", "maxAllowed": null, "minAllowed": 0, "rowSpan": 1, "specifiedAllowance": [] }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [ { "columnSpan": 12 } ],
      "contentElementTypeKey": "1c68f4a9-24e9-49ac-9efa-05b3d4b1404a",
      "editorSize": null, "forceHideContentEditorInOverlay": false,
      "groupKey": "69af9e1d-3d06-4102-91b5-122ab19a749a",
      "iconColor": null, "inlineEditing": false, "label": null,
      "rowMaxSpan": null, "rowMinSpan": null, "settingsElementTypeKey": null,
      "stylesheet": "/App_Plugins/LayoutComposer/styles/layout-composer.css",
      "thumbnail": null,
      "view": "~/App_Plugins/LayoutComposer/views/block-section.html"
    },
    {
      "allowAtRoot": true, "allowInAreas": true, "areaGridColumns": 12,
      "areas": [
        { "alias": "containerContent", "columnSpan": 12, "createLabel": null, "key": "4681b549-4008-447e-886a-50592e07aabc", "maxAllowed": null, "minAllowed": 0, "rowSpan": 1, "specifiedAllowance": [] }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [ { "columnSpan": 12 } ],
      "contentElementTypeKey": "f39c535a-879f-4bbf-8d94-8370c7f45f5a",
      "editorSize": null, "forceHideContentEditorInOverlay": false,
      "groupKey": "69af9e1d-3d06-4102-91b5-122ab19a749a",
      "iconColor": null, "inlineEditing": false, "label": null,
      "rowMaxSpan": null, "rowMinSpan": null, "settingsElementTypeKey": null,
      "stylesheet": "/App_Plugins/LayoutComposer/styles/layout-composer.css",
      "thumbnail": null,
      "view": "~/App_Plugins/LayoutComposer/views/block-container.html"
    },
    {
      "allowAtRoot": true, "allowInAreas": true, "areaGridColumns": 12,
      "areas": [
        { "alias": "stackContent", "columnSpan": 12, "createLabel": null, "key": "2a7e5b9b-4a85-42dd-9d8f-a4b0fbf4d690", "maxAllowed": null, "minAllowed": 0, "rowSpan": 1, "specifiedAllowance": [] }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [ { "columnSpan": 12 } ],
      "contentElementTypeKey": "c3dd2aaa-7cdf-410a-873e-2a36d52ecc39",
      "editorSize": null, "forceHideContentEditorInOverlay": false,
      "groupKey": "69af9e1d-3d06-4102-91b5-122ab19a749a",
      "iconColor": null, "inlineEditing": false, "label": null,
      "rowMaxSpan": null, "rowMinSpan": null, "settingsElementTypeKey": null,
      "stylesheet": "/App_Plugins/LayoutComposer/styles/layout-composer.css",
      "thumbnail": null,
      "view": "~/App_Plugins/LayoutComposer/views/block-stack.html"
    },
    {
      "allowAtRoot": true, "allowInAreas": true, "areaGridColumns": 12,
      "areas": [
        { "alias": "gridColumns", "columnSpan": 12, "createLabel": null, "key": "ccafb400-cff2-4436-97ef-faf3bc5cf787", "maxAllowed": null, "minAllowed": 0, "rowSpan": 1, "specifiedAllowance": [ { "elementTypeKey": "4b075799-e7ee-4164-aef8-21911360cfc1", "groupKey": null, "maxAllowed": null, "minAllowed": null } ] }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [ { "columnSpan": 12 } ],
      "contentElementTypeKey": "8247e825-1210-495a-a735-5ce8928fef07",
      "editorSize": null, "forceHideContentEditorInOverlay": false,
      "groupKey": "69af9e1d-3d06-4102-91b5-122ab19a749a",
      "iconColor": null, "inlineEditing": false, "label": null,
      "rowMaxSpan": null, "rowMinSpan": null, "settingsElementTypeKey": null,
      "stylesheet": "/App_Plugins/LayoutComposer/styles/layout-composer.css",
      "thumbnail": null,
      "view": "~/App_Plugins/LayoutComposer/views/block-grid.html"
    },
    {
      "allowAtRoot": false, "allowInAreas": true, "areaGridColumns": 12,
      "areas": [
        { "alias": "columnContent", "columnSpan": 12, "createLabel": null, "key": "46167238-51fa-499a-91fc-73484054ed6c", "maxAllowed": null, "minAllowed": 0, "rowSpan": 1, "specifiedAllowance": [] }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [ { "columnSpan": 1 }, { "columnSpan": 2 }, { "columnSpan": 3 }, { "columnSpan": 4 }, { "columnSpan": 5 }, { "columnSpan": 6 }, { "columnSpan": 7 }, { "columnSpan": 8 }, { "columnSpan": 9 }, { "columnSpan": 10 }, { "columnSpan": 11 }, { "columnSpan": 12 } ],
      "contentElementTypeKey": "4b075799-e7ee-4164-aef8-21911360cfc1",
      "editorSize": null, "forceHideContentEditorInOverlay": false,
      "groupKey": "69af9e1d-3d06-4102-91b5-122ab19a749a",
      "iconColor": null, "inlineEditing": false, "label": null,
      "rowMaxSpan": null, "rowMinSpan": null, "settingsElementTypeKey": null,
      "stylesheet": "/App_Plugins/LayoutComposer/styles/layout-composer.css",
      "thumbnail": null,
      "view": "~/App_Plugins/LayoutComposer/views/block-column.html"
    },
    {
      "allowAtRoot": true, "allowInAreas": true, "areaGridColumns": 12,
      "areas": [
        { "alias": "main", "columnSpan": 12, "createLabel": null, "key": "d0ea022b-fab0-450e-b88d-9bdd9fac3b19", "maxAllowed": null, "minAllowed": 0, "rowSpan": 1, "specifiedAllowance": [] }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [ { "columnSpan": 12 } ],
      "contentElementTypeKey": "57fc7792-c6d8-424b-be23-c7c217faedb3",
      "editorSize": null, "forceHideContentEditorInOverlay": false,
      "groupKey": "69af9e1d-3d06-4102-91b5-122ab19a749a",
      "iconColor": null, "inlineEditing": false, "label": null,
      "rowMaxSpan": null, "rowMinSpan": null, "settingsElementTypeKey": null,
      "stylesheet": "/App_Plugins/LayoutComposer/styles/layout-composer.css",
      "thumbnail": null,
      "view": "~/App_Plugins/LayoutComposer/views/block-layout-1col.html"
    },
    {
      "allowAtRoot": true, "allowInAreas": true, "areaGridColumns": 12,
      "areas": [
        { "alias": "left", "columnSpan": 6, "createLabel": null, "key": "ac1dd87e-62ec-4ed1-bb74-3082d86baf59", "maxAllowed": null, "minAllowed": 0, "rowSpan": 1, "specifiedAllowance": [] },
        { "alias": "right", "columnSpan": 6, "createLabel": null, "key": "10834317-e57a-4628-90f6-41211d07da7b", "maxAllowed": null, "minAllowed": 0, "rowSpan": 1, "specifiedAllowance": [] }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [ { "columnSpan": 12 } ],
      "contentElementTypeKey": "e8baf208-35d5-4c9f-9aa4-967fa5e070bf",
      "editorSize": null, "forceHideContentEditorInOverlay": false,
      "groupKey": "69af9e1d-3d06-4102-91b5-122ab19a749a",
      "iconColor": null, "inlineEditing": false, "label": null,
      "rowMaxSpan": null, "rowMinSpan": null, "settingsElementTypeKey": null,
      "stylesheet": "/App_Plugins/LayoutComposer/styles/layout-composer.css",
      "thumbnail": null,
      "view": "~/App_Plugins/LayoutComposer/views/block-layout-2col.html"
    },
    {
      "allowAtRoot": true, "allowInAreas": true, "areaGridColumns": 12,
      "areas": [
        { "alias": "main", "columnSpan": 8, "createLabel": null, "key": "4d194395-ed5b-4e72-9125-4f337cfa9412", "maxAllowed": null, "minAllowed": 0, "rowSpan": 1, "specifiedAllowance": [] },
        { "alias": "sidebar", "columnSpan": 4, "createLabel": null, "key": "bfa2e92f-e632-4d3e-a4f2-5481cadfd936", "maxAllowed": null, "minAllowed": 0, "rowSpan": 1, "specifiedAllowance": [] }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [ { "columnSpan": 12 } ],
      "contentElementTypeKey": "911a64ba-ccc4-4b21-a3f2-f9273c38c6b6",
      "editorSize": null, "forceHideContentEditorInOverlay": false,
      "groupKey": "69af9e1d-3d06-4102-91b5-122ab19a749a",
      "iconColor": null, "inlineEditing": false, "label": null,
      "rowMaxSpan": null, "rowMinSpan": null, "settingsElementTypeKey": null,
      "stylesheet": "/App_Plugins/LayoutComposer/styles/layout-composer.css",
      "thumbnail": null,
      "view": "~/App_Plugins/LayoutComposer/views/block-layout-main-sidebar.html"
    },
    {
      "allowAtRoot": true, "allowInAreas": true, "areaGridColumns": 12,
      "areas": [
        { "alias": "col1", "columnSpan": 4, "createLabel": null, "key": "b3141704-5e2d-4adf-9c83-654377a9717f", "maxAllowed": null, "minAllowed": 0, "rowSpan": 1, "specifiedAllowance": [] },
        { "alias": "col2", "columnSpan": 4, "createLabel": null, "key": "316ace81-08bb-4688-a54b-930b8378d9e7", "maxAllowed": null, "minAllowed": 0, "rowSpan": 1, "specifiedAllowance": [] },
        { "alias": "col3", "columnSpan": 4, "createLabel": null, "key": "ecd5685c-7b37-4311-bb0b-6453949cd898", "maxAllowed": null, "minAllowed": 0, "rowSpan": 1, "specifiedAllowance": [] }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [ { "columnSpan": 12 } ],
      "contentElementTypeKey": "1fc59d8b-7278-4a0a-9b4c-d596ae230372",
      "editorSize": null, "forceHideContentEditorInOverlay": false,
      "groupKey": "69af9e1d-3d06-4102-91b5-122ab19a749a",
      "iconColor": null, "inlineEditing": false, "label": null,
      "rowMaxSpan": null, "rowMinSpan": null, "settingsElementTypeKey": null,
      "stylesheet": "/App_Plugins/LayoutComposer/styles/layout-composer.css",
      "thumbnail": null,
      "view": "~/App_Plugins/LayoutComposer/views/block-layout-3col.html"
    },
    {
      "allowAtRoot": true, "allowInAreas": true, "areaGridColumns": 12,
      "areas": [
        { "alias": "col1", "columnSpan": 3, "createLabel": null, "key": "dab21ac8-bbd7-4516-81b2-16cd9bbb8cd6", "maxAllowed": null, "minAllowed": 0, "rowSpan": 1, "specifiedAllowance": [] },
        { "alias": "col2", "columnSpan": 3, "createLabel": null, "key": "16a0184f-fb4a-4703-98f1-9bf416f9f8d2", "maxAllowed": null, "minAllowed": 0, "rowSpan": 1, "specifiedAllowance": [] },
        { "alias": "col3", "columnSpan": 3, "createLabel": null, "key": "29772aca-31c0-42dc-97ac-bdfb65690d09", "maxAllowed": null, "minAllowed": 0, "rowSpan": 1, "specifiedAllowance": [] },
        { "alias": "col4", "columnSpan": 3, "createLabel": null, "key": "2ba5df6e-35cd-404e-a37e-1ee89be2042f", "maxAllowed": null, "minAllowed": 0, "rowSpan": 1, "specifiedAllowance": [] }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [ { "columnSpan": 12 } ],
      "contentElementTypeKey": "39e1538b-0ce7-40a3-9853-849354bb1c75",
      "editorSize": null, "forceHideContentEditorInOverlay": false,
      "groupKey": "69af9e1d-3d06-4102-91b5-122ab19a749a",
      "iconColor": null, "inlineEditing": false, "label": null,
      "rowMaxSpan": null, "rowMinSpan": null, "settingsElementTypeKey": null,
      "stylesheet": "/App_Plugins/LayoutComposer/styles/layout-composer.css",
      "thumbnail": null,
      "view": "~/App_Plugins/LayoutComposer/views/block-layout-4col.html"
    }
  ],
  "CreateLabel": "Agregar layout",
  "GridColumns": 12,
  "LiveEditing": false,
  "MaxPropertyWidth": null,
  "ValidationLimit": { "min": null, "max": null }
}]]></Config>
</DataType>
