<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e4e9abf-2bbd-4331-a92b-11765a653c9c" Alias="DT.BlockList.NavItems" Level="1">
  <Info>
    <Name>DT.BlockList.NavItems</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "1beb4eae-34bd-4eba-95e0-a2183fbac8ba",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Nav Item — {{ navLabel }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": { "max": null, "min": 1 }
}]]></Config>
</DataType>
