<?xml version="1.0" encoding="utf-8"?>
<DataType Key="40e118ec-2e66-4939-9bbd-106b8d50c5a7" Alias="DT.BlockGrid.Basic" Level="1">
  <Info>
    <Name>DT.BlockGrid.Basic</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "4c49a8c3-ef24-4813-a68d-d6359dd3070d",
      "name": "Basic Text & Action"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": 12,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        { "columnSpan": 12 },
        { "columnSpan": 6 },
        { "columnSpan": 4 }
      ],
      "contentElementTypeKey": "a8b1573f-427b-493f-89dd-b818ec95816a",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "4c49a8c3-ef24-4813-a68d-d6359dd3070d",
      "iconColor": null,
      "inlineEditing": true,
      "label": "Eyebrow — {{ eyebrowText }}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": 12,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        { "columnSpan": 12 },
        { "columnSpan": 8 },
        { "columnSpan": 6 }
      ],
      "contentElementTypeKey": "6ad6f181-661a-48c9-8c36-22f8280f1a22",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "4c49a8c3-ef24-4813-a68d-d6359dd3070d",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Heading — {{ headingTitle }}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": 12,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        { "columnSpan": 12 },
        { "columnSpan": 4 },
        { "columnSpan": 3 }
      ],
      "contentElementTypeKey": "06590c83-bb73-4a5f-8421-ea37d884823b",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "4c49a8c3-ef24-4813-a68d-d6359dd3070d",
      "iconColor": null,
      "inlineEditing": true,
      "label": "Label — {{ labelText }}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": 12,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        { "columnSpan": 12 },
        { "columnSpan": 8 },
        { "columnSpan": 6 }
      ],
      "contentElementTypeKey": "034b4d6c-44ff-4ba6-bdc4-ad9325cd191b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "4c49a8c3-ef24-4813-a68d-d6359dd3070d",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Paragraph",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": 12,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        { "columnSpan": 12 },
        { "columnSpan": 8 },
        { "columnSpan": 6 }
      ],
      "contentElementTypeKey": "957e3f6a-b71b-441f-ae75-08d9e5574bcc",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "4c49a8c3-ef24-4813-a68d-d6359dd3070d",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Quote",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": 12,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        { "columnSpan": 12 },
        { "columnSpan": 8 },
        { "columnSpan": 6 }
      ],
      "contentElementTypeKey": "aad6c221-eca9-4956-8515-1fee67324dbd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "4c49a8c3-ef24-4813-a68d-d6359dd3070d",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Richtext",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": 12,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        { "columnSpan": 12 },
        { "columnSpan": 6 },
        { "columnSpan": 4 },
        { "columnSpan": 3 }
      ],
      "contentElementTypeKey": "2d8d712e-66ec-4052-a627-0ad8a68d0d38",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "4c49a8c3-ef24-4813-a68d-d6359dd3070d",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Button — {{ ctaLabel }}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": 12,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        { "columnSpan": 12 },
        { "columnSpan": 6 },
        { "columnSpan": 4 }
      ],
      "contentElementTypeKey": "17c626f8-b24b-483f-b3e5-75581d44a7c7",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "4c49a8c3-ef24-4813-a68d-d6359dd3070d",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Link — {{ ctaLabel }}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": 12,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": 0
  }
}]]></Config>
</DataType>
