<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83a483ea-96dd-4da2-ba5d-dca2268a7612" Alias="DT.BlockList.EquipmentRates" Level="1">
  <Info>
    <Name>DT.BlockList.EquipmentRates</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6fc1c083-69d7-4367-a629-cc2d80cd9998",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Tarifa",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": { "max": null, "min": 0 }
}]]></Config>
</DataType>
