<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c53f7f30-829c-49c6-b643-d593fcc35adb" Alias="DT.BlockList.TramiteFields" Level="1">
  <Info>
    <Name>DT.BlockList.TramiteFields</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a699a693-049b-49a1-9b85-db334271e9f9",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ tramiteFieldLabel }} ({{ tramiteFieldType }})",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": { "max": null, "min": 1 }
}]]></Config>
</DataType>
