<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc4c7d79-8c79-4dfa-a7cc-7793d570b166" Alias="DT.BlockList.TestimonialItems" Level="1">
  <Info>
    <Name>DT.BlockList.TestimonialItems</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "632796f2-a36c-4d3c-9ff4-bdd132725e24",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Testimonial — {{ authorName }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": { "max": null, "min": 1 }
}]]></Config>
</DataType>
