<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6b26e27-6345-481c-806a-bde3b7734fda" Alias="DT.BlockList.EventTiers" Level="1">
  <Info>
    <Name>DT.BlockList.EventTiers</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "60ec9a0d-cb4c-468b-a1da-d69395067fb6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ tierName }} — {{ tierPrice }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": { "max": null, "min": 0 }
}]]></Config>
</DataType>
