<?xml version="1.0" encoding="utf-8"?>
<DataType Key="972ccc3d-ec95-4dd1-88f1-c9d8b8c1fc66" Alias="DT.BlockList.CtaItems" Level="1">
  <Info>
    <Name>DT.BlockList.CtaItems</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2d8d712e-66ec-4052-a627-0ad8a68d0d38",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Button — {{ ctaLabel }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "17c626f8-b24b-483f-b3e5-75581d44a7c7",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Link — {{ ctaLabel }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 4,
    "min": 1
  }
}]]></Config>
</DataType>
