<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9ca3dab9-57cf-405e-93a4-5aa3f0cd5a51" Alias="DT.BlockList.FormFields" Level="1">
  <Info>
    <Name>DT.BlockList.FormFields</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "a651afde-3d2c-4ad4-ad49-7e4b8912f9ad",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Field — {{ fieldLabel }} ({{ fieldType }})",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": { "max": null, "min": 1 }
}]]></Config>
</DataType>
