<?xml version="1.0" encoding="utf-8"?>
<DataType Key="edeeb2b7-93ce-4e5e-abd8-6c142be9cd95" Alias="DT.BlockList.EventSessions" Level="1">
  <Info>
    <Name>DT.BlockList.EventSessions</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "965aba1a-2ea6-4ba2-98ab-a928ff4f4ee8",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ sessionTime }} — {{ sessionTitle }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": { "max": null, "min": 0 }
}]]></Config>
</DataType>
