<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1decddc-cda8-4d1a-bdbb-0cd9b80edeb6" Alias="DT.BlockList.GalleryItems" Level="1">
  <Info>
    <Name>DT.BlockList.GalleryItems</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "7f3434ae-503a-4594-b993-29eefe84a305",
      "editorSize": "small",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Gallery Item",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": { "max": null, "min": 1 }
}]]></Config>
</DataType>
