<?xml version="1.0" encoding="utf-8"?>
<DataType Key="85d0818c-9ded-434f-9ec0-ed8c35afa24a" Alias="DT.BlockList.FormSteps" Level="1">
  <Info>
    <Name>DT.BlockList.FormSteps</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "9f7671aa-4a74-4d4c-a5af-af21f60b770c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Paso — {{ stepTitle }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": { "max": null, "min": 1 }
}]]></Config>
</DataType>
