<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd2c2457-859d-4916-ac39-219e8632af52" Alias="DT.BlockList.DomainCards" Level="1">
  <Info>
    <Name>DT.BlockList.DomainCards</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e3068c88-6a4a-4936-afec-ad81d1d3c537",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Dominio — {{ headingTitle }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": { "max": null, "min": 0 }
}]]></Config>
</DataType>
