<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e18c61e3-7db1-4fe8-b60e-f36be89422eb" Alias="DTSelectToastType" Level="1">
  <Info>
    <Name>DT.Select.ToastType</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "info" },
    { "id": 2, "value": "success" },
    { "id": 3, "value": "warning" },
    { "id": 4, "value": "error" },
    { "id": 5, "value": "neutral" }
  ],
  "multiple": false
}]]></Config>
</DataType>
