<?xml version="1.0" encoding="utf-8"?>
<DataType Key="97755e1a-1e09-43a7-9cc2-b99db33057b6" Alias="DTSelectVariantKey" Level="1">
  <Info>
    <Name>DT.Select.VariantKey</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "primary" },
    { "id": 2, "value": "secondary" },
    { "id": 3, "value": "ghost" },
    { "id": 4, "value": "outlined" },
    { "id": 5, "value": "neutral" },
    { "id": 6, "value": "emphasis" }
  ],
  "multiple": false
}]]></Config>
</DataType>
