<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5ffefd2-d98a-4dac-90f5-dba7b8d69d78" Alias="DTSelectAlexRenderMode" Level="1">
  <Info>
    <Name>DT.Select.AlexRenderMode</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "razor" },
    { "id": 2, "value": "webComponent" },
    { "id": 3, "value": "auto" }
  ],
  "multiple": false
}]]></Config>
</DataType>
