<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2e6b0eb-aa7a-41ce-a345-e5b0492e42da" Alias="DTSelectOrientation" Level="1">
  <Info>
    <Name>DT.Select.Orientation</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "horizontal" },
    { "id": 2, "value": "vertical" }
  ],
  "multiple": false
}]]></Config>
</DataType>
