<?xml version="1.0" encoding="utf-8"?>
<DataType Key="186e7abc-29d4-45a9-874a-810c049f86e1" Alias="DTSelectMobileCollapse" Level="1">
  <Info>
    <Name>DT.Select.MobileCollapse</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "auto" },
    { "id": 2, "value": "stack" },
    { "id": 3, "value": "reverse-stack" },
    { "id": 4, "value": "hide-sidebar" },
    { "id": 5, "value": "keep-multi" }
  ],
  "multiple": false
}]]></Config>
</DataType>
