<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a04d9efa-f7ac-43b5-86d7-c69bfa08c987" Alias="DTSelectOgType" Level="1">
  <Info>
    <Name>DT.Select.OgType</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "website" },
    { "id": 2, "value": "article" },
    { "id": 3, "value": "product" },
    { "id": 4, "value": "profile" },
    { "id": 5, "value": "video.other" }
  ],
  "multiple": false
}]]></Config>
</DataType>
