<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0537cc68-9bbf-4b3d-aacb-e078c03a4e90" Alias="DTSelectBadgeVariant" Level="1">
  <Info>
    <Name>DT.Select.BadgeVariant</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "primary" },
    { "id": 2, "value": "neutral" },
    { "id": 3, "value": "info" },
    { "id": 4, "value": "success" },
    { "id": 5, "value": "warning" },
    { "id": 6, "value": "error" },
    { "id": 7, "value": "emphasis" }
  ],
  "multiple": false
}]]></Config>
</DataType>
