<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e26e096b-9897-4546-89bb-fd209a5c7715" Alias="DTSelectCountdownStyle" Level="1">
  <Info>
    <Name>DT.Select.CountdownStyle</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "digits" },
    { "id": 2, "value": "flip" },
    { "id": 3, "value": "circular" }
  ],
  "multiple": false
}]]></Config>
</DataType>
