<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6b341fb6-73fb-4900-a8e3-342f92a4926f" Alias="DTSelectButtonGroupAlignment" Level="1">
  <Info>
    <Name>DT.Select.ButtonGroupAlignment</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "left" },
    { "id": 2, "value": "center" },
    { "id": 3, "value": "right" }
  ],
  "multiple": false
}]]></Config>
</DataType>
