<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6438baa7-c003-4c47-977a-0ad56e9a3193" Alias="DTSelectTagColor" Level="1">
  <Info>
    <Name>DT.Select.TagColor</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "neutral" },
    { "id": 2, "value": "brand" },
    { "id": 3, "value": "success" },
    { "id": 4, "value": "warning" },
    { "id": 5, "value": "danger" },
    { "id": 6, "value": "info" }
  ],
  "multiple": false
}]]></Config>
</DataType>
