<?xml version="1.0" encoding="utf-8"?>
<DataType Key="242f633f-167f-4829-8f31-5c0a58d45635" Alias="DTSelectInfoBlockTheme" Level="1">
  <Info>
    <Name>DT.Select.InfoBlockTheme</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "light" },
    { "id": 2, "value": "dark" }
  ],
  "multiple": false
}]]></Config>
</DataType>
