<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9fb3b374-06dc-4a59-90de-a1f10b32b11d" Alias="DTSelectSeatMapDensity" Level="1">
  <Info>
    <Name>DT.Select.SeatMapDensity</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "comfortable" },
    { "id": 2, "value": "compact" }
  ],
  "multiple": false
}]]></Config>
</DataType>
