<?xml version="1.0" encoding="utf-8"?>
<DataType Key="18845487-455f-41ca-a01e-351406648884" Alias="DTSelectShopSort" Level="1">
  <Info>
    <Name>DT.Select.ShopSort</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "name" },
    { "id": 2, "value": "price-asc" },
    { "id": 3, "value": "price-desc" },
    { "id": 4, "value": "date-desc" },
    { "id": 5, "value": "popularity" }
  ],
  "multiple": false
}]]></Config>
</DataType>
