<?xml version="1.0" encoding="utf-8"?>
<DataType Key="77fde87f-a5cb-4143-96c3-6aa7f23577fc" Alias="DTSelectModalTrigger" Level="1">
  <Info>
    <Name>DT.Select.ModalTrigger</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "immediate" },
    { "id": 2, "value": "scroll" },
    { "id": 3, "value": "exit" },
    { "id": 4, "value": "manual" }
  ],
  "multiple": false
}]]></Config>
</DataType>
