<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a95ee819-49b1-4036-9306-2cabfabfe0f8" Alias="DTSelectFuenteDeListado" Level="1">
  <Info>
    <Name>DT.Select.FuenteDeListado</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "fichas" },
    { "id": 2, "value": "cursos" },
    { "id": 3, "value": "eventos" },
    { "id": 4, "value": "inmuebles" }
  ],
  "multiple": false
}]]></Config>
</DataType>
