<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e4289fa-d455-4317-96d8-21736489ec24" Alias="DTSelectStreamType" Level="1">
  <Info>
    <Name>DT.Select.StreamType</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "hls" },
    { "id": 2, "value": "dash" },
    { "id": 3, "value": "iframe" },
    { "id": 4, "value": "youtube-live" },
    { "id": 5, "value": "twitch" },
    { "id": 6, "value": "vimeo-live" }
  ],
  "multiple": false
}]]></Config>
</DataType>
