<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a8aabe8f-43ab-4922-88b7-211c9cc34467" Alias="DTSelectModalSize" Level="1">
  <Info>
    <Name>DT.Select.ModalSize</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "sm" },
    { "id": 2, "value": "md" },
    { "id": 3, "value": "lg" },
    { "id": 4, "value": "xl" },
    { "id": 5, "value": "fullscreen" }
  ],
  "multiple": false
}]]></Config>
</DataType>
