<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c4a5a31e-79be-4c71-8804-1f08ec373218" Alias="DTSelectAlexVisibilityMode" Level="1">
  <Info>
    <Name>DT.Select.AlexVisibilityMode</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "always" },
    { "id": 2, "value": "scheduled" },
    { "id": 3, "value": "authenticatedOnly" },
    { "id": 4, "value": "anonymousOnly" },
    { "id": 5, "value": "manual" }
  ],
  "multiple": false
}]]></Config>
</DataType>
