<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1bb3d8c-7b11-4a00-8f5e-b06edf94ca55" Alias="DTSelectFlexDirection" Level="1">
  <Info>
    <Name>DT.Select.FlexDirection</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "row" },
    { "id": 2, "value": "row-reverse" },
    { "id": 3, "value": "column" },
    { "id": 4, "value": "column-reverse" }
  ],
  "multiple": false
}]]></Config>
</DataType>
