<?xml version="1.0" encoding="utf-8"?>
<DataType Key="270dc8c4-36dc-47bc-ae85-22466c1a3cb1" Alias="DTSelectCommentsProvider" Level="1">
  <Info>
    <Name>DT.Select.CommentsProvider</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "internal" },
    { "id": 2, "value": "disqus" },
    { "id": 3, "value": "giscus" },
    { "id": 4, "value": "utterances" }
  ],
  "multiple": false
}]]></Config>
</DataType>
