<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d6052040-8aad-4f13-8bd3-208563833126" Alias="DTSelectModuleAlias" Level="1">
  <Info>
    <Name>DT.Select.ModuleAlias</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "hello-module" },
    { "id": 2, "value": "dashboard" },
    { "id": 3, "value": "healthcare" }
  ],
  "multiple": false
}]]></Config>
</DataType>
