<?xml version="1.0" encoding="utf-8"?>
<DataType Key="36e49d15-9269-44bb-bd4f-bf04e5e7c7a7" Alias="DTSelectContainerType" Level="1">
  <Info>
    <Name>DT.Select.ContainerType</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "full-bleed" },
    { "id": 2, "value": "normal" },
    { "id": 3, "value": "narrow" },
    { "id": 4, "value": "ultra-narrow" }
  ],
  "multiple": false
}]]></Config>
</DataType>
