<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76e729ce-1c96-42f7-b1ff-9285c05c1f9c" Alias="DTSelectFlexWrap" Level="1">
  <Info>
    <Name>DT.Select.FlexWrap</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "nowrap" },
    { "id": 2, "value": "wrap" },
    { "id": 3, "value": "wrap-reverse" }
  ],
  "multiple": false
}]]></Config>
</DataType>
