<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7e753ea1-52d0-41a2-94fc-52c69d3d4438" Alias="DTSelectTheme" Level="1">
  <Info>
    <Name>DT.Select.Theme</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "light" },
    { "id": 2, "value": "dark" },
    { "id": 3, "value": "brand" },
    { "id": 4, "value": "accent" }
  ],
  "multiple": false
}]]></Config>
</DataType>
