<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1425c467-760b-48cd-81b5-a3e546dd582f" Alias="DTSelectAlexTone" Level="1">
  <Info>
    <Name>DT.Select.AlexTone</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "soft" },
    { "id": 2, "value": "solid" },
    { "id": 3, "value": "outline" },
    { "id": 4, "value": "glass" },
    { "id": 5, "value": "minimal" }
  ],
  "multiple": false
}]]></Config>
</DataType>
