<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac1c0297-377a-4f58-8fc0-858c84550100" Alias="DTSelectAlertTone" Level="1">
  <Info>
    <Name>DT.Select.AlertTone</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "soft" },
    { "id": 2, "value": "solid" },
    { "id": 3, "value": "outline" },
    { "id": 4, "value": "glass" },
    { "id": 5, "value": "minimal" }
  ],
  "multiple": false
}]]></Config>
</DataType>
