<?xml version="1.0" encoding="utf-8"?>
<DataType Key="77375320-7258-4de5-b825-4181f18cea8f" Alias="DTSelectDomainIcon" Level="1">
  <Info>
    <Name>DT.Select.DomainIcon</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "grid" },
    { "id": 2, "value": "document" },
    { "id": 3, "value": "bag" }
  ],
  "multiple": false
}]]></Config>
</DataType>
