<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90945768-4ec6-46ab-82ff-e5baa124c9d2" Alias="DTSelectPropertyOperation" Level="1">
  <Info>
    <Name>DT.Select.PropertyOperation</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "venta" },
    { "id": 2, "value": "arriendo" }
  ],
  "multiple": false
}]]></Config>
</DataType>
