<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac69d857-e064-4510-a78b-3eedf80a9fd4" Alias="DTSelectTramiteChannel" Level="1">
  <Info>
    <Name>DT.Select.TramiteChannel</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "presencial" },
    { "id": 2, "value": "en-linea" },
    { "id": 3, "value": "mixto" }
  ],
  "multiple": false
}]]></Config>
</DataType>
