<?xml version="1.0" encoding="utf-8"?>
<DataType Key="88df9fb5-107e-4ed1-813f-c48cf60ed8bd" Alias="DTSelectAlignContent" Level="1">
  <Info>
    <Name>DT.Select.AlignContent</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "stretch" },
    { "id": 2, "value": "flex-start" },
    { "id": 3, "value": "center" },
    { "id": 4, "value": "flex-end" },
    { "id": 5, "value": "space-between" },
    { "id": 6, "value": "space-around" }
  ],
  "multiple": false
}]]></Config>
</DataType>
