<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d36db31-94d5-4c43-a1ed-9c7c0e8a0ae9" Alias="DTSelectPageSurface" Level="1">
  <Info>
    <Name>DT.Select.PageSurface</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "default" },
    { "id": 2, "value": "muted" },
    { "id": 3, "value": "contrast" },
    { "id": 4, "value": "brand" },
    { "id": 5, "value": "transparent" }
  ],
  "multiple": false
}]]></Config>
</DataType>
