<?xml version="1.0" encoding="utf-8"?>
<DataType Key="367fdad2-46c9-4da8-a38d-10e1a5511de2" Alias="DTSelectAlignItems" Level="1">
  <Info>
    <Name>DT.Select.AlignItems</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "stretch" },
    { "id": 2, "value": "flex-start" },
    { "id": 3, "value": "center" },
    { "id": 4, "value": "flex-end" },
    { "id": 5, "value": "baseline" }
  ],
  "multiple": false
}]]></Config>
</DataType>
