<?xml version="1.0" encoding="utf-8"?>
<DataType Key="884bf3c5-e4b9-458c-b986-c38c468ccbd3" Alias="DTSelectShape" Level="1">
  <Info>
    <Name>DT.Select.Shape</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "rectangle" },
    { "id": 2, "value": "rounded" },
    { "id": 3, "value": "pill" },
    { "id": 4, "value": "square" },
    { "id": 5, "value": "circle" }
  ],
  "multiple": false
}]]></Config>
</DataType>
