<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3578b4ff-d008-460f-ad26-ecc35df0d007" Alias="DTSelectModalFrequency" Level="1">
  <Info>
    <Name>DT.Select.ModalFrequency</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "always" },
    { "id": 2, "value": "once" },
    { "id": 3, "value": "daily" },
    { "id": 4, "value": "session" }
  ],
  "multiple": false
}]]></Config>
</DataType>
