<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1a4530ba-cd81-4fea-a30a-8eca7a85b6c3" Alias="DTSelectJustifyContent" Level="1">
  <Info>
    <Name>DT.Select.JustifyContent</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "flex-start" },
    { "id": 2, "value": "center" },
    { "id": 3, "value": "flex-end" },
    { "id": 4, "value": "space-between" },
    { "id": 5, "value": "space-around" },
    { "id": 6, "value": "space-evenly" }
  ],
  "multiple": false
}]]></Config>
</DataType>
