<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be7142bf-cb1a-47e9-9d1b-8ba5d3684ef8" Alias="DTSelectKpiTrend" Level="1">
  <Info>
    <Name>DT.Select.KpiTrend</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "up" },
    { "id": 2, "value": "down" },
    { "id": 3, "value": "flat" }
  ],
  "multiple": false
}]]></Config>
</DataType>
