<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc034374-637a-4757-97cf-5a1cc171bb1d" Alias="DTSelectSharePlatform" Level="1">
  <Info>
    <Name>DT.Select.SharePlatform</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "facebook" },
    { "id": 2, "value": "twitter" },
    { "id": 3, "value": "linkedin" },
    { "id": 4, "value": "whatsapp" },
    { "id": 5, "value": "telegram" },
    { "id": 6, "value": "email" },
    { "id": 7, "value": "copy" },
    { "id": 8, "value": "reddit" },
    { "id": 9, "value": "pinterest" }
  ],
  "multiple": true
}]]></Config>
</DataType>
