<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d110171a-fd5b-40c8-9091-67d378e3b65a" Alias="DTSelectDisplayLayout" Level="1">
  <Info>
    <Name>DT.Select.DisplayLayout</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "inline" },
    { "id": 2, "value": "stack" },
    { "id": 3, "value": "grid" },
    { "id": 4, "value": "cluster" }
  ],
  "multiple": false
}]]></Config>
</DataType>
