<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61eda881-37fb-4733-b187-1471c2cb1990" Alias="DTSelectDisplayMode" Level="1">
  <Info>
    <Name>DT.Select.DisplayMode</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "block" },
    { "id": 2, "value": "flex" },
    { "id": 3, "value": "grid" }
  ],
  "multiple": false
}]]></Config>
</DataType>
