<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03b0eef8-435f-44ed-835c-66b6122714f9" Alias="DTSelectPropertyType" Level="1">
  <Info>
    <Name>DT.Select.PropertyType</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    { "id": 1, "value": "apartamento" },
    { "id": 2, "value": "casa" },
    { "id": 3, "value": "oficina" },
    { "id": 4, "value": "local" },
    { "id": 5, "value": "bodega" },
    { "id": 6, "value": "lote" },
    { "id": 7, "value": "finca" }
  ],
  "multiple": false
}]]></Config>
</DataType>
