<?xml version="1.0" encoding="utf-8"?>
<DataType Key="08f6ca50-4c60-42a3-a05f-4a33f9727a3f" Alias="DTTextList" Level="1">
  <Info>
    <Name>DT.TextList</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>
