<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea00fc29-01b6-438a-b968-8b6b304f81ba" Alias="Avatar Equipo SynergosLabs" Level="2">
  <Info>
    <Parent Key="899cd653-e171-4197-be1d-5ba6c686d5ad">Avatares</Parent>
    <Path>/Avatares/AvatarEquipoSynergosLabs</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-26T10:02:36</CreateDate>
    <NodeName Default="Avatar Equipo SynergosLabs" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Equipo SynergosLabs]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kqti02zs/avatar-equipo-synergoslabs.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>