<?xml version="1.0" encoding="utf-8"?>
<Media Key="403623ca-d091-443f-b09e-8d7274d69932" Alias="Blog CDN" Level="2">
  <Info>
    <Parent Key="f1c4012f-2c3f-4045-aee4-600acfb2c937">Ilustraciones</Parent>
    <Path>/Ilustraciones/BlogCDN</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-26T10:02:51</CreateDate>
    <NodeName Default="Blog CDN" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Framework-agnóstico]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w52lxwiv/blog-cdn.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>