<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f97cfbe-7f48-4782-babe-56ae2255100a" Alias="Blog CDN híbrida: componentes Angular sobre SSR" Level="2">
  <Info>
    <Parent Key="f1c4012f-2c3f-4045-aee4-600acfb2c937">Ilustraciones</Parent>
    <Path>/Ilustraciones/BlogCDNHibridaComponentesAngularSobreSSR</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-26T10:02:52</CreateDate>
    <NodeName Default="Blog CDN híbrida: componentes Angular sobre SSR" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[CDN híbrida: componentes Angular sobre SSR]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ymkbvvwm/blog-cdn-híbrida-componentes-angular-sobre-ssr.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>