<?xml version="1.0" encoding="utf-8"?>
<Media Key="12863eb2-a81d-4375-aec5-418818e1328e" Alias="Blog Arquitectura por capas: el grafo de dependencias" Level="2">
  <Info>
    <Parent Key="f1c4012f-2c3f-4045-aee4-600acfb2c937">Ilustraciones</Parent>
    <Path>/Ilustraciones/BlogArquitecturaPorCapasElGrafoDeDependencias</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-26T10:02:48</CreateDate>
    <NodeName Default="Blog Arquitectura por capas: el grafo de dependencias" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Arquitectura por capas: el grafo de dependencias]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/z5saxc2z/blog-arquitectura-por-capas-el-grafo-de-dependencias.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>