<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6a81a0a-88ca-404e-aff3-0c80c85183d9" Alias="Booking Sala Reuniones" Level="2">
  <Info>
    <Parent Key="f1c4012f-2c3f-4045-aee4-600acfb2c937">Ilustraciones</Parent>
    <Path>/Ilustraciones/BookingSalaReuniones</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-26T20:18:47</CreateDate>
    <NodeName Default="Booking Sala Reuniones" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Detalle del servicio]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o5ack10o/booking-sala-reuniones.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>