<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e917929-d91a-4288-a0c5-be72ae1d17aa" Alias="Booking Nutricion" Level="2">
  <Info>
    <Parent Key="f1c4012f-2c3f-4045-aee4-600acfb2c937">Ilustraciones</Parent>
    <Path>/Ilustraciones/BookingNutricion</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-26T20:18:49</CreateDate>
    <NodeName Default="Booking Nutricion" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Detalle del servicio]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ksrbzf24/booking-nutricion.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>