<?xml version="1.0" encoding="utf-8"?>
<Media Key="4551fc44-6d30-4a5f-974e-ee5b461b91bd" Alias="Chico Comedor" Level="2">
  <Info>
    <Parent Key="f1c4012f-2c3f-4045-aee4-600acfb2c937">Ilustraciones</Parent>
    <Path>/Ilustraciones/ChicoComedor</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-27T10:22:25</CreateDate>
    <NodeName Default="Chico Comedor" />
    <SortOrder>79</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Comedor y zona social]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hetnzxfu/chico-comedor.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>