<?xml version="1.0" encoding="utf-8"?>
<Media Key="704c9f54-b84b-4cba-9e8f-dd1639dccce6" Alias="Destacada Zona T" Level="2">
  <Info>
    <Parent Key="f1c4012f-2c3f-4045-aee4-600acfb2c937">Ilustraciones</Parent>
    <Path>/Ilustraciones/DestacadaZonaT</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-27T10:21:59</CreateDate>
    <NodeName Default="Destacada Zona T" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Local comercial en Zona T]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ffcnd0op/destacada-zona-t.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>