<?xml version="1.0" encoding="utf-8"?>
<Media Key="a64a5f9b-e518-4020-96b7-89bae99227ee" Alias="Galeria Penthouse" Level="2">
  <Info>
    <Parent Key="f1c4012f-2c3f-4045-aee4-600acfb2c937">Ilustraciones</Parent>
    <Path>/Ilustraciones/GaleriaPenthouse</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-27T10:22:00</CreateDate>
    <NodeName Default="Galeria Penthouse" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Penthouses exclusivos]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/20cnop22/galeria-penthouse.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>