<?xml version="1.0" encoding="utf-8"?>
<Media Key="b280c648-a3f0-403f-9b6f-b70d434230c1" Alias="Pacífico" Level="2">
  <Info>
    <Parent Key="f1c4012f-2c3f-4045-aee4-600acfb2c937">Ilustraciones</Parent>
    <Path>/Ilustraciones/Pacifico</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-07-14T07:54:45</CreateDate>
    <NodeName Default="Pacífico" />
    <SortOrder>82</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Pacífico]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/guoa0k1u/pacífico.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>