<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9609c3f-6b97-4059-a3d5-0c438b300ab6" Alias="Producto Tote bag de lona" Level="2">
  <Info>
    <Parent Key="efb652dc-66ad-4600-99b0-990c6151be4c">Productos</Parent>
    <Path>/Productos/ProductoToteBagDeLona</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-26T10:02:58</CreateDate>
    <NodeName Default="Producto Tote bag de lona" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Tote bag de lona]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ijdo0qat/producto-tote-bag-de-lona.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>