<?xml version="1.0" encoding="utf-8"?>
<Media Key="efb652dc-66ad-4600-99b0-990c6151be4c" Alias="Productos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Productos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-06-26T16:33:05</CreateDate>
    <NodeName Default="Productos" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties />
</Media>