<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd25ccc9-ab40-41bc-95ee-1f408cbcde4f" Alias="Producto Libreta Puntos" Level="2">
  <Info>
    <Parent Key="efb652dc-66ad-4600-99b0-990c6151be4c">Productos</Parent>
    <Path>/Productos/ProductoLibretaPuntos</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-07-17T07:40:24</CreateDate>
    <NodeName Default="Producto Libreta Puntos" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Detalle del producto]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wqlkqjge/producto-libreta-puntos.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>