<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a4ef2e8-a2c1-4b10-b324-10d823818683" Alias="Producto Botella" Level="2">
  <Info>
    <Parent Key="efb652dc-66ad-4600-99b0-990c6151be4c">Productos</Parent>
    <Path>/Productos/ProductoBotella</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-07-17T07:40:21</CreateDate>
    <NodeName Default="Producto Botella" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Detalle del producto]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/suumhy0f/producto-botella.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>