<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5ec797c-70fc-4a44-9bec-2b5b52ad4518" Alias="Producto Asesoría express · 30 min" Level="2">
  <Info>
    <Parent Key="efb652dc-66ad-4600-99b0-990c6151be4c">Productos</Parent>
    <Path>/Productos/ProductoAsesoriaExpress30Min</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-26T20:18:47</CreateDate>
    <NodeName Default="Producto Asesoría express · 30 min" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Asesoría express · 30 min]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/agrhc1dy/producto-asesoría-express-30-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>