<?xml version="1.0" encoding="utf-8"?>
<Media Key="180983a3-293d-441c-9614-aa51fb7653d9" Alias="Producto Oficina en torre empresarial" Level="2">
  <Info>
    <Parent Key="efb652dc-66ad-4600-99b0-990c6151be4c">Productos</Parent>
    <Path>/Productos/ProductoOficinaEnTorreEmpresarial</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-27T10:22:21</CreateDate>
    <NodeName Default="Producto Oficina en torre empresarial" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Oficina en torre empresarial]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1zmjjanz/producto-oficina-en-torre-empresarial.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>