<?xml version="1.0" encoding="utf-8"?>
<Media Key="25c108d9-d1a1-4fba-8b3b-246b4d88ffb9" Alias="Producto Masaje terapéutico · 60 min" Level="2">
  <Info>
    <Parent Key="efb652dc-66ad-4600-99b0-990c6151be4c">Productos</Parent>
    <Path>/Productos/ProductoMasajeTerapeutico60Min</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-26T20:18:48</CreateDate>
    <NodeName Default="Producto Masaje terapéutico · 60 min" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Masaje terapéutico · 60 min]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/utjezpbf/producto-masaje-terapéutico-60-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>