<?xml version="1.0" encoding="utf-8"?>
<Media Key="e298f1bb-e76e-493a-9966-8560a546afb4" Alias="Producto Casa con jardín en Usaquén" Level="2">
  <Info>
    <Parent Key="efb652dc-66ad-4600-99b0-990c6151be4c">Productos</Parent>
    <Path>/Productos/ProductoCasaConJardinEnUsaquen</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-27T10:22:18</CreateDate>
    <NodeName Default="Producto Casa con jardín en Usaquén" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Casa con jardín en Usaquén]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yyvbk45k/producto-casa-con-jardín-en-usaquén.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>