<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5b86b47-3fc3-4a7d-bbbe-a71100342c54" Alias="Producto Hoodie gris premium" Level="2">
  <Info>
    <Parent Key="efb652dc-66ad-4600-99b0-990c6151be4c">Productos</Parent>
    <Path>/Productos/ProductoHoodieGrisPremium</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-26T10:02:55</CreateDate>
    <NodeName Default="Producto Hoodie gris premium" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Hoodie gris premium]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hkydkpch/producto-hoodie-gris-premium.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>