<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c00c09e-1f0d-42a4-a099-9d5075302f9a" Alias="Producto Consultoría estratégica · 60 min" Level="2">
  <Info>
    <Parent Key="efb652dc-66ad-4600-99b0-990c6151be4c">Productos</Parent>
    <Path>/Productos/ProductoConsultoriaEstrategica60Min</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-26T20:18:47</CreateDate>
    <NodeName Default="Producto Consultoría estratégica · 60 min" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Consultoría estratégica · 60 min]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2mni1bmj/producto-consultoría-estratégica-60-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>