<?xml version="1.0" encoding="utf-8"?>
<Media Key="48f91ecb-0d3e-4aa7-9f72-9ba212ed1519" Alias="Producto Stickers" Level="2">
  <Info>
    <Parent Key="efb652dc-66ad-4600-99b0-990c6151be4c">Productos</Parent>
    <Path>/Productos/ProductoStickers</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-26T10:03:02</CreateDate>
    <NodeName Default="Producto Stickers" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Detalle del producto]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w1chjun0/producto-stickers.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>