<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c04e8bc-2b5e-47d9-b2e8-fc0ebda9e677" Alias="Producto Buzo" Level="2">
  <Info>
    <Parent Key="efb652dc-66ad-4600-99b0-990c6151be4c">Productos</Parent>
    <Path>/Productos/ProductoBuzo</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-07-17T07:40:18</CreateDate>
    <NodeName Default="Producto Buzo" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Detalle del producto]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yezit3o0/producto-buzo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>