<?xml version="1.0" encoding="utf-8"?>
<Media Key="b71dba91-1e2d-490f-8042-ddfe1c43dd17" Alias="Producto Plan nutricional · valoración" Level="2">
  <Info>
    <Parent Key="efb652dc-66ad-4600-99b0-990c6151be4c">Productos</Parent>
    <Path>/Productos/ProductoPlanNutricionalValoracion</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-26T20:18:49</CreateDate>
    <NodeName Default="Producto Plan nutricional · valoración" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Plan nutricional · valoración]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3rqjalvj/producto-plan-nutricional-valoración.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>