<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef00dcd7-68f1-4c9d-b7a2-18e7cc075fd5" Alias="Propiedad Casa Usaquen Sala" Level="2">
  <Info>
    <Parent Key="f1c4012f-2c3f-4045-aee4-600acfb2c937">Ilustraciones</Parent>
    <Path>/Ilustraciones/PropiedadCasaUsaquenSala</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-27T10:22:16</CreateDate>
    <NodeName Default="Propiedad Casa Usaquen Sala" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Zona social]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vidi03tv/propiedad-casa-usaquen-sala.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>