<?xml version="1.0" encoding="utf-8"?>
<Media Key="68fd18e5-6583-467c-8c75-84269f3620d1" Alias="Propiedad Casa Usaquen Exterior" Level="2">
  <Info>
    <Parent Key="f1c4012f-2c3f-4045-aee4-600acfb2c937">Ilustraciones</Parent>
    <Path>/Ilustraciones/PropiedadCasaUsaquenExterior</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-27T10:22:17</CreateDate>
    <NodeName Default="Propiedad Casa Usaquen Exterior" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Exterior]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tdbhb2ih/propiedad-casa-usaquen-exterior.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>