<?xml version="1.0" encoding="utf-8"?>
<Media Key="4991f53d-4290-4dcf-9c3c-e76d94a371fb" Alias="Propiedad Oficina Exterior" Level="2">
  <Info>
    <Parent Key="f1c4012f-2c3f-4045-aee4-600acfb2c937">Ilustraciones</Parent>
    <Path>/Ilustraciones/PropiedadOficinaExterior</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-27T10:22:20</CreateDate>
    <NodeName Default="Propiedad Oficina Exterior" />
    <SortOrder>66</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Exterior]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iaxbzuau/propiedad-oficina-exterior.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>