<?xml version="1.0" encoding="utf-8"?>
<Media Key="74cf8fe5-914e-4d97-afa7-bebc845f8529" Alias="Propiedad Oficina Habitacion" Level="2">
  <Info>
    <Parent Key="f1c4012f-2c3f-4045-aee4-600acfb2c937">Ilustraciones</Parent>
    <Path>/Ilustraciones/PropiedadOficinaHabitacion</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-27T10:22:20</CreateDate>
    <NodeName Default="Propiedad Oficina Habitacion" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Habitación principal]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tbkff1ok/propiedad-oficina-habitacion.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>