<?xml version="1.0" encoding="utf-8"?>
<Media Key="55078a24-c130-4c8c-8115-12430b887fef" Alias="Propiedad Apartamento Chico Cocina" Level="2">
  <Info>
    <Parent Key="f1c4012f-2c3f-4045-aee4-600acfb2c937">Ilustraciones</Parent>
    <Path>/Ilustraciones/PropiedadApartamentoChicoCocina</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-27T10:22:13</CreateDate>
    <NodeName Default="Propiedad Apartamento Chico Cocina" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Cocina]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lfiivtfu/propiedad-apartamento-chico-cocina.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>