<?xml version="1.0" encoding="utf-8"?>
<Media Key="18c1b199-f38f-40aa-80d9-3fe8aaf5981e" Alias="Solara" Level="2">
  <Info>
    <Parent Key="f1c4012f-2c3f-4045-aee4-600acfb2c937">Ilustraciones</Parent>
    <Path>/Ilustraciones/Solara</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-24T07:29:17</CreateDate>
    <NodeName Default="Solara" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Solara]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2rvfzail/solara.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>