<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f9bf6b7-fb76-41e1-9eaa-e4f4c6c05211" Alias="Synergos Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SynergosHero</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-23T19:42:53</CreateDate>
    <NodeName Default="Synergos Hero" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Composición abstracta de capas Synergos]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ziwbmbxs/synergos-hero.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>