<?xml version="1.0" encoding="utf-8"?>
<Media Key="d040132d-0fde-48e8-ac95-ad8d5fa5b1db" Alias="Synergos Blogs Hero" Level="2">
  <Info>
    <Parent Key="7d080684-7c1b-4c06-a928-91d332772867">Heroes</Parent>
    <Path>/Heroes/SynergosBlogsHero</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-26T10:02:22</CreateDate>
    <NodeName Default="Synergos Blogs Hero" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Hero del vertical Blogs]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kden0sk0/synergos-blogs-hero.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>