<?xml version="1.0" encoding="utf-8"?>
<Media Key="67c3421f-1522-49de-93d5-a530124cb3e0" Alias="Synergos Capas" Level="2">
  <Info>
    <Parent Key="f1c4012f-2c3f-4045-aee4-600acfb2c937">Ilustraciones</Parent>
    <Path>/Ilustraciones/SynergosCapas</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-23T19:42:54</CreateDate>
    <NodeName Default="Synergos Capas" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Resultado de consolidar en SynergosLabs]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mkme35vg/synergos-capas.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>