<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7d7c73e-075b-42b2-b1ea-32fc865e4e3e" Alias="Vértice" Level="2">
  <Info>
    <Parent Key="f1c4012f-2c3f-4045-aee4-600acfb2c937">Ilustraciones</Parent>
    <Path>/Ilustraciones/Vertice</Path>
    <Trashed>false</Trashed>
    <ContentType>synImage</ContentType>
    <CreateDate>2026-06-24T07:29:16</CreateDate>
    <NodeName Default="Vértice" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altDefault>
      <Value><![CDATA[Vértice]]></Value>
    </altDefault>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <creditLabel>
      <Value><![CDATA[]]></Value>
    </creditLabel>
    <creditLink>
      <Value><![CDATA[]]></Value>
    </creditLink>
    <license>
      <Value><![CDATA[]]></Value>
    </license>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/imofutw5/vértice.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>