<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="58f94edc-f36c-4797-b8f5-0c944e92d6af" Alias="cfgModal" Level="2">
  <Info>
    <Name>Modal global</Name>
    <Icon>icon-application-window-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Modal de bienvenida o conversión global (newsletter, descuento, encuesta breve). Aparece automáticamente según el disparador configurado.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>63ec41e8-f376-447c-9d23-5a3b0b75b24e</Key>
      <Name>Activo</Name>
      <Alias>modalActive</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Si está apagado, el modal no se muestra.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="modal">Modal</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>632624f9-c8e2-4ca9-8519-50337c0499f5</Key>
      <Name>Título</Name>
      <Alias>modalTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Título principal del modal.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="modal">Modal</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>El título del modal es obligatorio.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0dfb8da1-1964-4456-8d84-b248d762a04b</Key>
      <Name>Cuerpo</Name>
      <Alias>modalBody</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Mensaje del modal. Puede contener saltos de línea.]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="modal">Modal</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>717abbc0-d410-472c-b43e-4fe46795a3d6</Key>
      <Name>Imagen</Name>
      <Alias>modalImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Imagen opcional dentro del modal.]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="modal">Modal</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>722074fa-6b72-45cd-9375-27dd60933877</Key>
      <Name>Texto del botón</Name>
      <Alias>modalCtaLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Etiqueta del botón opcional. Vacío = sin botón.]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="modal">Modal</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7db347f5-d0af-4cdc-a5df-b517bf580904</Key>
      <Name>Destino del botón</Name>
      <Alias>modalCtaLink</Alias>
      <Definition>49391109-580c-46d8-8408-f496b43b6409</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Destino del botón. Acepta nodo interno o URL externa.]]></Description>
      <SortOrder>50</SortOrder>
      <Tab Alias="modal">Modal</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>211656ba-6b1e-4e7b-b64a-679d56b9a985</Key>
      <Name>Disparador</Name>
      <Alias>modalTrigger</Alias>
      <Definition>77fde87f-a5cb-4143-96c3-6aa7f23577fc</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Cuándo aparece el modal: al cargar, al hacer scroll, al intentar salir o solo manual.]]></Description>
      <SortOrder>60</SortOrder>
      <Tab Alias="modal">Modal</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3f42781c-580f-454a-9c48-b1b4b33e6bde</Key>
      <Name>Frecuencia</Name>
      <Alias>modalFrequency</Alias>
      <Definition>3578b4ff-d008-460f-ad26-ecc35df0d007</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Cada cuánto se le muestra al mismo visitante: siempre, una sola vez, una vez al día o por sesión.]]></Description>
      <SortOrder>70</SortOrder>
      <Tab Alias="modal">Modal</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>93d0b238-3443-48ef-b88a-2105714c4e96</Key>
      <Name>Inicio (programado)</Name>
      <Alias>modalScheduleStart</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Fecha/hora desde la que se muestra. Vacío = sin restricción.]]></Description>
      <SortOrder>80</SortOrder>
      <Tab Alias="modal">Modal</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6ae6b577-c9e5-4041-b3a5-576e55db9411</Key>
      <Name>Fin (programado)</Name>
      <Alias>modalScheduleEnd</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Fecha/hora hasta la que se muestra. Vacío = sin caducidad.]]></Description>
      <SortOrder>90</SortOrder>
      <Tab Alias="modal">Modal</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5672818b-39f9-4fbc-b8ec-5622bc279879</Key>
      <Caption>Modal</Caption>
      <Alias>modal</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
