<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="63495f65-0246-4d64-b5c1-6df3308bfeda" Alias="compSiteChrome" Level="2">
  <Info>
    <Name>Composition — Site Chrome</Name>
    <Icon>icon-layout color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Bloques editables del header y footer del sitio. Si quedan vacíos, el sitio usa el chrome por defecto.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cc69819a-47ad-4980-89e8-39044248a490</Key>
      <Name>Bloques del header</Name>
      <Alias>siteHeaderBlocks</Alias>
      <Definition>bdef3027-193b-4334-b3ee-738eded72215</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Arrastra los bloques que quieres ver en el header (logo, nav, búsqueda, CTA). Si lo dejas vacío, se usa el header por defecto.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="chrome">Chrome del sitio</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8654e90d-88dc-490a-aab5-17d54330b2bb</Key>
      <Name>Bloques del footer</Name>
      <Alias>siteFooterBlocks</Alias>
      <Definition>bdef3027-193b-4334-b3ee-738eded72215</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Arrastra los bloques que quieres ver en el footer (columnas, social, copyright, newsletter). Si lo dejas vacío, se usa el footer por defecto.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="chrome">Chrome del sitio</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9b4a3e2f-1c8d-4e8a-bb59-7d2f5e9a4c1b</Key>
      <Caption>Chrome del sitio</Caption>
      <Alias>chrome</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
