<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e1fc35de-ced4-4337-9a0e-7d91188eec57" Alias="elementSynSeparator" Level="2">
  <Info>
    <Name>Syn — Separator</Name>
    <Icon>icon-block color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[separador horizontal con estilo decorativo.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Syn Blocks</Folder>
    <Compositions>
      <Composition Key="84fe7a74-faa4-434f-acf1-b1ae1a50a90f">compIntegration</Composition>
    <Composition Key="46367d43-269b-418d-b54d-075fcf6d658b">compDomClass</Composition><Composition Key="e11a9feb-fa1c-4740-9481-3dce56748473">compDomVariant</Composition><Composition Key="7a383458-6ea6-4784-a4d1-17f8d4b01073">compDomVisibility</Composition></Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a13db780-59f2-4dd3-b616-d9d7ab5a3f96</Key>
      <Name>Style</Name>
      <Alias>style</Alias>
      <Definition>cb0b507b-c526-48eb-98b3-ea6f4d1c9d0f</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Estilo del separador: solid / dashed / dotted / gradient.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="integration">Integración</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>El estilo es obligatorio.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ef5881f0-a6eb-4373-a3a6-33a274d9804f</Key>
      <Caption>Integración</Caption>
      <Alias>integration</Alias>
      <Type>Tab</Type>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
