<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d2914c34-2485-4a49-b57d-14555a644653" Alias="elementCorpSocialShare" Level="2">
  <Info>
    <Name>Marketing — Social Share</Name>
    <Icon>icon-share color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Bloque para botonera de compartir en redes sociales.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/Marketing</Folder>
    <Compositions>
      <Composition Key="46367d43-269b-418d-b54d-075fcf6d658b">compDomClass</Composition>
      <Composition Key="e11a9feb-fa1c-4740-9481-3dce56748473">compDomVariant</Composition>
    <Composition Key="7a383458-6ea6-4784-a4d1-17f8d4b01073">compDomVisibility</Composition><Composition Key="1d5bafbb-59af-4002-8709-ebade1be0392">compDomAttributes</Composition></Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>878ac594-ccc1-488e-9b2f-8024e0058def</Key>
      <Name>Platforms</Name>
      <Alias>platforms</Alias>
      <Definition>bc034374-637a-4757-97cf-5a1cc171bb1d</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Plataformas de share a mostrar.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Contenido</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9fcd8c28-164d-46a9-a917-20444aca41fb</Key>
      <Caption>Contenido</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
