<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bee4e11a-a419-449f-8a76-d2fd691b1a0d" Alias="elementStructColumn" Level="2">
  <Info>
    <Name>Struct — Column</Name>
    <Icon>icon-columns color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Element Type SSR-native para una columna explícita dentro de un grid o flexbox.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Struct</Folder>
    <Compositions>
      <Composition Key="46367d43-269b-418d-b54d-075fcf6d658b">compDomClass</Composition>
      <Composition Key="e11a9feb-fa1c-4740-9481-3dce56748473">compDomVariant</Composition>
      <Composition Key="7a383458-6ea6-4784-a4d1-17f8d4b01073">compDomVisibility</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0c1f557e-8664-4ffc-b703-5a6660f9c0de</Key>
      <Name>Column Span</Name>
      <Alias>columnSpan</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>^(1[0-2]?|[2-9])$</Validation>
      <Description><![CDATA[Columnas que ocupa esta Column dentro de un Grid 12-col ("1"-"12", default "12" = full width).]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Un número entre 1 y 12.</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dae5e2fe-1a86-4147-8fe3-9fb54bf072f4</Key>
      <Name>Children</Name>
      <Alias>children</Alias>
      <Definition>f975c194-5696-4d7c-9829-ff018fb6995a</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Contenido de la columna. DT.BlockGrid.Editorial.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>La Column debe contener al menos un bloque.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ebce38db-24c7-495e-9129-8fd02f2477ad</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
