<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d2914c34-2485-4a49-b57d-14555a644653" Alias="elementCorpSocialShare" Level="2">
  <Info>
    <Name>Corp — Social Share</Name>
    <Icon>icon-share color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Element Type SSR-native atómico para botonera de compartir en redes sociales.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Corp</Folder>
    <Compositions>
      <Composition Key="46367d43-269b-418d-b54d-075fcf6d658b">compDomClass</Composition>
      <Composition Key="e11a9feb-fa1c-4740-9481-3dce56748473">compDomVariant</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4cb88286-3dd3-424e-8be3-41e4fcacb2e9</Key>
      <Name>Enabled Platforms</Name>
      <Alias>enabledPlatforms</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lista separada por coma de plataformas a mostrar: "facebook", "twitter", "linkedin", "whatsapp", "email".]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9fcd8c28-164d-46a9-a917-20444aca41fb</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
