<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0c92d91b-9ffd-428f-a89a-9e78056c50b2" Alias="elementSynCalendar" Level="2">
  <Info>
    <Name>Syn — Calendar</Name>
    <Icon>icon-calendar color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[calendar month view con eventos. DOM: <synergos-calendar>. Props: eventsEndpoint (GET JSON con events), initialMonth (YYYY-MM).]]></Description>
    <AllowAtRoot>False</AllowAtRoot><IsListView>False</IsListView><Variations>Culture</Variations><IsElement>true</IsElement>
    <HistoryCleanup><PreventCleanup>False</PreventCleanup><KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays><KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays></HistoryCleanup>
    <Folder>Elements/Syn</Folder>
    <Compositions><Composition Key="84fe7a74-faa4-434f-acf1-b1ae1a50a90f">compIntegration</Composition><Composition Key="46367d43-269b-418d-b54d-075fcf6d658b">compDomClass</Composition><Composition Key="e11a9feb-fa1c-4740-9481-3dce56748473">compDomVariant</Composition><Composition Key="7a383458-6ea6-4784-a4d1-17f8d4b01073">compDomVisibility</Composition><Composition Key="0a2edb7e-8555-4044-bebc-bf0fe37662f2">compDomSpacing</Composition><Composition Key="1d5bafbb-59af-4002-8709-ebade1be0392">compDomAttributes</Composition></Compositions>
    <DefaultTemplate></DefaultTemplate><AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty><Key>3120b29f-8dd7-41f6-97e4-e12805d78f49</Key><Name>Events Endpoint</Name><Alias>eventsEndpoint</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Mandatory>true</Mandatory><Validation>^https?:\/\/.+|^\/.+$</Validation><Description><![CDATA[URL GET JSON con events.]]></Description><SortOrder>0</SortOrder><Tab Alias="integration">Integración</Tab><Variations>Nothing</Variations><MandatoryMessage>Obligatorio.</MandatoryMessage><ValidationRegExpMessage>URL.</ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
    <GenericProperty><Key>49fcd399-41ce-4198-ac9b-e1db4bac59d8</Key><Name>Initial Month</Name><Alias>initialMonth</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Mandatory>false</Mandatory><Validation>^\d{4}-\d{2}$</Validation><Description><![CDATA[YYYY-MM. Default mes actual.]]></Description><SortOrder>10</SortOrder><Tab Alias="integration">Integración</Tab><Variations>Nothing</Variations><MandatoryMessage></MandatoryMessage><ValidationRegExpMessage>YYYY-MM.</ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
  </GenericProperties>
  <Tabs><Tab><Key>a1b8aaf6-7f74-423a-8741-f2fe96516803</Key><Caption>Integración</Caption><Alias>integration</Alias><Type>Tab</Type><SortOrder>50</SortOrder></Tab></Tabs>
</ContentType>
