<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f4b83407-454e-40a6-a84b-f1cc8880300d" Alias="elementSynSkeleton" Level="2">
  <Info>
    <Name>Syn — Skeleton</Name>
    <Icon>icon-grid color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[skeleton loading placeholder animado. DOM: <synergos-skeleton>. Props: shape (rect/circle/text), count (cuántas líneas).]]></Description>
    <AllowAtRoot>False</AllowAtRoot><IsListView>False</IsListView><Variations>Nothing</Variations><IsElement>true</IsElement>
    <HistoryCleanup><PreventCleanup>False</PreventCleanup><KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays><KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays></HistoryCleanup>
    <Folder>Syn Blocks</Folder>
    <Compositions><Composition Key="84fe7a74-faa4-434f-acf1-b1ae1a50a90f">compIntegration</Composition></Compositions>
    <DefaultTemplate></DefaultTemplate><AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty><Key>882fadd9-aa4d-435d-b924-4b4ee6a2f41c</Key><Name>Shape</Name><Alias>shape</Alias><Definition>884bf3c5-e4b9-458c-b986-c38c468ccbd3</Definition><Type>Umbraco.DropDown.Flexible</Type><Mandatory>true</Mandatory><Validation></Validation><Description><![CDATA[Shape: rect/circle/text.]]></Description><SortOrder>0</SortOrder><Tab Alias="integration">Integración</Tab><Variations>Nothing</Variations><MandatoryMessage>Obligatorio.</MandatoryMessage><ValidationRegExpMessage></ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
    <GenericProperty><Key>3d0566e7-e50a-4a9a-8b49-9d9c267de989</Key><Name>Count</Name><Alias>count</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Mandatory>false</Mandatory><Validation>^\d+$</Validation><Description><![CDATA[Número de líneas (para shape=text). Default 1.]]></Description><SortOrder>10</SortOrder><Tab Alias="integration">Integración</Tab><Variations>Nothing</Variations><MandatoryMessage></MandatoryMessage><ValidationRegExpMessage>Entero.</ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
  </GenericProperties>
  <Tabs><Tab><Key>b52f1fd9-2683-4041-92fa-f2f452231b43</Key><Caption>Integración</Caption><Alias>integration</Alias><Type>Tab</Type><SortOrder>50</SortOrder></Tab></Tabs>
</ContentType>
