<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9b38e09f-1507-4da9-820f-6796f4bec759" Alias="elementSynSpacer" Level="2">
  <Info>
    <Name>Syn — Spacer</Name>
    <Icon>icon-navigation-vertical color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[spacer vertical CDN-hosted.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Syn Blocks</Folder>
    <Compositions>
      <Composition Key="84fe7a74-faa4-434f-acf1-b1ae1a50a90f">compIntegration</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cdaed2bc-1e05-4390-8b3d-ef9cf110734d</Key>
      <Name>Size</Name>
      <Alias>size</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>^(xs|sm|md|lg|xl)$</Validation>
      <Description><![CDATA[Tamaño del spacer: xs (8px) / sm (16px) / md (32px) / lg (64px) / xl (128px). Valores mapean a scale del design system.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="integration">Integración</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>El tamaño es obligatorio.</MandatoryMessage>
      <ValidationRegExpMessage>Use xs/sm/md/lg/xl.</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5b52029a-ab89-41a7-83af-f56768fa4d14</Key>
      <Caption>Integración</Caption>
      <Alias>integration</Alias>
      <Type>Tab</Type>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
