<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f1146138-039e-4f03-82aa-acdac63a6032" Alias="elementInfoTestimonialCarousel" Level="2">
  <Info>
    <Name>Info — Testimonial Carousel</Name>
    <Icon>icon-quote color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Bloque container para un carousel de testimonios.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/Info</Folder>
    <Compositions>
      <Composition Key="46367d43-269b-418d-b54d-075fcf6d658b">compDomClass</Composition>
      <Composition Key="e11a9feb-fa1c-4740-9481-3dce56748473">compDomVariant</Composition>
    <Composition Key="7a383458-6ea6-4784-a4d1-17f8d4b01073">compDomVisibility</Composition><Composition Key="1d5bafbb-59af-4002-8709-ebade1be0392">compDomAttributes</Composition></Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>23646203-9869-44b5-9f25-44f581faafcc</Key>
      <Name>Testimonial Items</Name>
      <Alias>testimonialItems</Alias>
      <Definition>cc4c7d79-8c79-4dfa-a7cc-7793d570b166</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lista de testimonios (1+).]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Contenido</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>El carousel debe contener al menos un testimonio.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4d4db417-3480-4f4c-a417-1fe5884c623a</Key>
      <Name>Autoplay</Name>
      <Alias>autoplay</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Si está activo, el carousel JS auto-avanza.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Contenido</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>08749636-4792-495d-8fb4-9eb67f04cf8d</Key>
      <Caption>Contenido</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
