<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c954a483-d9e4-4143-9a2f-26cb08ee071a" Alias="elementMediaLogoItem" Level="2">
  <Info>
    <Name>Media — Logo Item</Name>
    <Icon>icon-umbraco color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Element Type SSR-native para un logo de marca (cliente, partner, stack tech, premio).]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Media</Folder>
    <Compositions>
      <Composition Key="e2a29901-8155-4d36-80ab-f42b2452a45b">compContentMedia</Composition>
      <Composition Key="46367d43-269b-418d-b54d-075fcf6d658b">compDomClass</Composition>
      <Composition Key="e11a9feb-fa1c-4740-9481-3dce56748473">compDomVariant</Composition>
    <Composition Key="7a383458-6ea6-4784-a4d1-17f8d4b01073">compDomVisibility</Composition></Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>57792388-27f3-4edf-ac9d-e7aa9e5af2bb</Key>
      <Name>Logo Link</Name><Alias>logoLink</Alias><Definition>49391109-580c-46d8-8408-f496b43b6409</Definition><Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[URL opcional del sitio de la marca.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Contenido</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9279567c-b9d0-4efb-958a-eae4704a3af4</Key>
      <Caption>Contenido</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
