<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="755df659-4c07-45d5-a394-092b858ca50f" Alias="elementStructSection" Level="2">
  <Info>
    <Name>Struct — Section</Name>
    <Icon>icon-layout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Element Type SSR-native container estructural semántico <section>.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Struct</Folder>
    <Compositions>
      <Composition Key="46367d43-269b-418d-b54d-075fcf6d658b">compDomClass</Composition>
      <Composition Key="e11a9feb-fa1c-4740-9481-3dce56748473">compDomVariant</Composition>
      <Composition Key="f79a6dcc-aecd-4a2b-bd1e-0de3e08eb800">compDomDisplay</Composition>
      <Composition Key="610e39a0-bfd1-4786-9ddb-697884da5d4b">compDomFlex</Composition>
      <Composition Key="b0bed49d-e17d-4da3-a0ec-453dcb9948f7">compDomGrid</Composition>
      <Composition Key="0a2edb7e-8555-4044-bebc-bf0fe37662f2">compDomSpacing</Composition>
      <Composition Key="1d5bafbb-59af-4002-8709-ebade1be0392">compDomAttributes</Composition>
      <Composition Key="7a383458-6ea6-4784-a4d1-17f8d4b01073">compDomVisibility</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>546078cd-c9e7-4f6f-b187-e6f37c5134b3</Key>
      <Name>Children</Name>
      <Alias>children</Alias>
      <Definition>f975c194-5696-4d7c-9829-ff018fb6995a</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bloques hijos de la sección.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage>La Section debe contener al menos un bloque.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6841e316-f55c-4424-954a-f4bd09eef9f1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
