<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="82071ed1-299f-4eb8-83c1-b2769505ea09" Alias="elementMediaImage" Level="2">
  <Info>
    <Name>Media — Image</Name>
    <Icon>icon-picture color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Element Type SSR-native para imagen genérica editorial (fotos de producto, ilustraciones, banners inline).]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Media</Folder>
    <Compositions>
      <Composition Key="e2a29901-8155-4d36-80ab-f42b2452a45b">compContentMedia</Composition>
      <Composition Key="46367d43-269b-418d-b54d-075fcf6d658b">compDomClass</Composition>
      <Composition Key="e11a9feb-fa1c-4740-9481-3dce56748473">compDomVariant</Composition>
      <Composition Key="0a2edb7e-8555-4044-bebc-bf0fe37662f2">compDomSpacing</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>
