<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ce854792-be23-4796-8851-c2a281fe08c8" Alias="postPage" Level="2">
  <Info>
    <Name>Post Page</Name>
    <Icon>icon-article color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>DocType para posts editoriales.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blog</Folder>
    <Compositions>
      <Composition Key="5e2ec6b8-7f65-4c26-8c20-1b9a72bed2f8">compCoreBase</Composition>
      <Composition Key="77440708-6cce-4a20-8679-212aaadd92eb">compCoreLifecycle</Composition>
      <Composition Key="85e75635-b950-4583-b5ca-2a51c08892e3">compSeo</Composition>
      <Composition Key="d438906f-3698-4f7a-8371-3a9a856b845b">compTagging</Composition>
    </Compositions>
    <DefaultTemplate>PostPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fa2c3ff1-1516-4128-a2d7-07953aebf5e1">PostPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4f7b91ae-a443-4fed-9ec4-052aac252cf3</Key>
      <Name>Excerpt</Name>
      <Alias>excerpt</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Resumen del post (mostrado en listados). ~160 chars.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content">Contenido</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4852f047-d1a0-407c-a2f4-db6eaa90b6b5</Key>
      <Name>Hero Image</Name>
      <Alias>heroImage</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Imagen principal del post.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Contenido</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>85c45066-c9b0-4510-b5fd-869af7c6b3c2</Key>
      <Name>Publish Date</Name>
      <Alias>publishDate</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>^\d{4}-\d{2}-\d{2}$</Validation>
      <Description><![CDATA[Fecha de publicación ISO YYYY-MM-DD. Distinto de createDate/updateDate.]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="content">Contenido</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Obligatoria.</MandatoryMessage>
      <ValidationRegExpMessage>YYYY-MM-DD.</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>741f3698-5e83-4cf4-af3a-894f34127060</Key>
      <Name>Read Time (minutes)</Name>
      <Alias>readTimeMinutes</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>^\d+$</Validation>
      <Description><![CDATA[Minutos estimados de lectura.]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="content">Contenido</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Entero.</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
      <GenericProperty>
      <Key>d288797a-3538-428d-bf9e-9cb896eeee41</Key>
      <Name>Sections (Layout Composer)</Name>
      <Alias>sections</Alias>
      <Definition>bdef3027-193b-4334-b3ee-738eded72215</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Composición visual de la página con Layout Composer. Arrastra presets (Hero, 2Col, 3Col, Main+Sidebar...) y dentro elementos de contenido.]]></Description>
      <SortOrder>100</SortOrder>
      <Tab Alias="content">Contenido</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>34102523-dfb8-40d2-9a10-6beaaa0a4ec7</Key>
      <Caption>Contenido</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>