<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="961cb5a0-be81-4d12-b96b-889ea954d8d2" Alias="professionalPage" Level="2">
  <Info>
    <Name>Professional Page</Name>
    <Icon>icon-medical-emergency color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[DocType del profesional de salud del directorio: quién es, cómo se contacta y cuándo atiende.]]></Description>
    <AllowAtRoot>False</AllowAtRoot><IsListView>False</IsListView><Variations>Culture</Variations><IsElement>false</IsElement>
    <HistoryCleanup><PreventCleanup>False</PreventCleanup><KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays><KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays></HistoryCleanup>
    <Folder>Salud</Folder>
    <Compositions>
      <Composition Key="5e2ec6b8-7f65-4c26-8c20-1b9a72bed2f8">compCoreBase</Composition>
      <Composition Key="85e75635-b950-4583-b5ca-2a51c08892e3">compSeo</Composition>
      <Composition Key="d438906f-3698-4f7a-8371-3a9a856b845b">compTagging</Composition>
      <Composition Key="77440708-6cce-4a20-8679-212aaadd92eb">compCoreLifecycle</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty><Key>5739c5f9-8268-47f5-b3dc-265a835256ab</Key><Name>Slug</Name><Alias>professionalSlug</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Mandatory>true</Mandatory><Validation></Validation><Description><![CDATA[Identificador único del profesional en minúsculas con guiones. Ej: ana-rios.]]></Description><SortOrder>0</SortOrder><Tab Alias="content">Contenido</Tab><Variations>Nothing</Variations><MandatoryMessage>Slug obligatorio.</MandatoryMessage><ValidationRegExpMessage></ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
    <GenericProperty><Key>751af2a5-9913-4df2-b19a-ca3c1427f9c5</Key><Name>Nombre</Name><Alias>professionalName</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Mandatory>true</Mandatory><Validation></Validation><Description><![CDATA[Nombre tal como debe aparecer, con su título. Ej: Dra. Ana Ríos.]]></Description><SortOrder>10</SortOrder><Tab Alias="content">Contenido</Tab><Variations>Culture</Variations><MandatoryMessage>Obligatorio.</MandatoryMessage><ValidationRegExpMessage></ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
    <GenericProperty><Key>5f3aecf5-e237-4f33-82c9-e7d77d95c471</Key><Name>Especialidad</Name><Alias>professionalSpecialty</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Mandatory>false</Mandatory><Validation></Validation><Description><![CDATA[Especialidad (Cardiología, Pediatría). Alimenta el filtro: escríbela igual en todos.]]></Description><SortOrder>20</SortOrder><Tab Alias="content">Contenido</Tab><Variations>Nothing</Variations><MandatoryMessage></MandatoryMessage><ValidationRegExpMessage></ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
    <GenericProperty><Key>a591fd33-e67e-4ce2-ac81-f09cb54a0b35</Key><Name>Registro médico</Name><Alias>professionalLicense</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Mandatory>false</Mandatory><Validation></Validation><Description><![CDATA[Número de registro tal como figura en la tarjeta profesional. Ej: RM-48213.]]></Description><SortOrder>30</SortOrder><Tab Alias="content">Contenido</Tab><Variations>Nothing</Variations><MandatoryMessage></MandatoryMessage><ValidationRegExpMessage></ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
    <GenericProperty><Key>1f26e36d-c9d1-4dd3-b99d-10550e232c81</Key><Name>Años de experiencia</Name><Alias>professionalYearsExperience</Alias><Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition><Type>Umbraco.Integer</Type><Mandatory>false</Mandatory><Validation></Validation><Description><![CDATA[Años de ejercicio. 0 oculta el dato en la ficha.]]></Description><SortOrder>40</SortOrder><Tab Alias="content">Contenido</Tab><Variations>Nothing</Variations><MandatoryMessage></MandatoryMessage><ValidationRegExpMessage></ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
    <GenericProperty><Key>aad47b76-1c84-4202-84f8-1e8dedcce865</Key><Name>Retrato</Name><Alias>professionalPhoto</Alias><Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition><Type>Umbraco.MediaPicker3</Type><Mandatory>false</Mandatory><Validation></Validation><Description><![CDATA[Foto del profesional para la tarjeta del directorio y la ficha.]]></Description><SortOrder>50</SortOrder><Tab Alias="content">Contenido</Tab><Variations>Culture</Variations><MandatoryMessage></MandatoryMessage><ValidationRegExpMessage></ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
    <GenericProperty><Key>eca2fd8c-31c8-4f73-9262-dc6bccb0b9f2</Key><Name>Teléfono</Name><Alias>professionalPhone</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Mandatory>false</Mandatory><Validation></Validation><Description><![CDATA[Teléfono del consultorio. Vacío oculta la línea en la ficha.]]></Description><SortOrder>0</SortOrder><Tab Alias="contacto">Contacto</Tab><Variations>Nothing</Variations><MandatoryMessage></MandatoryMessage><ValidationRegExpMessage></ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
    <GenericProperty><Key>58f28436-6187-42d1-8bd7-dbe317508c41</Key><Name>Correo</Name><Alias>professionalEmail</Alias><Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition><Type>Umbraco.TextBox</Type><Mandatory>false</Mandatory><Validation></Validation><Description><![CDATA[Correo del consultorio. Vacío oculta la línea en la ficha.]]></Description><SortOrder>10</SortOrder><Tab Alias="contacto">Contacto</Tab><Variations>Nothing</Variations><MandatoryMessage></MandatoryMessage><ValidationRegExpMessage></ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
    <GenericProperty><Key>78a48d23-bbc7-4e00-8ffc-1ea0b689096c</Key><Name>Admite pacientes nuevos</Name><Alias>professionalAcceptingPatients</Alias><Definition>040c8a8a-a6ab-4bd6-b3f1-860e254628f4</Definition><Type>Umbraco.DropDown.Flexible</Type><Mandatory>false</Mandatory><Validation></Validation><Description><![CDATA[¿Admite pacientes nuevos? Déjalo SIN elegir si no consta: vacío no significa que no.]]></Description><SortOrder>20</SortOrder><Tab Alias="contacto">Contacto</Tab><Variations>Nothing</Variations><MandatoryMessage></MandatoryMessage><ValidationRegExpMessage></ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
    <GenericProperty><Key>0c4c89ad-91ec-4fc4-88f8-5634cb35e00b</Key><Name>Días de atención</Name><Alias>professionalWorkingDays</Alias><Definition>eaa2b197-92a8-486b-964d-4f34f18ba478</Definition><Type>Umbraco.DropDown.Flexible</Type><Mandatory>false</Mandatory><Validation></Validation><Description><![CDATA[Días en que atiende. Sin ningún día marcado no se ofrece horario y no se puede agendar.]]></Description><SortOrder>0</SortOrder><Tab Alias="agenda">Agenda</Tab><Variations>Nothing</Variations><MandatoryMessage></MandatoryMessage><ValidationRegExpMessage></ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
    <GenericProperty><Key>45ac8c09-3002-472e-9847-ff6401396a1a</Key><Name>Hora de inicio</Name><Alias>professionalSlotStartHour</Alias><Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition><Type>Umbraco.Integer</Type><Mandatory>false</Mandatory><Validation></Validation><Description><![CDATA[Hora en que empieza a atender, de 0 a 23. Ej: 8.]]></Description><SortOrder>10</SortOrder><Tab Alias="agenda">Agenda</Tab><Variations>Nothing</Variations><MandatoryMessage></MandatoryMessage><ValidationRegExpMessage></ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
    <GenericProperty><Key>6e21ad6d-89c0-44a3-8003-38d494342460</Key><Name>Hora de cierre</Name><Alias>professionalSlotEndHour</Alias><Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition><Type>Umbraco.Integer</Type><Mandatory>false</Mandatory><Validation></Validation><Description><![CDATA[Hora en que deja de atender, de 0 a 23. Tiene que ser mayor que la de inicio.]]></Description><SortOrder>20</SortOrder><Tab Alias="agenda">Agenda</Tab><Variations>Nothing</Variations><MandatoryMessage></MandatoryMessage><ValidationRegExpMessage></ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
    <GenericProperty><Key>df27c315-bd60-4b8d-8a2b-278e8746f124</Key><Name>Duración de la cita</Name><Alias>professionalSlotMinutes</Alias><Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition><Type>Umbraco.Integer</Type><Mandatory>false</Mandatory><Validation></Validation><Description><![CDATA[Duración de cada cita en minutos. Vacío o 0 se trata como 30.]]></Description><SortOrder>30</SortOrder><Tab Alias="agenda">Agenda</Tab><Variations>Nothing</Variations><MandatoryMessage></MandatoryMessage><ValidationRegExpMessage></ValidationRegExpMessage><LabelOnTop>false</LabelOnTop></GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab><Key>8d2e13fe-57ea-44f6-b88a-f5fefa7a4c46</Key><Caption>Contenido</Caption><Alias>content</Alias><Type>Tab</Type><SortOrder>10</SortOrder></Tab>
    <Tab><Key>96ad6c8e-b5a4-48a7-9b53-9693c7b617b3</Key><Caption>Contacto</Caption><Alias>contacto</Alias><Type>Tab</Type><SortOrder>20</SortOrder></Tab>
    <Tab><Key>9727c0df-7044-4178-9f69-d963088a5103</Key><Caption>Agenda</Caption><Alias>agenda</Alias><Type>Tab</Type><SortOrder>30</SortOrder></Tab>
  </Tabs>
</ContentType>
