<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6b2b64e3-c7cf-480a-b114-f5ee81b47f2c" Alias="siteConfigFolder" Level="2">
  <Info>
    <Name>Configuración del sitio</Name>
    <Icon>icon-folder color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Carpeta para agrupar las configuraciones de este sitio (tema, ajustes globales, feature flags, componentes globales). Crea uno como hijo del Site Root.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Platform</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ecbd95d0-4e00-451e-90ec-ebadc5fb0773" SortOrder="0">siteConfigSettings</ContentType>
    <ContentType Key="04fa0739-c87d-4737-96af-44d37d45ffd3" SortOrder="10">themeSettings</ContentType>
    <ContentType Key="729b8b9a-3667-4fcd-967a-a8535cc017a9" SortOrder="20">featureFlagsSettings</ContentType>
    <ContentType Key="b8bb7c57-1aeb-4be6-a22f-882293b477cf" SortOrder="30">transversalsRepository</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>
