<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7f4937bc-d6dd-4d5d-b09a-6ae1fcde4a87" Alias="tenantRoot" Level="2">
  <Info>
    <Name>Tenant Root</Name>
    <Icon>icon-server-alt color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Contenedor raíz del árbol de un tenant (multi-tenancy). Composes compTenant. AllowAtRoot. Structure allows siteRoot + settingsRoot + sharedContentFolder (todos los trees editoriales bajo un tenant). Cada tenant = un tenantRoot con su propio sub-árbol. Middleware routing resolve por subdomain/path/header. Variations=Culture.]]></Description>
    <AllowAtRoot>True</AllowAtRoot><IsListView>False</IsListView><Variations>Culture</Variations><IsElement>false</IsElement>
    <HistoryCleanup><PreventCleanup>False</PreventCleanup><KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays><KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays></HistoryCleanup>
    <Folder>Platform</Folder>
    <Compositions>
      <Composition Key="6fac54b2-6604-4863-8929-cd6b1a09c5f2">compTenant</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate><AllowedTemplates />
  </Info>
  <Structure>
    <ContentType SortOrder="0">siteRoot</ContentType>
    <ContentType SortOrder="10">settingsRoot</ContentType>
    <ContentType SortOrder="20">sharedContentFolder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>
