<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8b7aca1a-bbce-4bdd-8299-810398339634" Alias="transversalErrorPagesFolder" Level="2">
  <Info>
    <Name>Páginas de error</Name>
    <Icon>icon-alert-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Páginas custom de error (404, 500, 503, etc.). Crea una por código de status. El runtime las resuelve automáticamente cuando ASP.NET dispara un error code matching.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Platform/Transversals</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="436bafd1-1ba9-4826-b5ab-77359c5eebc8" SortOrder="0">transversalErrorPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>
