<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5361fb0e-7715-4650-8ee1-83b8816bbf4f" Alias="transversalBanner" Level="2">
  <Info>
    <Name>Banner</Name>
    <Icon>icon-presentation color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description><![CDATA[Un banner global reusable (promo, lanzamiento). Hereda todos los campos de configuración del banner global vía composición.]]></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Platform/Transversals</Folder>
    <Compositions>
      <Composition Key="27d804e8-de26-4c46-a2e1-e9e33cb0c21b">cfgBanner</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>
