<div class="lc-block lc-block--container"
     lc-init-defaults
     ng-attr-data-container-type="{{block.data.containerType[0]}}"
     ng-attr-data-padding="{{block.data.padding[0]}}"
     ng-attr-data-margin="{{block.data.margin[0]}}"
     ng-attr-data-gap="{{block.data.gap[0]}}"
     ng-attr-data-alignment="{{block.data.alignment[0]}}"
     ng-attr-data-direction="{{block.data.direction[0]}}"
     ng-attr-data-theme="{{block.data.theme[0]}}"
     ng-attr-data-variant="{{block.data.variant[0]}}"
     ng-class="{
         'lc-block--no-padding-top': block.data.noPaddingTop,
         'lc-block--no-padding-bottom': block.data.noPaddingBottom,
         'lc-block--no-margin-top': block.data.noMarginTop,
         'lc-block--no-margin-bottom': block.data.noMarginBottom
     }">
    <div class="lc-block__header">
        <span class="lc-block__icon">Bx</span>
        <span class="lc-block__type">Container</span>
        <span class="lc-block__header-spacer"></span>
        <span ng-if="block.data.containerType[0]" class="lc-block__badge">{{block.data.containerType[0]}}</span>
        <span ng-if="block.data.variant[0]" class="lc-block__badge lc-block__badge--variant">{{block.data.variant[0]}}</span>
    </div>

    <div class="lc-layout__intro">
        <span class="lc-block__eyebrow">Agrupador</span>
        <span class="lc-block__hint">Sirve para encapsular contenido, controlar ancho y dar una lectura mas ordenada al editor.</span>
        <div class="lc-chip-row" ng-if="block.data.noPaddingTop || block.data.noPaddingBottom || block.data.noMarginTop || block.data.noMarginBottom || block.data.padding[0] || block.data.margin[0] || block.data.gap[0] || block.data.alignment[0] || block.data.direction[0] || block.data.theme[0]">
            <span ng-if="block.data.noPaddingTop"    class="lc-chip lc-chip--toggle">↑ sin pad</span>
            <span ng-if="block.data.noPaddingBottom" class="lc-chip lc-chip--toggle">↓ sin pad</span>
            <span ng-if="block.data.noMarginTop"     class="lc-chip lc-chip--toggle">↑ sin mar</span>
            <span ng-if="block.data.noMarginBottom"  class="lc-chip lc-chip--toggle">↓ sin mar</span>
            <span ng-if="block.data.padding[0]"      class="lc-chip lc-chip--muted">pad: {{block.data.padding[0]}}</span>
            <span ng-if="block.data.margin[0]"       class="lc-chip lc-chip--muted">mar: {{block.data.margin[0]}}</span>
            <span ng-if="block.data.gap[0]"          class="lc-chip lc-chip--muted">gap: {{block.data.gap[0]}}</span>
            <span ng-if="block.data.alignment[0]"    class="lc-chip lc-chip--muted">{{block.data.alignment[0]}}</span>
            <span ng-if="block.data.direction[0]"    class="lc-chip lc-chip--muted">{{block.data.direction[0]}}</span>
            <span ng-if="block.data.theme[0]"        class="lc-chip lc-chip--muted">{{block.data.theme[0]}}</span>
        </div>
    </div>

    <div class="lc-block__areas">
        <umb-block-grid-render-area-slots></umb-block-grid-render-area-slots>
    </div>
</div>
