<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e68d98e-f370-4d81-bc08-ea7b47a685f6" Alias="Casas" Level="3">
  <Info>
    <Parent Key="5b2d7960-2cc3-4dad-9514-f7d0bbdcacf7">Propiedades</Parent>
    <Path>/SynergosLabs/Propiedades/Casas</Path>
    <Trashed>false</Trashed>
    <ContentType>productCategoryPage</ContentType>
    <CreateDate>2026-06-27T10:22:12</CreateDate>
    <NodeName Default="Casas">
      <Name Culture="es-co">Casas</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="es-co">true</Published>
    </Published>
    <Schedule />
    <Template Key="4dac036f-6153-44f3-975d-513952ef2bf4">ProductCategoryPage</Template>
  </Info>
  <Properties>
    <canonicalLink>
      <Value Culture="es-co"><![CDATA[]]></Value>
    </canonicalLink>
    <categoryDescription>
      <Value Culture="es-co"><![CDATA[Vivienda unifamiliar con espacio propio.]]></Value>
    </categoryDescription>
    <categoryName>
      <Value Culture="es-co"><![CDATA[Casas]]></Value>
    </categoryName>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <metaRobots>
      <Value><![CDATA[]]></Value>
    </metaRobots>
    <ogImage>
      <Value Culture="es-co"><![CDATA[]]></Value>
    </ogImage>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <publishingNotes>
      <Value><![CDATA[]]></Value>
    </publishingNotes>
    <seoDescription>
      <Value Culture="es-co"><![CDATA[Vivienda unifamiliar con espacio propio.]]></Value>
    </seoDescription>
    <seoTitle>
      <Value Culture="es-co"><![CDATA[Casas — Tienda SynergosLabs]]></Value>
    </seoTitle>
  </Properties>
</Content>