<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce0d4262-5cc3-4e3c-b478-d4d0e1adcdd9" Alias="Listado" Level="3">
  <Info>
    <Parent Key="5b2d7960-2cc3-4dad-9514-f7d0bbdcacf7">Propiedades</Parent>
    <Path>/SynergosLabs/Propiedades/Listado</Path>
    <Trashed>false</Trashed>
    <ContentType>pageBase</ContentType>
    <CreateDate>2026-06-27T10:22:23</CreateDate>
    <NodeName Default="Listado">
      <Name Culture="es-co">Listado</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="es-co">true</Published>
    </Published>
    <Schedule />
    <Template Key="e5b27298-f249-44bd-91d6-1f0c6169c190">PageBase</Template>
  </Info>
  <Properties>
    <canonicalLink>
      <Value Culture="es-co"><![CDATA[]]></Value>
    </canonicalLink>
    <chromeMode>
      <Value><![CDATA[]]></Value>
    </chromeMode>
    <footerMode>
      <Value><![CDATA[]]></Value>
    </footerMode>
    <headerMode>
      <Value><![CDATA[]]></Value>
    </headerMode>
    <heading>
      <Value Culture="es-co"><![CDATA[Propiedades disponibles]]></Value>
    </heading>
    <hideFromBreadcrumbs>
      <Value><![CDATA[]]></Value>
    </hideFromBreadcrumbs>
    <hideFromFooter>
      <Value><![CDATA[]]></Value>
    </hideFromFooter>
    <hideFromMainMenu>
      <Value><![CDATA[]]></Value>
    </hideFromMainMenu>
    <hideFromSearch>
      <Value><![CDATA[]]></Value>
    </hideFromSearch>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <metaRobots>
      <Value><![CDATA[]]></Value>
    </metaRobots>
    <navigationIcon>
      <Value><![CDATA[]]></Value>
    </navigationIcon>
    <navigationTitle>
      <Value Culture="es-co"><![CDATA[]]></Value>
    </navigationTitle>
    <navigationWeight>
      <Value><![CDATA[]]></Value>
    </navigationWeight>
    <ogImage>
      <Value Culture="es-co"><![CDATA[]]></Value>
    </ogImage>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageContainerType>
      <Value><![CDATA[]]></Value>
    </pageContainerType>
    <pageSpacingScale>
      <Value><![CDATA[]]></Value>
    </pageSpacingScale>
    <publishingNotes>
      <Value><![CDATA[]]></Value>
    </publishingNotes>
    <sections>
      <Value Culture="es-co"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/bf754aa8e0014eb285b5890d0de2a3ad",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "3525d41c-ae84-47ac-9297-2148f6a4aae8",
            "items": [
              {
                "contentUdi": "umb://element/16417c24ea9b497ba426be7004447c4c",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/80d33403ca6a428ead80684ee37e71fe",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "3525d41c-ae84-47ac-9297-2148f6a4aae8",
            "items": [
              {
                "contentUdi": "umb://element/9eaf9e226b1442eab3a2bd2dbc8ce61f",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/83632ed54ab443bb92c27aa0b90fd6e5",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "3525d41c-ae84-47ac-9297-2148f6a4aae8",
            "items": [
              {
                "contentUdi": "umb://element/6061381b668c42f48691654d2acfeac3",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/d0213b46f268457eb3738246c088ae0e",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "3525d41c-ae84-47ac-9297-2148f6a4aae8",
            "items": [
              {
                "contentUdi": "umb://element/e4129de0ec47462c933f196148a214a2",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/0c2c349ca5b4407dafa80826105281cb",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "3525d41c-ae84-47ac-9297-2148f6a4aae8",
            "items": [
              {
                "contentUdi": "umb://element/6373c23dbfa44bf1a1edaf96c9ded9b0",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/820421882b8a40a1914d40464f84769a",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "3525d41c-ae84-47ac-9297-2148f6a4aae8",
            "items": [
              {
                "contentUdi": "umb://element/a1b0444cc561403291848c32aba0a56d",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/706044577dd549bf8d013a40b49e4c5b",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "3525d41c-ae84-47ac-9297-2148f6a4aae8",
            "items": [
              {
                "contentUdi": "umb://element/2fc979dcedb04cf8a8c068b591145d76",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/79e78c6b92d945678d09c18e5401d67e",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "3525d41c-ae84-47ac-9297-2148f6a4aae8",
            "items": [
              {
                "contentUdi": "umb://element/0d2e6f8040b1457f96cf17e574fef9b5",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/1f356cbceca043d093c7986fe41414cf",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "3525d41c-ae84-47ac-9297-2148f6a4aae8",
            "items": [
              {
                "contentUdi": "umb://element/fef915e072e2426a856afd64e8d7bdb4",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/904570a25ff24da99413e06feb7535a9",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "3525d41c-ae84-47ac-9297-2148f6a4aae8",
            "items": [
              {
                "contentUdi": "umb://element/621417007615473a98fb7881f02bf468",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  },
  "contentData": [
    {
      "ariaRole": [],
      "containerType": [],
      "contentTypeKey": "1c68f4a9-24e9-49ac-9efa-05b3d4b1404a",
      "mobileCollapseMode": [],
      "spacingBottom": [
        "none"
      ],
      "spacingInline": [
        "none"
      ],
      "spacingTop": [
        "none"
      ],
      "theme": [],
      "udi": "umb://element/bf754aa8e0014eb285b5890d0de2a3ad",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "contentTypeKey": "65a8b66a-be4f-4722-a5b2-42fc57a73ebb",
      "ctaItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/29cdc16a75394f81af85d8aaf5cfe76c"
            },
            {
              "contentUdi": "umb://element/265f2777eb3841efbfde24b69058c2c3"
            }
          ]
        },
        "contentData": [
          {
            "ariaRole": [],
            "contentTypeKey": "2d8d712e-66ec-4052-a627-0ad8a68d0d38",
            "ctaLabel": "Ver una propiedad",
            "ctaLink": [
              {
                "name": "Ver una propiedad",
                "url": "/propiedades/propiedad",
                "target": "",
                "udi": null,
                "icon": null,
                "queryString": null
              }
            ],
            "ctaSecondaryLink": [],
            "udi": "umb://element/29cdc16a75394f81af85d8aaf5cfe76c",
            "variantKey": []
          },
          {
            "ariaRole": [],
            "contentTypeKey": "2d8d712e-66ec-4052-a627-0ad8a68d0d38",
            "ctaLabel": "Hablar con un asesor",
            "ctaLink": [
              {
                "name": "Hablar con un asesor",
                "url": "/synergos/contacto",
                "target": "",
                "udi": null,
                "icon": null,
                "queryString": null
              }
            ],
            "ctaSecondaryLink": [],
            "udi": "umb://element/265f2777eb3841efbfde24b69058c2c3",
            "variantKey": [
              "secondary"
            ]
          }
        ],
        "settingsData": []
      },
      "headingSubtitle": "Filtra por tipo, precio y ubicación y encuentra tu lugar",
      "headingTitle": "Propiedades disponibles",
      "mediaAlt": "Hero del listado de propiedades",
      "mediaReference": [
        {
          "key": "acc07576-db5a-4eba-9b38-757431a6d95c",
          "mediaKey": "f83df20d-e172-4195-a6b5-bab05ac33f77",
          "crops": [],
          "focalPoint": null
        }
      ],
      "spacingBottom": [],
      "spacingInline": [],
      "spacingTop": [],
      "textBody": "<p>Explora todo el inventario disponible. Busca por tipo de propiedad, rango de precio o zona y agenda tu visita en minutos.</p>",
      "udi": "umb://element/16417c24ea9b497ba426be7004447c4c",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "containerType": [],
      "contentTypeKey": "1c68f4a9-24e9-49ac-9efa-05b3d4b1404a",
      "mobileCollapseMode": [],
      "spacingBottom": [
        "2xl"
      ],
      "spacingInline": [
        "lg"
      ],
      "spacingTop": [
        "2xl"
      ],
      "theme": [],
      "udi": "umb://element/80d33403ca6a428ead80684ee37e71fe",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "contentTypeKey": "d2c5c575-33a4-4fbf-8fe6-65f9d41e50ef",
      "searchPlaceholder": "Buscar por zona, tipo o nombre…",
      "submitToPage": "1",
      "udi": "umb://element/9eaf9e226b1442eab3a2bd2dbc8ce61f",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "containerType": [],
      "contentTypeKey": "1c68f4a9-24e9-49ac-9efa-05b3d4b1404a",
      "mobileCollapseMode": [],
      "spacingBottom": [
        "2xl"
      ],
      "spacingInline": [
        "lg"
      ],
      "spacingTop": [
        "2xl"
      ],
      "theme": [],
      "udi": "umb://element/83632ed54ab443bb92c27aa0b90fd6e5",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "contentTypeKey": "aa558080-4f20-4a7d-8bb7-cef8c52439b4",
      "fuente": [
        "inmuebles"
      ],
      "spacingBottom": [],
      "spacingInline": [],
      "spacingTop": [],
      "udi": "umb://element/6061381b668c42f48691654d2acfeac3",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "containerType": [],
      "contentTypeKey": "1c68f4a9-24e9-49ac-9efa-05b3d4b1404a",
      "mobileCollapseMode": [],
      "spacingBottom": [
        "2xl"
      ],
      "spacingInline": [
        "lg"
      ],
      "spacingTop": [
        "2xl"
      ],
      "theme": [
        "dark"
      ],
      "udi": "umb://element/d0213b46f268457eb3738246c088ae0e",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "contentTypeKey": "2717b9e7-debe-4354-8dfd-780f88f1842c",
      "headingSubtitle": "",
      "headingTitle": "Apartamentos",
      "mediaAlt": "SynergosLabs",
      "mediaReference": [],
      "spacingBottom": [],
      "spacingInline": [],
      "spacingTop": [],
      "textBody": "<p>Vivienda vertical con amenidades.</p>",
      "udi": "umb://element/e4129de0ec47462c933f196148a214a2",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "containerType": [],
      "contentTypeKey": "1c68f4a9-24e9-49ac-9efa-05b3d4b1404a",
      "mobileCollapseMode": [],
      "spacingBottom": [
        "2xl"
      ],
      "spacingInline": [
        "lg"
      ],
      "spacingTop": [
        "2xl"
      ],
      "theme": [],
      "udi": "umb://element/0c2c349ca5b4407dafa80826105281cb",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "categoryFilter": "Apartamentos",
      "contentTypeKey": "2077b90e-0bee-4c30-934a-5fd4ea089441",
      "layout": [],
      "maxItems": "24",
      "sortBy": [
        "price-asc"
      ],
      "spacingBottom": [],
      "spacingInline": [],
      "spacingTop": [],
      "udi": "umb://element/6373c23dbfa44bf1a1edaf96c9ded9b0",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "containerType": [],
      "contentTypeKey": "1c68f4a9-24e9-49ac-9efa-05b3d4b1404a",
      "mobileCollapseMode": [],
      "spacingBottom": [
        "2xl"
      ],
      "spacingInline": [
        "lg"
      ],
      "spacingTop": [
        "2xl"
      ],
      "theme": [
        "dark"
      ],
      "udi": "umb://element/820421882b8a40a1914d40464f84769a",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "contentTypeKey": "2717b9e7-debe-4354-8dfd-780f88f1842c",
      "headingSubtitle": "",
      "headingTitle": "Casas",
      "mediaAlt": "SynergosLabs",
      "mediaReference": [],
      "spacingBottom": [],
      "spacingInline": [],
      "spacingTop": [],
      "textBody": "<p>Vivienda unifamiliar con espacio propio.</p>",
      "udi": "umb://element/a1b0444cc561403291848c32aba0a56d",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "containerType": [],
      "contentTypeKey": "1c68f4a9-24e9-49ac-9efa-05b3d4b1404a",
      "mobileCollapseMode": [],
      "spacingBottom": [
        "2xl"
      ],
      "spacingInline": [
        "lg"
      ],
      "spacingTop": [
        "2xl"
      ],
      "theme": [],
      "udi": "umb://element/706044577dd549bf8d013a40b49e4c5b",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "categoryFilter": "Casas",
      "contentTypeKey": "2077b90e-0bee-4c30-934a-5fd4ea089441",
      "layout": [],
      "maxItems": "24",
      "sortBy": [
        "price-asc"
      ],
      "spacingBottom": [],
      "spacingInline": [],
      "spacingTop": [],
      "udi": "umb://element/2fc979dcedb04cf8a8c068b591145d76",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "containerType": [],
      "contentTypeKey": "1c68f4a9-24e9-49ac-9efa-05b3d4b1404a",
      "mobileCollapseMode": [],
      "spacingBottom": [
        "2xl"
      ],
      "spacingInline": [
        "lg"
      ],
      "spacingTop": [
        "2xl"
      ],
      "theme": [
        "dark"
      ],
      "udi": "umb://element/79e78c6b92d945678d09c18e5401d67e",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "contentTypeKey": "2717b9e7-debe-4354-8dfd-780f88f1842c",
      "headingSubtitle": "",
      "headingTitle": "Comercial",
      "mediaAlt": "SynergosLabs",
      "mediaReference": [],
      "spacingBottom": [],
      "spacingInline": [],
      "spacingTop": [],
      "textBody": "<p>Locales y oficinas para tu negocio.</p>",
      "udi": "umb://element/0d2e6f8040b1457f96cf17e574fef9b5",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "containerType": [],
      "contentTypeKey": "1c68f4a9-24e9-49ac-9efa-05b3d4b1404a",
      "mobileCollapseMode": [],
      "spacingBottom": [
        "2xl"
      ],
      "spacingInline": [
        "lg"
      ],
      "spacingTop": [
        "2xl"
      ],
      "theme": [],
      "udi": "umb://element/1f356cbceca043d093c7986fe41414cf",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "categoryFilter": "Comercial",
      "contentTypeKey": "2077b90e-0bee-4c30-934a-5fd4ea089441",
      "layout": [],
      "maxItems": "24",
      "sortBy": [
        "price-asc"
      ],
      "spacingBottom": [],
      "spacingInline": [],
      "spacingTop": [],
      "udi": "umb://element/fef915e072e2426a856afd64e8d7bdb4",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "containerType": [],
      "contentTypeKey": "1c68f4a9-24e9-49ac-9efa-05b3d4b1404a",
      "mobileCollapseMode": [],
      "spacingBottom": [
        "2xl"
      ],
      "spacingInline": [
        "lg"
      ],
      "spacingTop": [
        "2xl"
      ],
      "theme": [
        "dark"
      ],
      "udi": "umb://element/904570a25ff24da99413e06feb7535a9",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "contentTypeKey": "5c21b68f-a4d6-4ef4-aba0-771517acb556",
      "ctaLabel": "Hablar con un asesor",
      "ctaLink": [
        {
          "name": "Hablar con un asesor",
          "url": "/synergos/contacto",
          "target": "",
          "udi": null,
          "icon": null,
          "queryString": null
        }
      ],
      "ctaSecondaryLink": [],
      "headingSubtitle": "Cuéntanos qué necesitas y un asesor te arma una selección a tu medida.",
      "headingTitle": "¿No encuentras lo que buscas?",
      "spacingBottom": [],
      "spacingInline": [],
      "spacingTop": [],
      "udi": "umb://element/621417007615473a98fb7881f02bf468",
      "variantKey": []
    }
  ],
  "settingsData": []
}]]></Value>
    </sections>
    <sectionsAfterBody>
      <Value Culture="es-co"><![CDATA[]]></Value>
    </sectionsAfterBody>
    <seoDescription>
      <Value Culture="es-co"><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value Culture="es-co"><![CDATA[Listado — Propiedades]]></Value>
    </seoTitle>
    <showBreadcrumbs>
      <Value><![CDATA[]]></Value>
    </showBreadcrumbs>
    <showTitle>
      <Value><![CDATA[0]]></Value>
    </showTitle>
    <suppressAside>
      <Value><![CDATA[]]></Value>
    </suppressAside>
    <suppressGlobalAlerts>
      <Value><![CDATA[]]></Value>
    </suppressGlobalAlerts>
    <suppressGlobalBanner>
      <Value><![CDATA[]]></Value>
    </suppressGlobalBanner>
    <suppressGlobalFooterNote>
      <Value><![CDATA[]]></Value>
    </suppressGlobalFooterNote>
    <suppressGlobalModal>
      <Value><![CDATA[]]></Value>
    </suppressGlobalModal>
  </Properties>
</Content>