<?xml version="1.0" encoding="utf-8"?>
<Content Key="cd460fe9-fac2-4d01-b6c7-5c23c4b7c38b" Alias="Tienda" Level="2">
  <Info>
    <Parent Key="0461c64c-63a9-4bd1-ad59-a247253eb107">SynergosLabs</Parent>
    <Path>/SynergosLabs/Tienda</Path>
    <Trashed>false</Trashed>
    <ContentType>siteRoot</ContentType>
    <CreateDate>2026-06-26T10:02:26</CreateDate>
    <NodeName Default="Tienda">
      <Name Culture="es-co">Tienda</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="es-co">true</Published>
    </Published>
    <Schedule />
    <Template Key="d8b7f751-815b-49a4-abb7-944c228d5778">SiteRoot</Template>
  </Info>
  <Properties>
    <activeAlertNode>
      <Value Culture="es-co"><![CDATA[]]></Value>
    </activeAlertNode>
    <activeBannerNode>
      <Value Culture="es-co"><![CDATA[]]></Value>
    </activeBannerNode>
    <activeFooterNoteNode>
      <Value Culture="es-co"><![CDATA[]]></Value>
    </activeFooterNoteNode>
    <activeModalNode>
      <Value Culture="es-co"><![CDATA[]]></Value>
    </activeModalNode>
    <brandDisplayName>
      <Value Culture="es-co"><![CDATA[SynergosLabs Tienda]]></Value>
    </brandDisplayName>
    <brandKey>
      <Value><![CDATA[ecommerce]]></Value>
    </brandKey>
    <canonicalHostname>
      <Value><![CDATA[tienda.synergos.local]]></Value>
    </canonicalHostname>
    <canonicalLink>
      <Value Culture="es-co"><![CDATA[]]></Value>
    </canonicalLink>
    <chromeMode>
      <Value><![CDATA[]]></Value>
    </chromeMode>
    <footerMode>
      <Value><![CDATA[]]></Value>
    </footerMode>
    <headerMode>
      <Value><![CDATA[]]></Value>
    </headerMode>
    <internalNotes>
      <Value><![CDATA[]]></Value>
    </internalNotes>
    <metaRobots>
      <Value><![CDATA[]]></Value>
    </metaRobots>
    <ogImage>
      <Value Culture="es-co"><![CDATA[]]></Value>
    </ogImage>
    <ogType>
      <Value><![CDATA[]]></Value>
    </ogType>
    <pageContainerType>
      <Value><![CDATA[]]></Value>
    </pageContainerType>
    <pageSpacingScale>
      <Value><![CDATA[]]></Value>
    </pageSpacingScale>
    <pageSurface>
      <Value><![CDATA[]]></Value>
    </pageSurface>
    <pageThemeVariant>
      <Value><![CDATA[[
  "dark"
]]]></Value>
    </pageThemeVariant>
    <sections>
      <Value Culture="es-co"><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/eea1a6fea92640f2a3a6ff7c8552d357",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "3525d41c-ae84-47ac-9297-2148f6a4aae8",
            "items": [
              {
                "contentUdi": "umb://element/c209eefc7d044ce2a1c01125e9fc203c",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/8e9d6def81854a19b4670b7077c6f635",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "3525d41c-ae84-47ac-9297-2148f6a4aae8",
            "items": [
              {
                "contentUdi": "umb://element/753f69e0b78443ae9f7af8053a732d5f",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/1868633ea1a64b55aceefda52a978474",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "3525d41c-ae84-47ac-9297-2148f6a4aae8",
            "items": [
              {
                "contentUdi": "umb://element/7e7c57bb3aba42ca9c95a99302238870",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              },
              {
                "contentUdi": "umb://element/015b551e3f5a4cd0b18af95004213ab5",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/d2f0d268abe54dbe910f06780b634b6a",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "3525d41c-ae84-47ac-9297-2148f6a4aae8",
            "items": [
              {
                "contentUdi": "umb://element/a5c70924e8d442f584d6bbd62fe35a69",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/1ec78534769b4cf5b204b0b7bf15a8d8",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "3525d41c-ae84-47ac-9297-2148f6a4aae8",
            "items": [
              {
                "contentUdi": "umb://element/1b044ec984924d2eb0a36c7be778a583",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  },
  "contentData": [
    {
      "ariaRole": [],
      "containerType": [],
      "contentTypeKey": "1c68f4a9-24e9-49ac-9efa-05b3d4b1404a",
      "cssClass": "syn-storefront__module",
      "mobileCollapseMode": [],
      "spacingBottom": [
        "none"
      ],
      "spacingInline": [
        "none"
      ],
      "spacingTop": [
        "none"
      ],
      "theme": [],
      "udi": "umb://element/eea1a6fea92640f2a3a6ff7c8552d357",
      "variantKey": []
    },
    {
      "apiBase": "/api/shop",
      "ariaRole": [],
      "contentTypeKey": "e264cafa-e94f-4c5e-a190-0ad14f9a11d1",
      "heading": "Compra en nuestra tienda online",
      "spacingBottom": [],
      "spacingInline": [],
      "spacingTop": [],
      "subheading": "Catálogo, carrito y checkout en un solo lugar. Explora, agrega al carrito y paga en minutos.",
      "udi": "umb://element/c209eefc7d044ce2a1c01125e9fc203c",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "containerType": [],
      "contentTypeKey": "1c68f4a9-24e9-49ac-9efa-05b3d4b1404a",
      "mobileCollapseMode": [],
      "spacingBottom": [
        "2xl"
      ],
      "spacingInline": [
        "lg"
      ],
      "spacingTop": [
        "2xl"
      ],
      "theme": [],
      "udi": "umb://element/8e9d6def81854a19b4670b7077c6f635",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "contentTypeKey": "2077b90e-0bee-4c30-934a-5fd4ea089441",
      "layout": [],
      "sortBy": [],
      "spacingBottom": [],
      "spacingInline": [],
      "spacingTop": [],
      "udi": "umb://element/753f69e0b78443ae9f7af8053a732d5f",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "containerType": [],
      "contentTypeKey": "1c68f4a9-24e9-49ac-9efa-05b3d4b1404a",
      "mobileCollapseMode": [],
      "spacingBottom": [
        "2xl"
      ],
      "spacingInline": [
        "lg"
      ],
      "spacingTop": [
        "2xl"
      ],
      "theme": [
        "surface"
      ],
      "udi": "umb://element/1868633ea1a64b55aceefda52a978474",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "contentTypeKey": "6ad6f181-661a-48c9-8c36-22f8280f1a22",
      "headingTitle": "Lo que dicen nuestros clientes",
      "udi": "umb://element/7e7c57bb3aba42ca9c95a99302238870",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "contentTypeKey": "8fc6922d-7e96-4a0f-8535-eb55fe1b53ed",
      "spacingBottom": [],
      "spacingInline": [],
      "spacingTop": [],
      "testimonialsJson": [
        {
          "quote": "Calidad impecable y envío rápido. Repito sin dudar.",
          "author": "Mariana López",
          "role": "Cliente verificada",
          "avatar": "",
          "rating": 5
        },
        {
          "quote": "El proceso de compra fue de dos clics. Facilísimo.",
          "author": "Julián Torres",
          "role": "Cliente verificado",
          "avatar": "",
          "rating": 5
        },
        {
          "quote": "Los productos son tal cual las fotos. Recomendado.",
          "author": "Carolina Ruiz",
          "role": "Cliente verificada",
          "avatar": "",
          "rating": 4
        }
      ],
      "udi": "umb://element/015b551e3f5a4cd0b18af95004213ab5",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "containerType": [],
      "contentTypeKey": "1c68f4a9-24e9-49ac-9efa-05b3d4b1404a",
      "mobileCollapseMode": [],
      "spacingBottom": [
        "2xl"
      ],
      "spacingInline": [
        "lg"
      ],
      "spacingTop": [
        "2xl"
      ],
      "theme": [],
      "udi": "umb://element/d2f0d268abe54dbe910f06780b634b6a",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "contentTypeKey": "346fe0eb-b88f-4e93-8944-5d9748191b2c",
      "headingText": "Preguntas frecuentes",
      "itemsJson": [
        {
          "question": "¿Hacen envíos a todo el país?",
          "answer": "Sí, enviamos a toda Colombia con seguimiento incluido."
        },
        {
          "question": "¿Puedo devolver un producto?",
          "answer": "Tenés 30 días para devoluciones, sin preguntas."
        },
        {
          "question": "¿Qué medios de pago aceptan?",
          "answer": "Tarjetas, PSE y pago contra entrega en ciudades principales."
        }
      ],
      "spacingBottom": [],
      "spacingInline": [],
      "spacingTop": [],
      "udi": "umb://element/a5c70924e8d442f584d6bbd62fe35a69",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "containerType": [],
      "contentTypeKey": "1c68f4a9-24e9-49ac-9efa-05b3d4b1404a",
      "mobileCollapseMode": [],
      "spacingBottom": [
        "2xl"
      ],
      "spacingInline": [
        "lg"
      ],
      "spacingTop": [
        "2xl"
      ],
      "theme": [
        "dark"
      ],
      "udi": "umb://element/1ec78534769b4cf5b204b0b7bf15a8d8",
      "variantKey": []
    },
    {
      "ariaRole": [],
      "contentTypeKey": "5c21b68f-a4d6-4ef4-aba0-771517acb556",
      "ctaLabel": "Ver el catálogo",
      "ctaLink": [
        {
          "name": "Ver el catálogo",
          "url": "/tienda/ropa",
          "target": "",
          "udi": null,
          "icon": null,
          "queryString": null
        }
      ],
      "ctaSecondaryLink": [],
      "headingSubtitle": "Lanzá tu tienda esta semana.",
      "headingTitle": "¿Listo para vender online?",
      "spacingBottom": [],
      "spacingInline": [],
      "spacingTop": [],
      "udi": "umb://element/1b044ec984924d2eb0a36c7be778a583",
      "variantKey": []
    }
  ],
  "settingsData": []
}]]></Value>
    </sections>
    <seoDescription>
      <Value Culture="es-co"><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value Culture="es-co"><![CDATA[]]></Value>
    </seoTitle>
    <showBreadcrumbs>
      <Value><![CDATA[]]></Value>
    </showBreadcrumbs>
    <showTitle>
      <Value><![CDATA[]]></Value>
    </showTitle>
    <siteAsideBlocks>
      <Value Culture="es-co"><![CDATA[]]></Value>
    </siteAsideBlocks>
    <siteDisplayName>
      <Value Culture="es-co"><![CDATA[Tienda]]></Value>
    </siteDisplayName>
    <siteFooterBlocks>
      <Value Culture="es-co"><![CDATA[]]></Value>
    </siteFooterBlocks>
    <siteHeaderBlocks>
      <Value Culture="es-co"><![CDATA[]]></Value>
    </siteHeaderBlocks>
    <suppressAside>
      <Value><![CDATA[]]></Value>
    </suppressAside>
    <suppressGlobalAlerts>
      <Value><![CDATA[]]></Value>
    </suppressGlobalAlerts>
    <suppressGlobalBanner>
      <Value><![CDATA[]]></Value>
    </suppressGlobalBanner>
    <suppressGlobalFooterNote>
      <Value><![CDATA[]]></Value>
    </suppressGlobalFooterNote>
    <suppressGlobalModal>
      <Value><![CDATA[]]></Value>
    </suppressGlobalModal>
    <visualProfile>
      <Value><![CDATA[]]></Value>
    </visualProfile>
  </Properties>
</Content>