<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f9147cc6-f240-4ada-bbb1-6879cc5c5a2f" Alias="Account.Registered.IntroWithEmail" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We sent an email to &lt;strong&gt;{0}&lt;/strong&gt; with a link to activate your account. Check your inbox (and your spam folder).</Translation>
    <Translation Language="es-CO">Te enviamos un email a &lt;strong&gt;{0}&lt;/strong&gt; con un link para activar tu cuenta. Revisa tu bandeja de entrada (y la carpeta de spam).</Translation>
  </Translations>
</Dictionary>