<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6dfe53a2-67d9-4861-98b0-b65a5a499834" Alias="Account.ResetPassword.Submit" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Change password</Translation>
    <Translation Language="es-CO">Cambiar contraseña</Translation>
  </Translations>
</Dictionary>