<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cdf50777-5746-491a-99a1-041268607f07" Alias="Account.ResendConfirmation.Intro" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">If you didn't receive the confirmation email or the previous link expired, enter your email to get a new one.</Translation>
    <Translation Language="es-CO">Si no recibiste el email de confirmación o expiró el link anterior, ingresa tu email para enviarte uno nuevo.</Translation>
  </Translations>
</Dictionary>