<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fdccdcd5-8394-404b-b632-9dda58014ffc" Alias="Account.TwoFactor.Title" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Set up two-step verification</Translation>
    <Translation Language="es-CO">Configurar verificación en 2 pasos</Translation>
  </Translations>
</Dictionary>