<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="56df10c0-5748-4293-aad5-db82626e33b0" Alias="Account.Register.Error.InvalidInput" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Email, password and name are required.</Translation>
    <Translation Language="es-CO">Email, contraseña y nombre son obligatorios.</Translation>
  </Translations>
</Dictionary>