<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0b8feae5-b176-4fb2-8254-39fc2609c545" Alias="Account.Login.ForgotPassword" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Forgot your password?</Translation>
    <Translation Language="es-CO">¿Olvidaste tu contraseña?</Translation>
  </Translations>
</Dictionary>