<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f07d0544-0c00-4f8d-aa74-2035f100fdb3" Alias="Account.Login.Title" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sign in</Translation>
    <Translation Language="es-CO">Iniciar sesión</Translation>
  </Translations>
</Dictionary>