<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9edb0447-bcee-48f3-afd9-b61d8949b387" Alias="Account.ResetPassword.NewPasswordLabel" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">New password</Translation>
    <Translation Language="es-CO">Nueva contraseña</Translation>
  </Translations>
</Dictionary>