<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c62a65c0-82f1-4ebe-ba71-c64383ca1900" Alias="Account.Register.HaveAccount" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Already have an account? Sign in</Translation>
    <Translation Language="es-CO">¿Ya tienes cuenta? Iniciar sesión</Translation>
  </Translations>
</Dictionary>