<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="878a551d-8d87-4041-bca9-5d10ec87aaca" Alias="Account.Profile.Msg.CurrentPasswordWrong" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The current password is incorrect.</Translation>
    <Translation Language="es-CO">La contraseña actual no es correcta.</Translation>
  </Translations>
</Dictionary>