<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2765e48a-3279-44ec-af5f-8a499355d74d" Alias="Account.Registered.Intro" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We sent you an email with a link to activate your account. Check your inbox (and your spam folder).</Translation>
    <Translation Language="es-CO">Te enviamos un email con un link para activar tu cuenta. Revisa tu bandeja de entrada (y la carpeta de spam).</Translation>
  </Translations>
</Dictionary>