<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="915ff38c-3975-4611-a8a9-c8127e01b9d9" Alias="Account.ResendConfirmation.Submit" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Resend link</Translation>
    <Translation Language="es-CO">Reenviar link</Translation>
  </Translations>
</Dictionary>