<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c87849ff-9b1f-450e-9553-d55fd66a0057" Alias="Accordion.Expand" Level="1">
  <Info>
    <Parent>Accordion</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Expand</Translation>
    <Translation Language="es-CO">Expandir</Translation>
  </Translations>
</Dictionary>