<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9d1815a0-a576-46e5-b3b2-7e5043174a7c" Alias="Account.ConfirmEmail.InvalidLink" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The confirmation link is incomplete. Check that the URL wasn't cut off when you copied it.</Translation>
    <Translation Language="es-CO">El link de confirmación está incompleto. Verifica que el URL no se haya cortado al copiarlo.</Translation>
  </Translations>
</Dictionary>