<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c203a12f-d3a7-4b77-86ef-34d11c2aee2b" Alias="Account.Register.Submit" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Create account</Translation>
    <Translation Language="es-CO">Crear cuenta</Translation>
  </Translations>
</Dictionary>