<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ce055dd2-9dfd-4d6b-beb3-2679aeb93264" Alias="Account.ForgotPassword.Title" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Recover password</Translation>
    <Translation Language="es-CO">Recuperar contraseña</Translation>
  </Translations>
</Dictionary>