<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f279d4de-e9a7-4402-991b-6fe8fdca313c" Alias="Account.Profile.ChangePasswordSubmit" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Update password</Translation>
    <Translation Language="es-CO">Actualizar contraseña</Translation>
  </Translations>
</Dictionary>