<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="aed0f49c-cad3-4b7f-8e76-6c027827b9f1" Alias="Account.Register.Error.EmailTaken" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">This email is already registered.</Translation>
    <Translation Language="es-CO">Este email ya está registrado.</Translation>
  </Translations>
</Dictionary>