<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3ff6ea01-70c5-41cd-9728-8cd677087f85" Alias="Accordion.Collapse" Level="1">
  <Info>
    <Parent>Accordion</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Collapse</Translation>
    <Translation Language="es-CO">Colapsar</Translation>
  </Translations>
</Dictionary>