<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="24006153-6d56-4304-948b-3a6b514674c4" Alias="Account.Login.RememberMe" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Remember me</Translation>
    <Translation Language="es-CO">Recordar mi sesión</Translation>
  </Translations>
</Dictionary>