<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a328330f-ffa9-4f64-8413-ae8860ee0065" Alias="Account.ResendConfirmation.Sent" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">If the email is registered and not yet confirmed, we sent you a new link. Check your inbox (and your spam folder).</Translation>
    <Translation Language="es-CO">Si el email está registrado y aún no fue confirmado, te enviamos un nuevo link. Revisa tu bandeja de entrada (y la carpeta de spam).</Translation>
  </Translations>
</Dictionary>