<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="798a8ab6-dbe9-4d5d-9686-b5ad2a719e2c" Alias="Account.Profile.Msg.WeakPassword" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The new password doesn't meet the requirements.</Translation>
    <Translation Language="es-CO">La nueva contraseña no cumple los requisitos.</Translation>
  </Translations>
</Dictionary>