<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1a083b24-968b-49d7-bc19-d7e9b196b7e0" Alias="Account.Profile.NewPasswordLabel" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">New password</Translation>
    <Translation Language="es-CO">Nueva contraseña</Translation>
  </Translations>
</Dictionary>