<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="def111df-cf2b-4fc7-9ab9-ee6e4076330e" Alias="Accordion.CollapseAll" Level="1">
  <Info>
    <Parent>Accordion</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Collapse all</Translation>
    <Translation Language="es-CO">Colapsar todo</Translation>
  </Translations>
</Dictionary>