<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4be76f6a-a446-4c42-bb14-9126f2a3a52e" Alias="Account.Profile.Msg.PasswordChanged" Level="1">
  <Info>
    <Parent>Account</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Password updated.</Translation>
    <Translation Language="es-CO">Contraseña actualizada.</Translation>
  </Translations>
</Dictionary>