<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="adbf7bb1-7cd8-414a-8e2a-b9bd30f07637" Alias="Admin.Nav.Search" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Search</Translation>
    <Translation Language="es-CO">Búsqueda</Translation>
  </Translations>
</Dictionary>
