<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0434f6b0-d3b0-4644-a849-debcb254f37a" Alias="Admin.Welcome" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Welcome, {0}</Translation>
    <Translation Language="es-CO">Bienvenido, {0}</Translation>
  </Translations>
</Dictionary>
