<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="87b441c3-3934-400d-be4a-a1ca3cc67c7e" Alias="Admin.Nav.Members" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Members</Translation>
    <Translation Language="es-CO">Miembros</Translation>
  </Translations>
</Dictionary>
