<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9761577d-20d0-4446-a413-5d3b488dcddd" Alias="Admin.Col.LastLogin" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Last login</Translation>
    <Translation Language="es-CO">Último login</Translation>
  </Translations>
</Dictionary>
