<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d3001479-69b1-4d2b-b87c-de2296b68241" Alias="Admin.Action.Spam" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Spam</Translation>
    <Translation Language="es-CO">Spam</Translation>
  </Translations>
</Dictionary>
