<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="246942d8-fed2-45a1-9710-9171bc1500ea" Alias="Admin.Nav.PendingAria" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">{0} pending</Translation>
    <Translation Language="es-CO">{0} pendientes</Translation>
  </Translations>
</Dictionary>
