<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e26201cf-c9fd-45f4-b90c-f8515a86f570" Alias="Admin.Col.Action" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Action</Translation>
    <Translation Language="es-CO">Acción</Translation>
  </Translations>
</Dictionary>
