<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1460f2be-41f9-4107-abce-8f88822e1bde" Alias="Admin.AccessDenied.Home" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Back to home</Translation>
    <Translation Language="es-CO">Volver al inicio</Translation>
  </Translations>
</Dictionary>