<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1d2ce5fa-c0ff-43b2-8476-078323406734" Alias="Admin.Action.Cancel" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Cancel</Translation>
    <Translation Language="es-CO">Cancelar</Translation>
  </Translations>
</Dictionary>
