<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5cb2e013-6b8e-4381-935f-51ef2ad23c3c" Alias="Admin.Status.Partial" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Partial</Translation>
    <Translation Language="es-CO">Parcial</Translation>
  </Translations>
</Dictionary>
