<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8b321296-b6a9-4878-87bb-520339b89bbd" Alias="Admin.Aria.Nav" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Admin</Translation>
    <Translation Language="es-CO">Administración</Translation>
  </Translations>
</Dictionary>
