<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5a5a1e6d-fa28-4cc2-b6bf-a34b7c5c4b30" Alias="Admin.Col.Outcome" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Outcome</Translation>
    <Translation Language="es-CO">Resultado</Translation>
  </Translations>
</Dictionary>
