<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ce46e048-e68b-4a1e-95bf-69ca220f1c2f" Alias="Admin.Col.State" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">State</Translation>
    <Translation Language="es-CO">Estado</Translation>
  </Translations>
</Dictionary>
