<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="58bdbe32-17ed-4c1c-b531-e28db5750527" Alias="Admin.Action.Lock" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Lock</Translation>
    <Translation Language="es-CO">Bloquear</Translation>
  </Translations>
</Dictionary>
