<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="03e08977-b3ba-4f04-971c-77994c2827f5" Alias="Admin.Cards.Moderation.Label" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Pending comments</Translation>
    <Translation Language="es-CO">Comentarios pendientes</Translation>
  </Translations>
</Dictionary>
