<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3ce896a6-5e2f-49ef-8f91-f5833a801000" Alias="Admin.Col.Roles" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Roles</Translation>
    <Translation Language="es-CO">Roles</Translation>
  </Translations>
</Dictionary>
