<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5ea8b3d8-2a90-4f77-85cb-c2583ec59b7d" Alias="Admin.Cards.Search.Label" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Top queries last 7d</Translation>
    <Translation Language="es-CO">Top queries últ. 7d</Translation>
  </Translations>
</Dictionary>
