<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="10803c75-9a3d-44dc-b856-707c91730c41" Alias="Admin.Col.Created" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Created</Translation>
    <Translation Language="es-CO">Creado</Translation>
  </Translations>
</Dictionary>
