<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="947634aa-752f-4525-8f0a-b1a11c834324" Alias="Admin.Page.Next" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Next</Translation>
    <Translation Language="es-CO">Siguiente</Translation>
  </Translations>
</Dictionary>
