<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="654a2eff-8b7c-40f2-830f-4bb0baaa2e8c" Alias="Admin.Action.Test" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Trigger test</Translation>
    <Translation Language="es-CO">Disparar test</Translation>
  </Translations>
</Dictionary>
