<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b7c679d0-7c9a-4865-8aec-4e999be83fdc" Alias="Admin.AccessDenied.SwitchAccount" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sign in with another account</Translation>
    <Translation Language="es-CO">Entrar con otra cuenta</Translation>
  </Translations>
</Dictionary>