<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dd79da4c-d0fe-4f3d-b1dd-68dcdf5c121a" Alias="Admin.Action.Approve" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Approve</Translation>
    <Translation Language="es-CO">Aprobar</Translation>
  </Translations>
</Dictionary>
