<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="59416314-4e74-4c9e-81fa-ac61e6dfae6d" Alias="Admin.Col.Resource" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Resource</Translation>
    <Translation Language="es-CO">Recurso</Translation>
  </Translations>
</Dictionary>
