<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="22d4d0cc-6342-485c-80a1-6874066b0e23" Alias="Admin.AccessDenied.Title" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No permission</Translation>
    <Translation Language="es-CO">Sin permiso</Translation>
  </Translations>
</Dictionary>