<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d2da82da-e8a7-477c-bd30-6e624f1054aa" Alias="Admin.Col.Actions" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Actions</Translation>
    <Translation Language="es-CO">Acciones</Translation>
  </Translations>
</Dictionary>
