<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9ce72503-d41d-4d62-b4bb-2080cab9f7bf" Alias="Admin.Page.Previous" Level="1">
  <Info>
    <Parent>Admin</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Previous</Translation>
    <Translation Language="es-CO">Anterior</Translation>
  </Translations>
</Dictionary>
