<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ae99f6d8-588d-4692-acb7-26027b2b50ec" Alias="Alert.Error" Level="1">
  <Info>
    <Parent>Alert</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Error</Translation>
    <Translation Language="es-CO">Error</Translation>
  </Translations>
</Dictionary>