<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="25cc1b47-a291-4e06-b216-ac26421b5f1f" Alias="Alert.Warning" Level="1">
  <Info>
    <Parent>Alert</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Warning</Translation>
    <Translation Language="es-CO">Advertencia</Translation>
  </Translations>
</Dictionary>