<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="67065f3e-388f-4b37-9385-018f5604e638" Alias="Alert.Aria.Label" Level="1">
  <Info>
    <Parent>Alert</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Site notice</Translation>
    <Translation Language="es-CO">Aviso del sitio</Translation>
  </Translations>
</Dictionary>