<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fa63f7fe-8600-44d9-9dec-aa335b1f69a4" Alias="Alert.Dismiss" Level="1">
  <Info>
    <Parent>Alert</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Dismiss</Translation>
    <Translation Language="es-CO">Cerrar</Translation>
  </Translations>
</Dictionary>