<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="89af6d8a-8c29-4d0d-900e-9b7af606e978" Alias="Alquiler.Catalog.Open" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">View and book</Translation>
    <Translation Language="es-CO">Ver y reservar</Translation>
  </Translations>
</Dictionary>