<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5b434ad1-027b-40da-90a1-2a82b49b2408" Alias="Alquiler.Done.Title" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Rental {id}</Translation>
    <Translation Language="es-CO">Alquiler {id}</Translation>
  </Translations>
</Dictionary>