<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="13999022-75a0-42a0-9fb7-02315732126d" Alias="Alquiler.Seal.Unverified" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Receipt issued, seal not verified.</Translation>
    <Translation Language="es-CO">Comprobante emitido, sello sin comprobar.</Translation>
  </Translations>
</Dictionary>