<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e9a1a739-e85f-4711-a59f-37d031bab664" Alias="Alquiler.Form.Asked" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">You asked for {dias}.</Translation>
    <Translation Language="es-CO">Pediste {dias}.</Translation>
  </Translations>
</Dictionary>