<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ffd79649-8446-4c8d-af8c-1cc2767c1a4c" Alias="Alquiler.Errors.DetailGone" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">That equipment is no longer published.</Translation>
    <Translation Language="es-CO">Ese equipo ya no está publicado.</Translation>
  </Translations>
</Dictionary>