<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fcf96db3-7f37-4876-878f-08a79624649b" Alias="Alquiler.Form.Bounds" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Between {min} and {max} day(s).</Translation>
    <Translation Language="es-CO">Entre {min} y {max} día(s).</Translation>
  </Translations>
</Dictionary>