<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="98bbc7fe-3891-42fa-ad76-c250f51c5302" Alias="Alquiler.Mine.Failed" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We couldn't read your rentals.</Translation>
    <Translation Language="es-CO">No pudimos leer tus alquileres.</Translation>
  </Translations>
</Dictionary>