<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1dbd3f4c-73f9-4ba7-be4b-d0189df294fb" Alias="Alquiler.Form.Quoting" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Calculating…</Translation>
    <Translation Language="es-CO">Calculando…</Translation>
  </Translations>
</Dictionary>