<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f82a6196-22b0-4f73-a4a6-ef69b3940bb6" Alias="Alquiler.Detail.Includes" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Includes: {lista}</Translation>
    <Translation Language="es-CO">Incluye: {lista}</Translation>
  </Translations>
</Dictionary>