<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3ded887d-12d9-4621-951f-95927e4fd96f" Alias="Alquiler.Catalog.PerDay" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">per day</Translation>
    <Translation Language="es-CO">por día</Translation>
  </Translations>
</Dictionary>