<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c4c71edb-3bfd-4440-98a6-330a8e05d7ec" Alias="Alquiler.Errors.ReserveFailed" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We couldn't book the equipment. Please try again.</Translation>
    <Translation Language="es-CO">No pudimos reservar el equipo. Vuelve a intentarlo.</Translation>
  </Translations>
</Dictionary>