<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4d5a0c8e-f464-4852-96f2-9767b01a9c34" Alias="Alquiler.Catalog.DepositHeld" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Deposit held: {monto}</Translation>
    <Translation Language="es-CO">Garantía retenida: {monto}</Translation>
  </Translations>
</Dictionary>