<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7509efd0-bab2-4777-9c52-c184c80366d5" Alias="Alquiler.Catalog.Loading" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Loading equipment</Translation>
    <Translation Language="es-CO">Cargando equipos</Translation>
  </Translations>
</Dictionary>