<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="30c01369-a9e2-41ac-8d32-5c70cc9981eb" Alias="Alquiler.Errors.SignInToRent" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">You need to sign in to rent.</Translation>
    <Translation Language="es-CO">Hay que iniciar sesión para alquilar.</Translation>
  </Translations>
</Dictionary>