<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="00d6b340-954d-4f14-9c80-87c04d533d47" Alias="Alquiler.Nav.Mine" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">My rentals</Translation>
    <Translation Language="es-CO">Mis alquileres</Translation>
  </Translations>
</Dictionary>