<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="59f9ce0f-6133-4e76-b21e-26303479cb57" Alias="Alquiler.Mine.Loading" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Loading your rentals</Translation>
    <Translation Language="es-CO">Cargando tus alquileres</Translation>
  </Translations>
</Dictionary>