<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dafff73f-7dc8-4340-8a31-adac23f1279c" Alias="Alquiler.Quote.Reserve" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Book</Translation>
    <Translation Language="es-CO">Reservar</Translation>
  </Translations>
</Dictionary>