<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="49c7a0fe-5113-4459-8da7-ae7d2cfb31dd" Alias="Alquiler.Done.Line" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">{unidades} unit(s), from {desde} to {hasta}.</Translation>
    <Translation Language="es-CO">{unidades} unidad(es), del {desde} al {hasta}.</Translation>
  </Translations>
</Dictionary>