<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2cde39d9-5f04-4e55-920f-379860f7a20e" Alias="Alquiler.Form.Units" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Units</Translation>
    <Translation Language="es-CO">Unidades</Translation>
  </Translations>
</Dictionary>