<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5bf89d45-7a6e-45a7-8202-a0a50363957c" Alias="Alquiler.Detail.Back" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">← Back</Translation>
    <Translation Language="es-CO">← Volver</Translation>
  </Translations>
</Dictionary>