<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="85af00b5-a97c-4e7b-bb65-dbcce59dbcbe" Alias="Alquiler.Detail.Loading" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Loading the details</Translation>
    <Translation Language="es-CO">Cargando la ficha</Translation>
  </Translations>
</Dictionary>