<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ae6306c0-927c-4010-8d54-ccad6790a5b0" Alias="Alquiler.Mine.Cancel" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Cancel</Translation>
    <Translation Language="es-CO">Cancelar</Translation>
  </Translations>
</Dictionary>