<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7bc2ee0c-358d-4795-8c6a-cac7a6f50e2e" Alias="Alquiler.Nav.Sections" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sections</Translation>
    <Translation Language="es-CO">Secciones</Translation>
  </Translations>
</Dictionary>