<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e2d8018c-862d-438a-b489-22b2a7cd6ed3" Alias="Alquiler.Errors.DetailFailed" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We couldn't read the equipment details.</Translation>
    <Translation Language="es-CO">No pudimos leer la ficha del equipo.</Translation>
  </Translations>
</Dictionary>