<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ae66f7ab-b4eb-4d2a-b1ee-a56701933365" Alias="Alquiler.Errors.ReturnFailed" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We couldn't record the return. The rental is still open.</Translation>
    <Translation Language="es-CO">No pudimos registrar la devolución. El alquiler sigue abierto.</Translation>
  </Translations>
</Dictionary>