<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3e51d25a-352b-40e6-b69b-5983f631ed5c" Alias="Alquiler.Form.To" Level="1">
  <Info>
    <Parent>Alquiler</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">To</Translation>
    <Translation Language="es-CO">Hasta</Translation>
  </Translations>
</Dictionary>