<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a30b066f-53d3-4fe2-aede-582121d844ec" Alias="AppLauncher.Filters.Aria" Level="1">
  <Info>
    <Parent>AppLauncher</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Filters</Translation>
    <Translation Language="es-CO">Filtros</Translation>
  </Translations>
</Dictionary>