<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6fc61d1b-4c5a-43fc-8324-f0361f51a36e" Alias="AppLauncher.Count.Other" Level="1">
  <Info>
    <Parent>AppLauncher</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">{count} apps</Translation>
    <Translation Language="es-CO">{count} aplicaciones</Translation>
  </Translations>
</Dictionary>