<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="20302cd5-7ee1-4375-b4c0-2679cc06c649" Alias="AppLauncher.EmbedPreview" Level="1">
  <Info>
    <Parent>AppLauncher</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Embedded preview</Translation>
    <Translation Language="es-CO">Vista previa integrada</Translation>
  </Translations>
</Dictionary>