<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e06a4d0c-a095-49e0-9385-c482b5933b46" Alias="AppLauncher.Filters.Persona" Level="1">
  <Info>
    <Parent>AppLauncher</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Persona</Translation>
    <Translation Language="es-CO">Persona</Translation>
  </Translations>
</Dictionary>