<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fdbcb3df-d589-47f4-8a4f-6b1e1be5db91" Alias="AvatarGroup.Count.One" Level="1">
  <Info>
    <Parent>AvatarGroup</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">{label}: 1 member</Translation>
    <Translation Language="es-CO">{label}: 1 integrante</Translation>
  </Translations>
</Dictionary>