<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="55a39a92-d3af-43d5-bda8-d9072715f165" Alias="AvatarGroup.More" Level="1">
  <Info>
    <Parent>AvatarGroup</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">{count} more members</Translation>
    <Translation Language="es-CO">{count} integrantes más</Translation>
  </Translations>
</Dictionary>