<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9d8aed6d-a2c6-433b-b416-3d9098644814" Alias="AvatarGroup.Empty" Level="1">
  <Info>
    <Parent>AvatarGroup</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No members to show.</Translation>
    <Translation Language="es-CO">No hay integrantes para mostrar.</Translation>
  </Translations>
</Dictionary>