<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="259c0d55-cab7-41cc-83a9-66ae437ad54e" Alias="BadgeGroup.Empty" Level="1">
  <Info>
    <Parent>BadgeGroup</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No items.</Translation>
    <Translation Language="es-CO">No hay elementos.</Translation>
  </Translations>
</Dictionary>