<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="14f7da14-b5f6-4bab-a95c-f2019f1cba18" Alias="Blog.OnThisPage" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">On this page</Translation>
    <Translation Language="es-CO">En esta página</Translation>
  </Translations>
</Dictionary>
