<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9c0001ba-aea6-43ef-a8cf-b61c23effc68" Alias="Blog.OtherTopics" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Other topics</Translation>
    <Translation Language="es-CO">Otros temas</Translation>
  </Translations>
</Dictionary>