<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1325890f-8ed2-4d29-aba7-d1a7c22bf393" Alias="Blog.Articles" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">articles</Translation>
    <Translation Language="es-CO">artículos</Translation>
  </Translations>
</Dictionary>
