<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="360967fd-1fbc-44a2-bbbc-f0644bef4e30" Alias="Blog.BackToList" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Back to blog</Translation>
    <Translation Language="es-CO">Volver al blog</Translation>
  </Translations>
</Dictionary>