<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="48dd1405-8758-4e31-a3d9-18e77ca03df4" Alias="Blog.Tag" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Tag</Translation>
    <Translation Language="es-CO">Etiqueta</Translation>
  </Translations>
</Dictionary>
