<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="31ba23ba-0bff-4326-9a6f-c810eece4946" Alias="Blog.PostType.opinion" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Opinion</Translation>
    <Translation Language="es-CO">Opinión</Translation>
  </Translations>
</Dictionary>