<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="15731fac-7385-4558-8398-64d22aca5cd5" Alias="Blog.PostType.interview" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Interview</Translation>
    <Translation Language="es-CO">Entrevista</Translation>
  </Translations>
</Dictionary>