<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="464e005b-6add-4345-b279-cbd3c0550034" Alias="Blog.Tags" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Tags</Translation>
    <Translation Language="es-CO">Etiquetas</Translation>
  </Translations>
</Dictionary>