<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bfc741ca-26c3-4dcf-ae7c-c5370a2c2570" Alias="Blog.ReadArticle" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Read article</Translation>
    <Translation Language="es-CO">Leer artículo</Translation>
  </Translations>
</Dictionary>