<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0aa3f951-7172-499a-a298-797a34e5d91c" Alias="Blog.ArticleCount" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">articles</Translation>
    <Translation Language="es-CO">artículos</Translation>
  </Translations>
</Dictionary>