<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c7290730-52f2-4966-9460-9b4db2771302" Alias="Blog.SeeAll" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">See all</Translation>
    <Translation Language="es-CO">Ver todos</Translation>
  </Translations>
</Dictionary>