<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9efe69b9-790a-4b5a-b08a-2e79cd46f751" Alias="Blog.Published" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Published</Translation>
    <Translation Language="es-CO">Publicado</Translation>
  </Translations>
</Dictionary>