<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="78f48c47-edee-4135-ba80-2e79a7013207" Alias="Blog.AuthorEmail" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Email</Translation>
    <Translation Language="es-CO">Email</Translation>
  </Translations>
</Dictionary>