<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1ef3f1c9-a23e-4796-925c-a36311145e46" Alias="Blog.AllPosts" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">All posts</Translation>
    <Translation Language="es-CO">Todas las publicaciones</Translation>
  </Translations>
</Dictionary>