<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="49747b2e-02c3-48c4-92ab-2a13153a4f6d" Alias="Blog.Prev" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Previous</Translation>
    <Translation Language="es-CO">Anterior</Translation>
  </Translations>
</Dictionary>