<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7d717f21-99f6-441b-99eb-c54e7332c2bf" Alias="Blog.ContinueReading" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Continue reading</Translation>
    <Translation Language="es-CO">Seguir leyendo</Translation>
  </Translations>
</Dictionary>