<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8323924e-f599-4e1a-896b-3d946555d5af" Alias="Blog.NoArticles" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No articles selected.</Translation>
    <Translation Language="es-CO">No hay artículos seleccionados.</Translation>
  </Translations>
</Dictionary>