<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f15d4bf3-ff68-40f7-89a6-1cb0848ebd44" Alias="Blog.MaybeInterest" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">You may also like…</Translation>
    <Translation Language="es-CO">Quizás también te interese…</Translation>
  </Translations>
</Dictionary>