<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="06f70b3a-537a-4088-aad2-e1d0fd04cecf" Alias="Blog.Next" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Next</Translation>
    <Translation Language="es-CO">Siguiente</Translation>
  </Translations>
</Dictionary>