<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3518413b-bf36-4877-a4cc-1293920ca5a4" Alias="Blog.RelatedPosts" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Related posts</Translation>
    <Translation Language="es-CO">Artículos relacionados</Translation>
  </Translations>
</Dictionary>