<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="66475c9f-2dd8-4685-92c1-d443b85dad6c" Alias="Blog.Article" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">article</Translation>
    <Translation Language="es-CO">artículo</Translation>
  </Translations>
</Dictionary>
