<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="79a01c84-4195-49d3-b871-3b0bcc2c9fec" Alias="Blog.NoAuthorPosts" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">This author hasn&apos;t published yet.</Translation>
    <Translation Language="es-CO">Este autor aún no ha publicado.</Translation>
  </Translations>
</Dictionary>