<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c2947b42-5e0c-4ddf-992e-21dca7507255" Alias="ChartBar.Summary.Other" Level="1">
  <Info>
    <Parent>ChartBar</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">{title}: {count} categories.</Translation>
    <Translation Language="es-CO">{title}: {count} categorías.</Translation>
  </Translations>
</Dictionary>