<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="792bf1d1-f08d-4ca3-b9fe-fb16651041db" Alias="ChartBar.Value" Level="1">
  <Info>
    <Parent>ChartBar</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Value</Translation>
    <Translation Language="es-CO">Valor</Translation>
  </Translations>
</Dictionary>