<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="95c922ed-9a47-430f-975d-32e2c6ef9776" Alias="ColorSwatches.Selected" Level="1">
  <Info>
    <Parent>ColorSwatches</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Selected color: {color}</Translation>
    <Translation Language="es-CO">Color seleccionado: {color}</Translation>
  </Translations>
</Dictionary>