<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9903c129-3a2a-43c2-9d06-3e20c64126b9" Alias="ColorSwatches.None" Level="1">
  <Info>
    <Parent>ColorSwatches</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No color selected.</Translation>
    <Translation Language="es-CO">Ningún color seleccionado.</Translation>
  </Translations>
</Dictionary>