<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ccef0863-f66f-491b-815c-54be3dd13db0" Alias="Common.Date.PublishedOn" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Published on</Translation>
    <Translation Language="es-CO">Publicado el</Translation>
  </Translations>
</Dictionary>