<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="38851499-bd92-430e-8124-3c5365b5f520" Alias="Common.Actions.Open" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Open</Translation>
    <Translation Language="es-CO">Abrir</Translation>
  </Translations>
</Dictionary>