<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="df2f4ff6-69d6-425e-a0e6-3c464047c970" Alias="Common.Brand.Default" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">SynergosLabs</Translation>
    <Translation Language="es-CO">SynergosLabs</Translation>
  </Translations>
</Dictionary>