<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="34a48709-b4ca-4b00-bb78-b4d0b3ea0756" Alias="Common.Buttons.Edit" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Edit</Translation>
    <Translation Language="es-CO">Editar</Translation>
  </Translations>
</Dictionary>