<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b0a1f812-690d-41fc-8486-4b3b3cb08c24" Alias="Common.Actions.ReadMore" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Read more</Translation>
    <Translation Language="es-CO">Leer más</Translation>
  </Translations>
</Dictionary>