<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b6759c84-de26-4c65-986b-ec16982d24ea" Alias="Common.Buttons.Delete" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Delete</Translation>
    <Translation Language="es-CO">Eliminar</Translation>
  </Translations>
</Dictionary>