<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ec98c61a-35a2-4beb-a913-5627ffe13ad6" Alias="Common.Actions.LearnMore" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Learn more</Translation>
    <Translation Language="es-CO">Más información</Translation>
  </Translations>
</Dictionary>