<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1d6252c7-14d6-43db-8f50-f1a79d7136cc" Alias="Common.Aria.CloseMenu" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Close menu</Translation>
    <Translation Language="es-CO">Cerrar menú</Translation>
  </Translations>
</Dictionary>