<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8495283e-0531-4376-a1e0-7e5058dd3d15" Alias="Common.Error" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Something went wrong. Please try again.</Translation>
    <Translation Language="es-CO">Algo salió mal. Por favor intenta de nuevo.</Translation>
  </Translations>
</Dictionary>
