<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bd3964da-8c1b-4b84-9828-b3ee7969f3f3" Alias="Common.Actions.Share" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Share</Translation>
    <Translation Language="es-CO">Compartir</Translation>
  </Translations>
</Dictionary>