<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1eef6164-f07d-4f23-84fb-cd38bb7ce7f8" Alias="Common.Buttons.Save" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Save</Translation>
    <Translation Language="es-CO">Guardar</Translation>
  </Translations>
</Dictionary>