<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e0f60a92-3258-4395-9c94-fcab33ff41d1" Alias="Common.States.Loading" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Loading…</Translation>
    <Translation Language="es-CO">Cargando…</Translation>
  </Translations>
</Dictionary>