<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="adcbe255-8acb-40d5-91eb-738efb107a0a" Alias="Common.Actions.ViewAll" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">View all</Translation>
    <Translation Language="es-CO">Ver todo</Translation>
  </Translations>
</Dictionary>