<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bbf570f2-5b65-4c84-bea0-916f282684fb" Alias="Common.Actions.Previous" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Previous</Translation>
    <Translation Language="es-CO">Anterior</Translation>
  </Translations>
</Dictionary>