<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c8cfc5f5-d65f-4875-ad11-67734860a900" Alias="Common.Actions.Close" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Close</Translation>
    <Translation Language="es-CO">Cerrar</Translation>
  </Translations>
</Dictionary>