<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f3ce8c56-a62b-40d2-81bc-5a37413abd5a" Alias="Common.Actions.ContactUs" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Contact us</Translation>
    <Translation Language="es-CO">Contáctanos</Translation>
  </Translations>
</Dictionary>