<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="63bee863-a929-43d4-a8d0-57e0d1446243" Alias="Common.Aria.Loading" Level="1">
  <Info>
    <Parent>Common</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Loading, please wait</Translation>
    <Translation Language="es-CO">Cargando, por favor espera</Translation>
  </Translations>
</Dictionary>