<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b2514787-d3f9-472a-8066-5aaee073ed38" Alias="Cookie.Analytics.Description" Level="1">
  <Info>
    <Parent>Cookie</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">They help us understand how the site is used so we can improve it.</Translation>
    <Translation Language="es-CO">Nos ayudan a entender cómo se usa el sitio para mejorarlo.</Translation>
  </Translations>
</Dictionary>