<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4996e712-101b-4741-afed-03f73b66ed12" Alias="Cookie.Options" Level="1">
  <Info>
    <Parent>Cookie</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Consent options</Translation>
    <Translation Language="es-CO">Opciones de consentimiento</Translation>
  </Translations>
</Dictionary>