<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7a426341-a354-4688-b4b5-15ac24794b01" Alias="Cookie.NecessaryOnly" Level="1">
  <Info>
    <Parent>Cookie</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Necessary only</Translation>
    <Translation Language="es-CO">Solo necesarias</Translation>
  </Translations>
</Dictionary>