<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dbeca728-65c0-4feb-93c4-74b1e77819a0" Alias="Cookie.MoreInfo" Level="1">
  <Info>
    <Parent>Cookie</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">More information</Translation>
    <Translation Language="es-CO">Más información</Translation>
  </Translations>
</Dictionary>