<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="87954460-8282-4ad2-81fd-f2f19a976694" Alias="Cookie.Necessary.Description" Level="1">
  <Info>
    <Parent>Cookie</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Essential for the site to work. Always on.</Translation>
    <Translation Language="es-CO">Imprescindibles para el funcionamiento del sitio. Siempre activas.</Translation>
  </Translations>
</Dictionary>