<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5dd7e267-7cb8-46d9-92a9-9e7df4871854" Alias="Cookie.Marketing.Label" Level="1">
  <Info>
    <Parent>Cookie</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Marketing</Translation>
    <Translation Language="es-CO">Marketing</Translation>
  </Translations>
</Dictionary>