<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dfe6f00c-fc56-4694-ac80-6854a433fad9" Alias="Cookie.Necessary.Label" Level="1">
  <Info>
    <Parent>Cookie</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Necessary</Translation>
    <Translation Language="es-CO">Necesarias</Translation>
  </Translations>
</Dictionary>