<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="611cae55-56d8-4f26-bea7-e1191613ec6a" Alias="Cookie.RejectAll" Level="1">
  <Info>
    <Parent>Cookie</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Reject all</Translation>
    <Translation Language="es-CO">Rechazar todo</Translation>
  </Translations>
</Dictionary>