<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a3dd109d-3533-431d-ae68-18dcecb6ef8a" Alias="Cookie.AcceptAll" Level="1">
  <Info>
    <Parent>Cookie</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Accept all</Translation>
    <Translation Language="es-CO">Aceptar todo</Translation>
  </Translations>
</Dictionary>