<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4e7e37be-d97a-4c1e-935c-ff0ef890f67f" Alias="Cookie.AlwaysOn" Level="1">
  <Info>
    <Parent>Cookie</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Always on</Translation>
    <Translation Language="es-CO">Siempre activas</Translation>
  </Translations>
</Dictionary>