<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5c085b1b-e119-4798-b15e-7ce4d6f65319" Alias="Countdown.Milestone.Minute" Level="1">
  <Info>
    <Parent>Countdown</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Less than a minute to go.</Translation>
    <Translation Language="es-CO">Falta menos de un minuto.</Translation>
  </Translations>
</Dictionary>