<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="739c0630-000d-47a2-ad7e-4f7f115927df" Alias="Countdown.Milestone.Day" Level="1">
  <Info>
    <Parent>Countdown</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Less than a day to go.</Translation>
    <Translation Language="es-CO">Falta menos de un día.</Translation>
  </Translations>
</Dictionary>