<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7daeaac5-0740-4c1a-82f1-8d9333e4f710" Alias="Countdown.Label" Level="1">
  <Info>
    <Parent>Countdown</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Countdown to</Translation>
    <Translation Language="es-CO">Cuenta regresiva hacia</Translation>
  </Translations>
</Dictionary>