<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d0387f10-3efb-4719-b6f8-587c3f198d02" Alias="Countdown.Days" Level="1">
  <Info>
    <Parent>Countdown</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Days</Translation>
    <Translation Language="es-CO">Días</Translation>
  </Translations>
</Dictionary>