<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ccc33222-6c52-45b7-8417-f92d2dc69963" Alias="Countdown.Short.Seconds" Level="1">
  <Info>
    <Parent>Countdown</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sec</Translation>
    <Translation Language="es-CO">Seg</Translation>
  </Translations>
</Dictionary>