<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="443e799a-a874-4ff1-b7cd-189895c190af" Alias="Countdown.Seconds" Level="1">
  <Info>
    <Parent>Countdown</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Seconds</Translation>
    <Translation Language="es-CO">Segundos</Translation>
  </Translations>
</Dictionary>