<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d918e5cf-3dd2-4731-ae7e-b813787a7331" Alias="Countdown.Milestone.TenMinutes" Level="1">
  <Info>
    <Parent>Countdown</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Less than 10 minutes to go.</Translation>
    <Translation Language="es-CO">Faltan menos de 10 minutos.</Translation>
  </Translations>
</Dictionary>