<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e4ed5e03-a2a1-406f-b7a1-7a3f761892a1" Alias="Countdown.Started" Level="1">
  <Info>
    <Parent>Countdown</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The event has started</Translation>
    <Translation Language="es-CO">El evento ha comenzado</Translation>
  </Translations>
</Dictionary>