<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c5918581-06d1-4715-a92b-4ae8b0829a7e" Alias="DataGrid.Detail" Level="1">
  <Info>
    <Parent>DataGrid</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Details</Translation>
    <Translation Language="es-CO">Detalle</Translation>
  </Translations>
</Dictionary>