<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7b59687a-a28a-4763-8977-fb3f9cbfd41d" Alias="DataGrid.Location" Level="1">
  <Info>
    <Parent>DataGrid</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Location</Translation>
    <Translation Language="es-CO">Ubicación</Translation>
  </Translations>
</Dictionary>