<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b96148dc-393b-4d5b-89ee-8c167031024b" Alias="DataGrid.Date" Level="1">
  <Info>
    <Parent>DataGrid</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Date</Translation>
    <Translation Language="es-CO">Fecha</Translation>
  </Translations>
</Dictionary>