<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d7d3c620-7735-4ba7-8609-e0ca827fe909" Alias="DataGrid.Aria" Level="1">
  <Info>
    <Parent>DataGrid</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Listing</Translation>
    <Translation Language="es-CO">Listado</Translation>
  </Translations>
</Dictionary>