<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5a418942-4f3a-42bd-a415-ed9d6c923ccc" Alias="DataGrid.Cta" Level="1">
  <Info>
    <Parent>DataGrid</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">View details</Translation>
    <Translation Language="es-CO">Ver detalle</Translation>
  </Translations>
</Dictionary>