<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f9bcbec2-7a37-4e95-8233-5df5eaf86313" Alias="Dropdown.Trigger" Level="1">
  <Info>
    <Parent>Dropdown</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Options</Translation>
    <Translation Language="es-CO">Opciones</Translation>
  </Translations>
</Dictionary>