<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5b5909c7-d842-4b52-aff4-d28611d17ae2" Alias="Error.500.Message" Level="1">
  <Info>
    <Parent>Error</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We logged the error and are looking into it.</Translation>
    <Translation Language="es-CO">Registramos el error y lo estamos revisando.</Translation>
  </Translations>
</Dictionary>