<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="12094372-391d-4669-a566-30d986b5502c" Alias="Error.404.Message" Level="1">
  <Info>
    <Parent>Error</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">The page you were looking for doesn&apos;t exist or was moved.</Translation>
    <Translation Language="es-CO">La página que buscas no existe o fue movida.</Translation>
  </Translations>
</Dictionary>