<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9c2bf1fb-a0a8-4364-8183-e0da9b098fe8" Alias="Error.403.Message" Level="1">
  <Info>
    <Parent>Error</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">You don&apos;t have permission to view this page.</Translation>
    <Translation Language="es-CO">No tienes permiso para ver esta página.</Translation>
  </Translations>
</Dictionary>