<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="69eaf383-b34c-4eae-9c4d-5a056b0fc08f" Alias="Error.Forbidden.Description" Level="1">
  <Info>
    <Parent>Error</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">You don&apos;t have permission to view this page.</Translation>
    <Translation Language="es-CO">No tienes permiso para ver esta página.</Translation>
  </Translations>
</Dictionary>