<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4f7580b3-c03e-4a80-9a39-e59e19d21a7d" Alias="Error.Default.Message" Level="1">
  <Info>
    <Parent>Error</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please try again in a moment.</Translation>
    <Translation Language="es-CO">Por favor inténtalo de nuevo en un momento.</Translation>
  </Translations>
</Dictionary>