<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="67308625-03ee-412c-b84a-edb0788be31d" Alias="Error.404.Title" Level="1">
  <Info>
    <Parent>Error</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Page not found</Translation>
    <Translation Language="es-CO">Página no encontrada</Translation>
  </Translations>
</Dictionary>