<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="66b8de11-b500-4b73-b4e1-b8ecc545ed16" Alias="Error.Forbidden.Title" Level="1">
  <Info>
    <Parent>Error</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Access denied</Translation>
    <Translation Language="es-CO">Acceso denegado</Translation>
  </Translations>
</Dictionary>