<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7d1b6400-9b65-4945-b0b9-121371fd5e26" Alias="Events.Purchase.Failed" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We couldn't complete your purchase and you weren't charged. Please try again.</Translation>
    <Translation Language="es-CO">No pudimos completar tu compra y no se te cobró nada. Intenta de nuevo.</Translation>
  </Translations>
</Dictionary>