<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2664cbed-f25f-4ef8-858b-35ba1b7d52c0" Alias="Events.Purchase.FreeFailed" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We couldn't complete your registration. Please try again.</Translation>
    <Translation Language="es-CO">No pudimos completar tu registro. Intenta de nuevo.</Translation>
  </Translations>
</Dictionary>