<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8adce4bd-571a-42a2-a681-0b36903e38e0" Alias="Events.Purchase.LinkSignIn" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sign in to see your purchase and its tickets.</Translation>
    <Translation Language="es-CO">Inicia sesión para ver tu compra y sus entradas.</Translation>
  </Translations>
</Dictionary>