<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="581fd93b-8c42-4e70-98a1-48adaa70e1a5" Alias="Events.Purchase.InProgress" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Your purchase is still being processed. Try again in a few seconds.</Translation>
    <Translation Language="es-CO">Tu compra todavía se está procesando. Inténtalo de nuevo en unos segundos.</Translation>
  </Translations>
</Dictionary>