<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="91947077-0040-449a-9c0e-4629d1fa4609" Alias="Events.Purchase.Unavailable" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Online purchase isn't available right now.</Translation>
    <Translation Language="es-CO">La compra en línea no está disponible en este momento.</Translation>
  </Translations>
</Dictionary>