<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="80d86d71-b45f-4663-bdb9-d9ef77e2c1c6" Alias="Events.Purchase.SignInTitle" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sign in to buy</Translation>
    <Translation Language="es-CO">Inicia sesión para comprar</Translation>
  </Translations>
</Dictionary>