<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f4a0711a-aaca-4884-869c-c18a9136647e" Alias="Events.Purchase.ConfirmPending" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Your purchase is on hold (reference {referencia}) but we couldn't confirm it. Try again: you won't be charged twice.</Translation>
    <Translation Language="es-CO">Tu compra quedó apartada (referencia {referencia}) pero no pudimos confirmarla. Vuelve a intentarlo: no se te cobrará dos veces.</Translation>
  </Translations>
</Dictionary>