<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9090932a-1022-4092-98c5-a94fb8b80b3a" Alias="Events.Sale.NotYet" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Not on sale yet</Translation>
    <Translation Language="es-CO">Aún no está a la venta</Translation>
  </Translations>
</Dictionary>