<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="31124081-0498-429e-857f-566cbf52010f" Alias="Events.Purchase.FreeContinue" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Continue to registration</Translation>
    <Translation Language="es-CO">Continuar al registro</Translation>
  </Translations>
</Dictionary>