<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2bc65bf0-11ad-49a6-871d-8089d1986a31" Alias="Events.Purchase.NotOnSale" Level="1">
  <Info>
    <Parent>Events</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">These tickets aren't on sale right now.</Translation>
    <Translation Language="es-CO">Estas entradas no están a la venta en este momento.</Translation>
  </Translations>
</Dictionary>