<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b751e354-0486-466d-8eca-58d626c97f37" Alias="FilterBoard.SortBy" Level="1">
  <Info>
    <Parent>FilterBoard</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Sort by</Translation>
    <Translation Language="es-CO">Ordenar por</Translation>
  </Translations>
</Dictionary>