<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b70dbed9-4ef4-40ef-bdf1-7e65be75f976" Alias="FilterBoard.ApplyFilters" Level="1">
  <Info>
    <Parent>FilterBoard</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Apply filters</Translation>
    <Translation Language="es-CO">Aplicar filtros</Translation>
  </Translations>
</Dictionary>