<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fd01176b-866e-46dc-9f66-e8686d842562" Alias="Flow.Start" Level="1">
  <Info>
    <Parent>Flow</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Start</Translation>
    <Translation Language="es-CO">Comenzar</Translation>
  </Translations>
</Dictionary>