<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4fe02fa8-9241-43e0-a19b-07a566503f8a" Alias="Flow.Steps" Level="1">
  <Info>
    <Parent>Flow</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Steps</Translation>
    <Translation Language="es-CO">Pasos</Translation>
  </Translations>
</Dictionary>