<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f76ab49d-3087-4680-a57b-8849bfcfa238" Alias="Footer.NewsletterTitle" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Stay updated</Translation>
    <Translation Language="es-CO">Mantente informado</Translation>
  </Translations>
</Dictionary>