<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="76267366-a975-48dc-a448-ea19d4930d4a" Alias="Footer.BackToTop" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Back to top</Translation>
    <Translation Language="es-CO">Volver arriba</Translation>
  </Translations>
</Dictionary>