<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f91e5ea4-c4ec-4207-84dd-8043f56551ac" Alias="Footer.PrivacyPolicy" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Privacy Policy</Translation>
    <Translation Language="es-CO">Política de privacidad</Translation>
  </Translations>
</Dictionary>