<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="152028d2-7e4b-469e-98f1-54b6a02d6168" Alias="Footer.AllRightsReserved" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">All rights reserved.</Translation>
    <Translation Language="es-CO">Todos los derechos reservados.</Translation>
  </Translations>
</Dictionary>