<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ace8ca8b-3b3f-4eeb-bb27-bb67c88a99ff" Alias="Footer.NewsletterDesc" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Digital architecture insights. No spam.</Translation>
    <Translation Language="es-CO">Ideas sobre arquitectura digital. Sin spam.</Translation>
  </Translations>
</Dictionary>