<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b2ee6cd6-2760-46ed-bb95-ffbcd7f134bd" Alias="Footer.NavigationTitle" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Navigation</Translation>
    <Translation Language="es-CO">Navegación</Translation>
  </Translations>
</Dictionary>