<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1d9d87ff-99ba-4e86-90b6-96bdfb295b42" Alias="Footer.Accessibility" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Accessibility</Translation>
    <Translation Language="es-CO">Accesibilidad</Translation>
  </Translations>
</Dictionary>