<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="404fc470-745a-4cae-8bb2-00f637ed8c3b" Alias="Footer.CookiePolicy" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Cookie Policy</Translation>
    <Translation Language="es-CO">Política de cookies</Translation>
  </Translations>
</Dictionary>