<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="50bb12d7-83ce-40d2-851a-98e8f78cbc6d" Alias="Form.Actions.Back" Level="1">
  <Info>
    <Parent>Form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Back</Translation>
    <Translation Language="es-CO">Atrás</Translation>
  </Translations>
</Dictionary>