<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c93368b0-9f05-496b-924e-11ac7d74650f" Alias="Form.Error.Email" Level="1">
  <Info>
    <Parent>Form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Please enter a valid email address.</Translation>
    <Translation Language="es-CO">Ingresa una dirección de correo válida.</Translation>
  </Translations>
</Dictionary>
