<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0e1d6737-fbc0-4f8d-8d50-e6802c6ccbf5" Alias="Form.Messages.NetworkError" Level="1">
  <Info>
    <Parent>Form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Connection error. Please try again.</Translation>
    <Translation Language="es-CO">Error de conexión. Inténtalo de nuevo.</Translation>
  </Translations>
</Dictionary>