<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cb1b84f7-11d9-4d3f-b1c0-99be9464c8c6" Alias="Form.Submit" Level="1">
  <Info>
    <Parent>Form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Submit</Translation>
    <Translation Language="es-CO">Enviar</Translation>
  </Translations>
</Dictionary>
