<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="570cbd08-9928-49c9-a1d6-254622044021" Alias="Form.Validation.RequiredSummary" Level="1">
  <Info>
    <Parent>Form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Required fields:</Translation>
    <Translation Language="es-CO">Campos requeridos:</Translation>
  </Translations>
</Dictionary>