<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1f79c2f2-ad13-40b7-8c43-0f962d99729c" Alias="Form.Validation.PasswordMismatch" Level="1">
  <Info>
    <Parent>Form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Passwords do not match.</Translation>
    <Translation Language="es-CO">Las contraseñas no coinciden.</Translation>
  </Translations>
</Dictionary>