<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7d5618b4-94dd-4b25-94c3-77d7a73fea58" Alias="Form.Messages.Error" Level="1">
  <Info>
    <Parent>Form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">An error occurred. Please try again.</Translation>
    <Translation Language="es-CO">Ocurrió un error. Por favor inténtalo de nuevo.</Translation>
  </Translations>
</Dictionary>