<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ffcd7a03-514e-4b21-9801-0e6cf0b394e4" Alias="Form.Required" Level="1">
  <Info>
    <Parent>Form</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Required</Translation>
    <Translation Language="es-CO">Obligatorio</Translation>
  </Translations>
</Dictionary>
