<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="33de88ef-fe40-46cf-b2f1-81156e6b5102" Alias="Gallery.Zoom" Level="1">
  <Info>
    <Parent>Gallery</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Zoom in</Translation>
    <Translation Language="es-CO">Ampliar</Translation>
  </Translations>
</Dictionary>