<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="73860120-6805-40cd-93ed-6ae7aaef51be" Alias="Gallery.Previous" Level="1">
  <Info>
    <Parent>Gallery</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Previous image</Translation>
    <Translation Language="es-CO">Imagen anterior</Translation>
  </Translations>
</Dictionary>