<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3dae275c-8731-45b4-9ea3-1cf1bc2a34e7" Alias="Gallery.Empty" Level="1">
  <Info>
    <Parent>Gallery</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No images to show.</Translation>
    <Translation Language="es-CO">No hay imágenes para mostrar.</Translation>
  </Translations>
</Dictionary>