<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7ce64176-2fa7-4ed2-98ac-b07ebbd0d862" Alias="Gov.Step.Submit.Detail" Level="1">
  <Info>
    <Parent>Gov</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Fill in the form and attach the required documents.</Translation>
    <Translation Language="es-CO">Diligencie el formulario y adjunte los documentos requeridos.</Translation>
  </Translations>
</Dictionary>
