<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="586fa8f3-e2cc-4f41-bc1a-b4f3031beaff" Alias="Gov.Step.Resolution.Title" Level="1">
  <Info>
    <Parent>Gov</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Resolution</Translation>
    <Translation Language="es-CO">Resolución</Translation>
  </Translations>
</Dictionary>
