<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4a45cb03-83d7-4c3d-8d6d-406d39ab8b3f" Alias="Header.Aria.Logo" Level="1">
  <Info>
    <Parent>Header</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Go to homepage</Translation>
    <Translation Language="es-CO">Ir a la página de inicio</Translation>
  </Translations>
</Dictionary>