<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2a915eb5-dc01-484c-b7a0-25fc67e6302e" Alias="Header.LanguageSwitcher" Level="1">
  <Info>
    <Parent>Header</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Change language</Translation>
    <Translation Language="es-CO">Cambiar idioma</Translation>
  </Translations>
</Dictionary>