<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="792de9ec-5048-45e4-b064-b8e532a5b128" Alias="Map.ViewLarger" Level="1">
  <Info>
    <Parent>Map</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">View larger map</Translation>
    <Translation Language="es-CO">Ver mapa ampliado</Translation>
  </Translations>
</Dictionary>