<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1d64de59-9dfb-4b5d-8af8-34cc04d66878" Alias="Map.Aria" Level="1">
  <Info>
    <Parent>Map</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Location map</Translation>
    <Translation Language="es-CO">Mapa de ubicación</Translation>
  </Translations>
</Dictionary>