<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b2f911c3-4e0a-4b57-9bb4-62c8df4eacc6" Alias="Map.Error" Level="1">
  <Info>
    <Parent>Map</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Map unavailable.</Translation>
    <Translation Language="es-CO">Mapa no disponible.</Translation>
  </Translations>
</Dictionary>