<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a0c0e34d-2e3a-47f9-a7dc-1bf87fecdaa7" Alias="Map.Pin" Level="1">
  <Info>
    <Parent>Map</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Location {n}</Translation>
    <Translation Language="es-CO">Ubicación {n}</Translation>
  </Translations>
</Dictionary>