<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8587d542-be83-493a-801b-20dba946d0c3" Alias="Media.Unmute" Level="1">
  <Info>
    <Parent>Media</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Unmute</Translation>
    <Translation Language="es-CO">Activar sonido</Translation>
  </Translations>
</Dictionary>