<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ab9b6eff-d9ed-499d-80d0-87d8d76f4b0a" Alias="Media.Pause" Level="1">
  <Info>
    <Parent>Media</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Pause</Translation>
    <Translation Language="es-CO">Pausar</Translation>
  </Translations>
</Dictionary>