<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="efa1ba31-44f3-4dde-a19c-708150a73c31" Alias="Media.Time" Level="1">
  <Info>
    <Parent>Media</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">{current} of {total}</Translation>
    <Translation Language="es-CO">{current} de {total}</Translation>
  </Translations>
</Dictionary>