<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="423567c1-5cbf-4b1b-a55a-da2303613f60" Alias="Nav.Menu" Level="1">
  <Info>
    <Parent>Nav</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Menu</Translation>
    <Translation Language="es-CO">Menú</Translation>
  </Translations>
</Dictionary>
