<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9ae40bef-0873-45c6-b1c0-3376830585cd" Alias="Nav.BackToHome" Level="1">
  <Info>
    <Parent>Nav</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Back to home</Translation>
    <Translation Language="es-CO">Volver al inicio</Translation>
  </Translations>
</Dictionary>