<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e4fd47a2-78a6-4b69-b8d0-4e19d4d59537" Alias="Nav.Breadcrumb" Level="1">
  <Info>
    <Parent>Nav</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Breadcrumb</Translation>
    <Translation Language="es-CO">Ruta de navegación</Translation>
  </Translations>
</Dictionary>