<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1e4347c2-1e98-4eeb-bc48-72d57b4de239" Alias="Nav.LanguageSelector" Level="1">
  <Info>
    <Parent>Nav</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Language selector</Translation>
    <Translation Language="es-CO">Selector de idioma</Translation>
  </Translations>
</Dictionary>