<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6febb3b0-3891-4a89-a780-552a716e2f99" Alias="Nav.CurrentPage" Level="1">
  <Info>
    <Parent>Nav</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Current page</Translation>
    <Translation Language="es-CO">Página actual</Translation>
  </Translations>
</Dictionary>