<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="83e3840d-657d-4a8f-82a6-72bccb1982b0" Alias="Nav.BreadcrumbHome" Level="1">
  <Info>
    <Parent>Nav</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Home</Translation>
    <Translation Language="es-CO">Inicio</Translation>
  </Translations>
</Dictionary>