<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d3d92e21-83b7-4d9f-a5ce-6cab12a93e3a" Alias="Nav.Close" Level="1">
  <Info>
    <Parent>Nav</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Close</Translation>
    <Translation Language="es-CO">Cerrar</Translation>
  </Translations>
</Dictionary>
