<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5b77a1d8-c9f5-4ebb-b9b9-feaac2b00739" Alias="Newsletter.ErrorDuplicate" Level="1">
  <Info>
    <Parent>Newsletter</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">You&apos;re already subscribed.</Translation>
    <Translation Language="es-CO">Ya estás suscrito.</Translation>
  </Translations>
</Dictionary>