<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ca8c7695-c9ae-4dce-9b73-9525304b4191" Alias="Newsletter.ConsentLabel" Level="1">
  <Info>
    <Parent>Newsletter</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">I agree to receive marketing emails.</Translation>
    <Translation Language="es-CO">Acepto recibir correos de marketing.</Translation>
  </Translations>
</Dictionary>