<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3a5fcafa-9362-4b6c-8318-2932a5eee0d8" Alias="Notification.Dismiss" Level="1">
  <Info>
    <Parent>Notification</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Dismiss</Translation>
    <Translation Language="es-CO">Cerrar</Translation>
  </Translations>
</Dictionary>