<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ffc3afc6-4a4b-42d4-8185-60d7d2fe72aa" Alias="Notification.New" Level="1">
  <Info>
    <Parent>Notification</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">{n} new</Translation>
    <Translation Language="es-CO">{n} nuevas</Translation>
  </Translations>
</Dictionary>