<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5dd4e59b-9216-46f3-a58a-eb164da118b3" Alias="Notification.Empty" Level="1">
  <Info>
    <Parent>Notification</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No notifications</Translation>
    <Translation Language="es-CO">Sin notificaciones</Translation>
  </Translations>
</Dictionary>