<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="32528cc4-a846-4350-a073-7bf00244cbd8" Alias="Pagination.ItemsPerPage" Level="1">
  <Info>
    <Parent>Pagination</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Items per page</Translation>
    <Translation Language="es-CO">Elementos por página</Translation>
  </Translations>
</Dictionary>