<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9a2b9985-fe40-476f-a3ba-8c7fa960ec74" Alias="Pagination.Previous" Level="1">
  <Info>
    <Parent>Pagination</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Previous</Translation>
    <Translation Language="es-CO">Anterior</Translation>
  </Translations>
</Dictionary>
