<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6870dbee-00b3-4ae3-9165-7b67ab9d3948" Alias="Pagination.Of" Level="1">
  <Info>
    <Parent>Pagination</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">of</Translation>
    <Translation Language="es-CO">de</Translation>
  </Translations>
</Dictionary>