<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d64221b3-3fb6-4e1b-aac6-feeead98b937" Alias="Pricing.BilledAnnually" Level="1">
  <Info>
    <Parent>Pricing</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Billed annually</Translation>
    <Translation Language="es-CO">Facturado anualmente</Translation>
  </Translations>
</Dictionary>