<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e4bd178e-7889-4cde-b854-cf25a454a56b" Alias="Pricing.PerYear" Level="1">
  <Info>
    <Parent>Pricing</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">/ year</Translation>
    <Translation Language="es-CO">/ año</Translation>
  </Translations>
</Dictionary>