<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a5b67792-38a4-40c4-afa0-b4df9768c94e" Alias="Quiz.Start" Level="1">
  <Info>
    <Parent>Quiz</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Start quiz</Translation>
    <Translation Language="es-CO">Iniciar quiz</Translation>
  </Translations>
</Dictionary>