<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="942de1ea-1696-4f36-88c8-c390909c8007" Alias="Quiz.Correct" Level="1">
  <Info>
    <Parent>Quiz</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Correct!</Translation>
    <Translation Language="es-CO">¡Correcto!</Translation>
  </Translations>
</Dictionary>