<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="09586ee6-5f2d-4914-b348-4c718d6564a6" Alias="Quiz.Incorrect" Level="1">
  <Info>
    <Parent>Quiz</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Incorrect</Translation>
    <Translation Language="es-CO">Incorrecto</Translation>
  </Translations>
</Dictionary>