<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="550f9a5c-344b-4e9a-aeeb-6cd306e42cde" Alias="Quiz.Score" Level="1">
  <Info>
    <Parent>Quiz</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">{score} of {total} correct</Translation>
    <Translation Language="es-CO">{score} de {total} correctas</Translation>
  </Translations>
</Dictionary>