<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="3d292ceb-b7c5-4204-a5ce-818f90a7bb7b" Alias="RangeSlider.Aria" Level="1">
  <Info>
    <Parent>RangeSlider</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Range</Translation>
    <Translation Language="es-CO">Rango</Translation>
  </Translations>
</Dictionary>