<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="579bbc3b-7164-49fe-a0c3-755412f4b947" Alias="Rating.AlreadyRated" Level="1">
  <Info>
    <Parent>Rating</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">You&apos;ve already rated this.</Translation>
    <Translation Language="es-CO">Ya has valorado esto.</Translation>
  </Translations>
</Dictionary>