<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="17962132-0b07-4fa0-8ff1-ebc4e1d9f483" Alias="Rating.Average" Level="1">
  <Info>
    <Parent>Rating</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">{avg} average ({count} reviews)</Translation>
    <Translation Language="es-CO">{avg} promedio ({count} reseñas)</Translation>
  </Translations>
</Dictionary>