<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="eee1dba3-1e43-4a5f-9c73-50cccb1c155c" Alias="Realty.Spec.Beds" Level="1">
  <Info>
    <Parent>Realty</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Bedrooms</Translation>
    <Translation Language="es-CO">Habitaciones</Translation>
  </Translations>
</Dictionary>