<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1a64081d-291c-4e42-826b-f33ade541431" Alias="Realty.Visit.SlotsEmpty" Level="1">
  <Info>
    <Parent>Realty</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No time slots available for this property right now.</Translation>
    <Translation Language="es-CO">No hay franjas disponibles para este inmueble por ahora.</Translation>
  </Translations>
</Dictionary>