<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="73122458-514a-41ca-bf8a-d51701c62982" Alias="Search.Previous" Level="1">
  <Info>
    <Parent>Search</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Previous</Translation>
    <Translation Language="es-CO">Anteriores</Translation>
  </Translations>
</Dictionary>
