<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="68b45153-eac2-41c5-9bc7-9b448e54c3ca" Alias="Search.NoResults" Level="1">
  <Info>
    <Parent>Search</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No results found for &quot;{query}&quot;.</Translation>
    <Translation Language="es-CO">Sin resultados para &quot;{query}&quot;.</Translation>
  </Translations>
</Dictionary>