<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9eaecf52-ed1d-4768-8ffd-bfd16facde9e" Alias="Search.Searching" Level="1">
  <Info>
    <Parent>Search</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Searching…</Translation>
    <Translation Language="es-CO">Buscando…</Translation>
  </Translations>
</Dictionary>