<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b03af6d3-15c7-44e9-8d8a-665049d3c5f0" Alias="Search.ClearSearch" Level="1">
  <Info>
    <Parent>Search</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Clear search</Translation>
    <Translation Language="es-CO">Limpiar búsqueda</Translation>
  </Translations>
</Dictionary>