<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="51c4ad44-c420-480a-aead-27746cd94331" Alias="Search.Suggestions" Level="1">
  <Info>
    <Parent>Search</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Suggestions</Translation>
    <Translation Language="es-CO">Sugerencias</Translation>
  </Translations>
</Dictionary>