<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="55380369-7a4d-4428-a6d1-77420f8ae25d" Alias="Search.Next" Level="1">
  <Info>
    <Parent>Search</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Next</Translation>
    <Translation Language="es-CO">Siguientes</Translation>
  </Translations>
</Dictionary>
