<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="91d9abda-1a0a-4179-9ef1-a16d49e0c49b" Alias="Search.Placeholder" Level="1">
  <Info>
    <Parent>Search</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Search…</Translation>
    <Translation Language="es-CO">Buscar…</Translation>
  </Translations>
</Dictionary>