<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="679a1bde-abed-46af-a3c2-d28e3f697b1d" Alias="SelectMulti.Selection" Level="1">
  <Info>
    <Parent>SelectMulti</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Current selection</Translation>
    <Translation Language="es-CO">Selección actual</Translation>
  </Translations>
</Dictionary>