<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="df9e6549-869d-45f9-b74a-21841517ffbc" Alias="SelectMulti.Selected.One" Level="1">
  <Info>
    <Parent>SelectMulti</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">1 option selected.</Translation>
    <Translation Language="es-CO">1 opción seleccionada.</Translation>
  </Translations>
</Dictionary>