<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9a26a1cc-921a-40ac-beee-554f7babd5d7" Alias="SelectMulti.Remove" Level="1">
  <Info>
    <Parent>SelectMulti</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Remove {label}</Translation>
    <Translation Language="es-CO">Quitar {label}</Translation>
  </Translations>
</Dictionary>