<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f1e3ddba-1f1e-4c3c-890b-b91651adad7d" Alias="Share.Copied" Level="1">
  <Info>
    <Parent>Share</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Link copied</Translation>
    <Translation Language="es-CO">Enlace copiado</Translation>
  </Translations>
</Dictionary>
