<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c9e9b5ac-40f3-4924-b8fb-272fb9c3556a" Alias="Share.Label" Level="1">
  <Info>
    <Parent>Share</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Share</Translation>
    <Translation Language="es-CO">Compartir</Translation>
  </Translations>
</Dictionary>
