<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="512e7a22-c7ef-4a74-8d29-a22f1f4fa9e9" Alias="Shop.Product.LowStock" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Only {n} left</Translation>
    <Translation Language="es-CO">Solo quedan {n}</Translation>
  </Translations>
</Dictionary>