<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6623f038-1000-452e-ac97-08de51b48152" Alias="Shop.Filter.Relevance" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Relevance</Translation>
    <Translation Language="es-CO">Relevancia</Translation>
  </Translations>
</Dictionary>