<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f20e5845-81ef-4d18-b718-89230de07022" Alias="Shop.Order.PlaceOrder" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Place order</Translation>
    <Translation Language="es-CO">Finalizar compra</Translation>
  </Translations>
</Dictionary>