<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f1650897-265e-4741-9d47-f6b98fec8ecd" Alias="Shop.Product.Trust.Returns" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">30-day returns</Translation>
    <Translation Language="es-CO">Devoluciones en 30 días</Translation>
  </Translations>
</Dictionary>
