<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b54b69ff-2e49-456e-9411-56794e1ca073" Alias="Shop.Cart.ApplyCoupon" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Apply</Translation>
    <Translation Language="es-CO">Aplicar</Translation>
  </Translations>
</Dictionary>