<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="25890d83-75b1-4aba-9a4d-10d9527c1440" Alias="Shop.Product.AddToCart" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Add to cart</Translation>
    <Translation Language="es-CO">Agregar al carrito</Translation>
  </Translations>
</Dictionary>