<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5993cddc-b0a9-46ae-8ab5-8ed9e70d79e0" Alias="Shop.Order.Number" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Order #{number}</Translation>
    <Translation Language="es-CO">Pedido #{number}</Translation>
  </Translations>
</Dictionary>