<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1ac53d90-bf95-4b31-af86-01b2affef0ef" Alias="Shop.Product.Rating" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Reviews</Translation>
    <Translation Language="es-CO">Valoraciones</Translation>
  </Translations>
</Dictionary>