<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4148466f-5834-4726-be18-39b0505ffb15" Alias="Shop.Product.Share" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Share</Translation>
    <Translation Language="es-CO">Compartir</Translation>
  </Translations>
</Dictionary>