<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4c301c4f-c8d6-4741-bf99-3dcf495e522e" Alias="Shop.Cart.Empty" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Your cart is empty</Translation>
    <Translation Language="es-CO">Tu carrito está vacío</Translation>
  </Translations>
</Dictionary>