<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e5713bf1-2dbf-4a02-aa9b-acda667eb245" Alias="Shop.Cart.Shipping" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Shipping</Translation>
    <Translation Language="es-CO">Envío</Translation>
  </Translations>
</Dictionary>