<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5d816af9-2104-4606-acad-7c31ba79f949" Alias="Shop.Cart.Checkout" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Proceed to checkout</Translation>
    <Translation Language="es-CO">Proceder al pago</Translation>
  </Translations>
</Dictionary>