<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a7ed7524-9482-4a3f-aa3d-c76b98aae098" Alias="Shop.Product.Trust.Shipping" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Free nationwide shipping</Translation>
    <Translation Language="es-CO">Envío gratis a todo el país</Translation>
  </Translations>
</Dictionary>
