<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="84e62e43-c065-4902-8245-8bacd135e77e" Alias="Shop.Filter.Clear" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Clear filters</Translation>
    <Translation Language="es-CO">Limpiar filtros</Translation>
  </Translations>
</Dictionary>