<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="113b9e7f-3060-42fc-bf66-4ea69528fca1" Alias="Shop.Product.SelectVariant" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Select an option</Translation>
    <Translation Language="es-CO">Selecciona una opción</Translation>
  </Translations>
</Dictionary>