<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cde88862-988d-4c4b-96b9-0bc687508443" Alias="Shop.Filter.PriceLow" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Price: low to high</Translation>
    <Translation Language="es-CO">Precio: menor a mayor</Translation>
  </Translations>
</Dictionary>