<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="30f31bdc-015b-47b7-86cf-bcb52e8a05af" Alias="Shop.Pagination.Next" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Next</Translation>
    <Translation Language="es-CO">Siguientes</Translation>
  </Translations>
</Dictionary>
