<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a14dca2e-e8b4-498f-a5f4-d8bd4e11c1ad" Alias="Shop.Product.Sku" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">SKU</Translation>
    <Translation Language="es-CO">Referencia</Translation>
  </Translations>
</Dictionary>