<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="19981331-aba1-4c04-a06e-daea24d59773" Alias="Shop.Cart.Total" Level="1">
  <Info>
    <Parent>Shop</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Total</Translation>
    <Translation Language="es-CO">Total</Translation>
  </Translations>
</Dictionary>