<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9d0e3e54-7422-4115-8a69-d183b8d73cce" Alias="Slider.Aria" Level="1">
  <Info>
    <Parent>Slider</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Gallery</Translation>
    <Translation Language="es-CO">Galería</Translation>
  </Translations>
</Dictionary>