<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bdca6479-d397-4995-85de-2fce5cae1119" Alias="Slider.GoToSlide" Level="1">
  <Info>
    <Parent>Slider</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Go to slide {n}</Translation>
    <Translation Language="es-CO">Ir a diapositiva {n}</Translation>
  </Translations>
</Dictionary>