<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ebe1e474-6ccd-46d8-ae55-bdfc0bd3019b" Alias="Slider.Next" Level="1">
  <Info>
    <Parent>Slider</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Next slide</Translation>
    <Translation Language="es-CO">Siguiente diapositiva</Translation>
  </Translations>
</Dictionary>