<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="208178f0-a307-4c71-a33d-f81682986ce5" Alias="Slider.SlideOf" Level="1">
  <Info>
    <Parent>Slider</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Slide {n} of {total}</Translation>
    <Translation Language="es-CO">Diapositiva {n} de {total}</Translation>
  </Translations>
</Dictionary>