<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="799f2c6f-04ad-4977-85cb-4828e81605c4" Alias="Slider.Current" Level="1">
  <Info>
    <Parent>Slider</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Current slide</Translation>
    <Translation Language="es-CO">Diapositiva actual</Translation>
  </Translations>
</Dictionary>