<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="23cf3ee5-34d6-4e33-85ce-bb5476a12f02" Alias="Social.Share.CopyLink" Level="1">
  <Info>
    <Parent>Social</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Copy link</Translation>
    <Translation Language="es-CO">Copiar enlace</Translation>
  </Translations>
</Dictionary>