<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0ac91a11-3d35-4081-b335-45694cee9136" Alias="Social.Share.WhatsApp" Level="1">
  <Info>
    <Parent>Social</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Share on WhatsApp</Translation>
    <Translation Language="es-CO">Compartir en WhatsApp</Translation>
  </Translations>
</Dictionary>