<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2b203c44-62fa-482b-bee4-9c85bef57355" Alias="Stay.Spec.CheckIn" Level="1">
  <Info>
    <Parent>Stay</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Check-in</Translation>
    <Translation Language="es-CO">Check-in</Translation>
  </Translations>
</Dictionary>
