<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="12b21cca-1504-4fa5-bdba-f0516de8e905" Alias="Stay.Spec.Rooms" Level="1">
  <Info>
    <Parent>Stay</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Rooms</Translation>
    <Translation Language="es-CO">Habitaciones</Translation>
  </Translations>
</Dictionary>
