<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6bbb25ed-765e-4225-bd63-476dff0088cd" Alias="Stay.Review.Cleanliness" Level="1">
  <Info>
    <Parent>Stay</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Cleanliness</Translation>
    <Translation Language="es-CO">Limpieza</Translation>
  </Translations>
</Dictionary>
