<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0196c55f-80b3-432a-8ae4-918e7be67e2a" Alias="Stay.Review.Service" Level="1">
  <Info>
    <Parent>Stay</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Service</Translation>
    <Translation Language="es-CO">Servicio</Translation>
  </Translations>
</Dictionary>
