<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8a3a90cc-953f-486b-97cf-75295ea55fe8" Alias="Stay.Review.Location" Level="1">
  <Info>
    <Parent>Stay</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Location</Translation>
    <Translation Language="es-CO">Ubicación</Translation>
  </Translations>
</Dictionary>
