<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1f389060-777e-4e3e-bee7-edf00a54184e" Alias="Stay.Review.Value" Level="1">
  <Info>
    <Parent>Stay</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Value for money</Translation>
    <Translation Language="es-CO">Relación precio-calidad</Translation>
  </Translations>
</Dictionary>
