<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7d30500f-60ec-48d0-9305-e2fe0238294f" Alias="Stepper.Status.Done" Level="1">
  <Info>
    <Parent>Stepper</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">completed</Translation>
    <Translation Language="es-CO">completado</Translation>
  </Translations>
</Dictionary>