<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="81d8f8be-ff6f-47b2-b3e1-5f4959e5f648" Alias="Stepper.Status.Pending" Level="1">
  <Info>
    <Parent>Stepper</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">pending</Translation>
    <Translation Language="es-CO">pendiente</Translation>
  </Translations>
</Dictionary>