<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="122757fb-ca7b-4e23-9901-1d79446d7b2f" Alias="Synhost.Hero.Aria" Level="1">
  <Info>
    <Parent>Synhost</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Featured section</Translation>
    <Translation Language="es-CO">Sección destacada</Translation>
  </Translations>
</Dictionary>