<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1f6270c8-ec18-49fb-b5cd-928fca433501" Alias="Synhost.Kpi.Sparkline" Level="1">
  <Info>
    <Parent>Synhost</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Trend: {label}</Translation>
    <Translation Language="es-CO">Evolución: {label}</Translation>
  </Translations>
</Dictionary>