<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="02ff1898-a4d8-44c7-83c3-5e6f2042d829" Alias="Synhost.Testimonials.Aria" Level="1">
  <Info>
    <Parent>Synhost</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Testimonials</Translation>
    <Translation Language="es-CO">Testimonios</Translation>
  </Translations>
</Dictionary>