<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="c5bbacb2-2be9-4435-a851-8576b4328b60" Alias="Synhost.Kpi.Trend.Down" Level="1">
  <Info>
    <Parent>Synhost</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Downward trend</Translation>
    <Translation Language="es-CO">Tendencia a la baja</Translation>
  </Translations>
</Dictionary>