<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b302fc6c-4cb6-4f94-8697-e10fa78e4e51" Alias="Synhost.Kpi.Aria" Level="1">
  <Info>
    <Parent>Synhost</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Indicator</Translation>
    <Translation Language="es-CO">Indicador</Translation>
  </Translations>
</Dictionary>