<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="11df8ec0-f8c7-42b1-995c-8b195e03081a" Alias="Synhost.Kpi.Trend.Up" Level="1">
  <Info>
    <Parent>Synhost</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Upward trend</Translation>
    <Translation Language="es-CO">Tendencia al alza</Translation>
  </Translations>
</Dictionary>