<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cb5bc5e6-7c8b-49b5-a52f-63238828612c" Alias="Tab.Aria.Selected" Level="1">
  <Info>
    <Parent>Tab</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Selected tab</Translation>
    <Translation Language="es-CO">Pestaña seleccionada</Translation>
  </Translations>
</Dictionary>