<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="8c593ec1-ed4d-4d2e-bae6-d97578003fc3" Alias="Tag.Remove" Level="1">
  <Info>
    <Parent>Tag</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Remove</Translation>
    <Translation Language="es-CO">Quitar</Translation>
  </Translations>
</Dictionary>