<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1cdfb65d-806f-4784-a844-157133273f17" Alias="Testimonial.Rating.Aria" Level="1">
  <Info>
    <Parent>Testimonial</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">{n} out of 5 stars</Translation>
    <Translation Language="es-CO">{n} de 5 estrellas</Translation>
  </Translations>
</Dictionary>