<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="294467b6-a439-4660-a36a-6ba9055bb5aa" Alias="Timeline.Aria" Level="1">
  <Info>
    <Parent>Timeline</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Timeline</Translation>
    <Translation Language="es-CO">Línea de tiempo</Translation>
  </Translations>
</Dictionary>