<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bd315361-0c8c-45af-93bc-d94f2f48931a" Alias="Timeline.Empty" Level="1">
  <Info>
    <Parent>Timeline</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No milestones to show.</Translation>
    <Translation Language="es-CO">No hay hitos para mostrar.</Translation>
  </Translations>
</Dictionary>