<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="be59e819-751a-4c0d-9bad-4e3c92e52ac9" Alias="TreeView.Collapse" Level="1">
  <Info>
    <Parent>TreeView</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Collapse {label}</Translation>
    <Translation Language="es-CO">Contraer {label}</Translation>
  </Translations>
</Dictionary>