<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="df27a89b-8cd7-4243-bdf5-5319f5759242" Alias="TreeView.Aria" Level="1">
  <Info>
    <Parent>TreeView</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Navigation tree</Translation>
    <Translation Language="es-CO">Árbol de navegación</Translation>
  </Translations>
</Dictionary>