<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a6a28b10-cc9f-4bde-a4eb-710dab5f8bcd" Alias="TreeView.Empty" Level="1">
  <Info>
    <Parent>TreeView</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No items to show.</Translation>
    <Translation Language="es-CO">No hay elementos para mostrar.</Translation>
  </Translations>
</Dictionary>