<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="9c2f4ae4-d5c5-44c6-9a45-70e289aebfaa" Alias="Video.Empty" Level="1">
  <Info>
    <Parent>Video</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">No video has been set up.</Translation>
    <Translation Language="es-CO">No hay un video configurado.</Translation>
  </Translations>
</Dictionary>