<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="33f0df95-5c0c-4e92-9c9b-8ec0c9585b74" Alias="Video.ExitFullscreen" Level="1">
  <Info>
    <Parent>Video</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Exit fullscreen</Translation>
    <Translation Language="es-CO">Salir de pantalla completa</Translation>
  </Translations>
</Dictionary>