<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dd155daa-588b-436b-bec3-6a41b58258ef" Alias="Video.Unmute" Level="1">
  <Info>
    <Parent>Video</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Unmute</Translation>
    <Translation Language="es-CO">Activar sonido</Translation>
  </Translations>
</Dictionary>